pipeline/01b_PreProcess_CSV_Headers.json
{
	"name": "01b_PreProcess_CSV_Headers",
	"properties": {
		"activities": [
			{
				"name": "ForEach File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get All Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get All Files').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get File Structure",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "dsADLSfile",
									"type": "DatasetReference",
									"parameters": {
										"blobfolder": {
											"value": "@pipeline().parameters.folder",
											"type": "Expression"
										},
										"blobcontainer": {
											"value": "@pipeline().parameters.container",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"storageuri": {
											"value": "@pipeline().parameters.storageuri",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"structure"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Set Headers",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get File Structure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Headers",
								"value": {
									"value": "@union(activity('Get File Structure').output.structure,variables('HeaderCheck'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set HeaderCheck",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set Headers",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "HeaderCheck",
								"value": {
									"value": "@variables('Headers')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Get All Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dsADLSfolder",
						"type": "DatasetReference",
						"parameters": {
							"blobfolder": {
								"value": "@pipeline().parameters.folder",
								"type": "Expression"
							},
							"blobcontainer": {
								"value": "@pipeline().parameters.container",
								"type": "Expression"
							},
							"storageuri": {
								"value": "@pipeline().parameters.storageuri",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set HeaderCheck TopLevel",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "HeaderCheck",
					"value": {
						"value": "@variables('Headers')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach Header",
				"description": "Equivalent to discovery pipeline",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set HeaderCheck TopLevel",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('HeaderCheck')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Add to TempSourceSchema",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Wait",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[temp].[CSVSourceSchemaWrite]",
								"storedProcedureParameters": {
									"BatchGroupID": {
										"value": {
											"value": "@pipeline().parameters.BatchGroupID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"BatchRunID": {
										"value": {
											"value": "@pipeline().parameters.BatchRunID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"DataFactoryName": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"FeedKey": {
										"value": {
											"value": "@pipeline().parameters.FeedKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Header": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"TableName": {
										"value": {
											"value": "@pipeline().parameters.feed_folder",
											"type": "Expression"
										},
										"type": "String"
									},
									"timeout": {
										"value": "60",
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Wait",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "01c PreProcess TempTableCreate",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Get SourceSchema Headers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "01c_PreProcess_TempTableCreate",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"FeedKey": {
							"value": "@pipeline().parameters.FeedKey",
							"type": "Expression"
						},
						"mdpdb": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						},
						"mdpserver": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"Headers": {
							"value": "@activity('Get SourceSchema Headers').output.firstRow.Headers",
							"type": "Expression"
						},
						"BatchGroupID": {
							"value": "@pipeline().parameters.BatchGroupID",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"BatchRunID": {
							"value": "@pipeline().parameters.BatchRunID",
							"type": "Expression"
						},
						"BatchProcessLogID": {
							"value": "@pipeline().parameters.BatchProcessLogID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "01d PreProcess MergeCSVs",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "01c PreProcess TempTableCreate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "01d_PreProcess_MergeCSVs",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"FeedKey": {
							"value": "@pipeline().parameters.FeedKey",
							"type": "Expression"
						},
						"container": {
							"value": "@pipeline().parameters.container",
							"type": "Expression"
						},
						"folder": {
							"value": "@pipeline().parameters.folder",
							"type": "Expression"
						},
						"storage_uri": {
							"value": "@pipeline().parameters.storageuri",
							"type": "Expression"
						},
						"mdpdb": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						},
						"mdpserver": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"BatchGroupID": {
							"value": "@pipeline().parameters.BatchGroupID",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"feed_folder": {
							"value": "@pipeline().parameters.feed_folder",
							"type": "Expression"
						},
						"BatchRunID": {
							"value": "@pipeline().parameters.BatchRunID",
							"type": "Expression"
						},
						"BatchProcessLogID": {
							"value": "@pipeline().parameters.BatchProcessLogID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Update and Fetch TempTable State",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "01d PreProcess MergeCSVs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "UPDATE [temp].[CSVBuilderControl]\nSET [state] = 2\nWHERE [state] = 0\nAND [PipelineRunID] = '@{pipeline().RunId}'\nAND [BatchGroupID] = '@{pipeline().parameters.BatchGroupID}'\nAND [FeedKey] = '@{pipeline().parameters.FeedKey}'\n\nSELECT [state] \nFROM [temp].[CSVBuilderControl]\nWHERE [PipelineRunID] = '@{pipeline().RunId}'\nAND [BatchGroupID] = '@{pipeline().parameters.BatchGroupID}'\nAND [FeedKey] = '@{pipeline().parameters.FeedKey}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsMDP",
						"type": "DatasetReference",
						"parameters": {
							"server": {
								"value": "@pipeline().parameters.mdpserver",
								"type": "Expression"
							},
							"db": {
								"value": "@pipeline().parameters.mdpdb",
								"type": "Expression"
							},
							"schema": "dbo",
							"table": "Dummy"
						}
					}
				}
			},
			{
				"name": "Set BatchProcess Close Error",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update and Fetch TempTable State",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[app].[SetBatchProcessLogClose]",
					"storedProcedureParameters": {
						"BatchProcessLogId": {
							"value": {
								"value": "@pipeline().parameters.BatchProcessLogId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('Update and Fetch TempTable State').Error.Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"SuccessFlag": {
							"value": "0",
							"type": "Int32"
						},
						"ErrorObject": {
							"value": "01b Update and Fetch TempTable State",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Get SourceSchema Headers",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach Header",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT STRING_AGG(FieldCreateSQL,',') WITHIN GROUP (ORDER BY FieldPosition ASC) AS Headers\nFROM ##SourceSchema_@{pipeline().parameters.BatchRunID}_@{pipeline().parameters.BatchGroupID}_Temp\nwhere FeedKey = @{pipeline().parameters.FeedKey}\nand TableName = '@{pipeline().parameters.feed_folder}'\nand BatchRunId = @{pipeline().parameters.BatchRunID}\nand BatchGroupId = @{pipeline().parameters.BatchGroupID}\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsMDP",
						"type": "DatasetReference",
						"parameters": {
							"server": {
								"value": "@pipeline().parameters.mdpserver",
								"type": "Expression"
							},
							"db": {
								"value": "@pipeline().parameters.mdpdb",
								"type": "Expression"
							},
							"schema": "dbo",
							"table": "Dummy"
						}
					}
				}
			}
		],
		"parameters": {
			"folder": {
				"type": "string",
				"defaultValue": "schoolcensus/raw/pupil"
			},
			"container": {
				"type": "string",
				"defaultValue": "landing"
			},
			"storageuri": {
				"type": "string",
				"defaultValue": "https://lbsstdatalake001.dfs.core.windows.net"
			},
			"FeedKey": {
				"type": "string",
				"defaultValue": "20014"
			},
			"mdpdb": {
				"type": "string",
				"defaultValue": "lbs-sqldb-mdp-dev"
			},
			"mdpserver": {
				"type": "string",
				"defaultValue": "lbs-sql-mdp-dev.database.windows.net"
			},
			"BatchGroupID": {
				"type": "string",
				"defaultValue": "2"
			},
			"feed_folder": {
				"type": "string",
				"defaultValue": "pupil"
			},
			"BatchRunID": {
				"type": "int",
				"defaultValue": 29998
			},
			"BatchProcessLogID": {
				"type": "int",
				"defaultValue": 92228
			}
		},
		"variables": {
			"Headers": {
				"type": "Array"
			},
			"HeaderCheck": {
				"type": "Array"
			},
			"HeaderString": {
				"type": "String"
			},
			"HeaderStringSwap": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MDPPreProcess"
		},
		"annotations": []
	}
}