pipeline/1_Discovery.json
{
	"name": "1_Discovery",
	"properties": {
		"description": "Get Storage Metadata into Config\n\nRun Mode 0 = ADLS/Storage\nRun Mode 1 = Database\n\n[Process Stream DSC2APP]",
		"activities": [
			{
				"name": "Set BatchProcessLogId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LogProcessStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "BatchProcessLogId",
					"value": {
						"value": "@activity('LogProcessStart').output.firstrow.NewProcessId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LogProcessStart",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[app].[SetBatchProcessLog]",
						"storedProcedureParameters": {
							"BatchRunId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.BatchRunId",
									"type": "Expression"
								}
							},
							"NewProcessId": {
								"type": "Int32",
								"value": "0"
							},
							"ProcessBatchGroupId": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.BatchGroupId",
									"type": "Expression"
								}
							},
							"ProcessDataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"ProcessPipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"ProcessPipelineRunId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"ProcessRunMode": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.RunMode",
									"type": "Expression"
								}
							},
							"ProcessStreamCode": {
								"type": "String",
								"value": {
									"value": "@if(equals(pipeline().parameters.RunMode,0),'DSC2APP1','DSC2APP2')",
									"type": "Expression"
								}
							},
							"ProcessTriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsMDP",
						"type": "DatasetReference",
						"parameters": {
							"server": {
								"value": "@pipeline().parameters.mdpserver",
								"type": "Expression"
							},
							"db": {
								"value": "@pipeline().parameters.mdpdb",
								"type": "Expression"
							},
							"schema": "dbo",
							"table": "Dummy"
						}
					}
				}
			},
			{
				"name": "Set BatchProcess Close",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "RunModeTypeSwitch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[app].[SetBatchProcessLogClose]",
					"storedProcedureParameters": {
						"BatchProcessLogId": {
							"value": {
								"value": "@variables('BatchProcessLogId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": " ",
							"type": "String"
						},
						"SuccessFlag": {
							"value": "1",
							"type": "Int32"
						},
						"ErrorObject": {
							"value": " ",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp_Azure",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set BatchProcess Close Error1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "RunModeTypeSwitch",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[app].[SetBatchProcessLogClose]",
					"storedProcedureParameters": {
						"BatchProcessLogId": {
							"value": {
								"value": "@variables('BatchProcessLogId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@{activity('RunModeTypeSwitch').Error.Message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"SuccessFlag": {
							"value": "0",
							"type": "Int32"
						},
						"ErrorObject": {
							"value": "1 Discovery Run Mode",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp_Azure",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "RunModeTypeSwitch",
				"description": "Default = wait\n1 = FinOps ADLS \n2 = Oracle\n3 = AzureSQL\n4 = SQL On-Prem\n5 = csv\n0 = database discovery ? not sure need removing?\n10 = MySQL\n12 = AmazonS3\n",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Set BatchProcessLogId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.RunMode",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "1",
							"activities": [
								{
									"name": "Execute ADLS Get",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "1a_LogADLSdiscoveryGet",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"blobcontainer": {
												"value": "@pipeline().parameters.Container",
												"type": "Expression"
											},
											"WebhookURL": {
												"value": "@pipeline().parameters.DiscoveryWebhook",
												"type": "Expression"
											},
											"BatchRunId": {
												"value": "@pipeline().parameters.BatchRunId",
												"type": "Expression"
											},
											"BatchGroupId": {
												"value": "@pipeline().parameters.BatchGroupId",
												"type": "Expression"
											},
											"ConnectionName": {
												"value": "@pipeline().parameters.StorageConnectionString",
												"type": "Expression"
											},
											"mdpserver": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"mdpdb": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											},
											"keyvaultdnsname": {
												"value": "@pipeline().parameters.keyvaultdnsname",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Execute ADLS Set",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Execute ADLS Get",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "1b_LogADLSdiscoverySet",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"blobcontainer": {
												"value": "@pipeline().parameters.Container",
												"type": "Expression"
											},
											"BatchGroupId": {
												"value": "@pipeline().parameters.BatchGroupId",
												"type": "Expression"
											},
											"BatchRunId": {
												"value": "@pipeline().parameters.BatchRunId",
												"type": "Expression"
											},
											"mdpserver": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"mdpdb": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											},
											"keyvaultdnsname": {
												"value": "@pipeline().parameters.keyvaultdnsname",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Set BatchProcess Close Error2",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Execute ADLS Get",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetBatchProcessLogClose]",
										"storedProcedureParameters": {
											"BatchProcessLogId": {
												"value": {
													"value": "@variables('BatchProcessLogId')",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorMessage": {
												"value": {
													"value": "@{activity('Execute ADLS Get').Error.Message}",
													"type": "Expression"
												},
												"type": "String"
											},
											"SuccessFlag": {
												"value": "0",
												"type": "Int32"
											},
											"ErrorObject": {
												"value": "1a Execute ADLS Get",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Set BatchProcess Close Error3",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Execute ADLS Set",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetBatchProcessLogClose]",
										"storedProcedureParameters": {
											"BatchProcessLogId": {
												"value": {
													"value": "@variables('BatchProcessLogId')",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorMessage": {
												"value": {
													"value": "@{activity('Execute ADLS Set').Error.Message}",
													"type": "Expression"
												},
												"type": "String"
											},
											"SuccessFlag": {
												"value": "0",
												"type": "Int32"
											},
											"ErrorObject": {
												"value": "1b Execute ADLS Set",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "2",
							"activities": [
								{
									"name": "1d Oracle Discovery",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "1d_GetDatabaseSourceSchema_Oracle",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"BatchGroupId": {
												"value": "@pipeline().parameters.BatchGroupId",
												"type": "Expression"
											},
											"BatchRunId": {
												"value": "@pipeline().parameters.BatchRunId",
												"type": "Expression"
											},
											"BatchProcessLogId": {
												"value": "@variables('BatchProcessLogId')",
												"type": "Expression"
											},
											"mdpdb": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											},
											"mdpserver": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"keyvaultdnsname": {
												"value": "@pipeline().parameters.keyvaultdnsname",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Set BatchProcess Close Error2 Oracle",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "1d Oracle Discovery",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetBatchProcessLogClose]",
										"storedProcedureParameters": {
											"BatchProcessLogId": {
												"value": {
													"value": "@variables('BatchProcessLogId')",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorMessage": {
												"value": {
													"value": "@{activity('1d Oracle Discovery').Error.Message}",
													"type": "Expression"
												},
												"type": "String"
											},
											"SuccessFlag": {
												"value": "0",
												"type": "Int32"
											},
											"ErrorObject": {
												"value": "1d Oracle Discovery",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "0",
							"activities": [
								{
									"name": "Database Discovery",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "1c_GetDatabaseSourceSchema",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"BatchGroupId": {
												"value": "@pipeline().parameters.BatchGroupId",
												"type": "Expression"
											},
											"BatchRunId": {
												"value": "@pipeline().parameters.BatchRunId",
												"type": "Expression"
											},
											"BatchProcessLogId": {
												"value": "@variables('BatchProcessLogId')",
												"type": "Expression"
											},
											"mdpdb": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											},
											"mdpserver": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"keyvaultdnsname": {
												"value": "@pipeline().parameters.keyvaultdnsname",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Set BatchProcess Close Error DatabaseDiscovery",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Database Discovery",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetBatchProcessLogClose]",
										"storedProcedureParameters": {
											"BatchProcessLogId": {
												"value": {
													"value": "@variables('BatchProcessLogId')",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorMessage": {
												"value": {
													"value": "@{activity('Database Discovery').Error.Message}",
													"type": "Expression"
												},
												"type": "String"
											},
											"SuccessFlag": {
												"value": "0",
												"type": "Int32"
											},
											"ErrorObject": {
												"value": "1c Get Database Source Schema",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp_Azure",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": "devmdpsq1001.database.windows.net",
											"dbname": "devmdpdb1001"
										}
									}
								}
							]
						},
						{
							"value": "3",
							"activities": [
								{
									"name": "1e Azure SQL Discovery",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "1e_GetDatabaseSourceSchema_AzureSQL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"BatchGroupId": {
												"value": "@pipeline().parameters.BatchGroupId",
												"type": "Expression"
											},
											"BatchRunId": {
												"value": "@pipeline().parameters.BatchRunId",
												"type": "Expression"
											},
											"BatchProcessLogId": {
												"value": "@variables('BatchProcessLogId')",
												"type": "Expression"
											},
											"mdpdb": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											},
											"mdpserver": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"keyvaultdnsname": {
												"value": "@pipeline().parameters.keyvaultdnsname",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Set BatchProcess Close Error2 Azure SQL",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "1e Azure SQL Discovery",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetBatchProcessLogClose]",
										"storedProcedureParameters": {
											"BatchProcessLogId": {
												"value": {
													"value": "@variables('BatchProcessLogId')",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorMessage": {
												"value": {
													"value": "@{activity('1e Azure SQL Discovery').Error.Message}",
													"type": "Expression"
												},
												"type": "String"
											},
											"SuccessFlag": {
												"value": "0",
												"type": "Int32"
											},
											"ErrorObject": {
												"value": "1e Azure SQL Discovery",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "4",
							"activities": [
								{
									"name": "1c OnPrem SQL Discovery",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "1c_GetDatabaseSourceSchema_SQL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"BatchGroupId": {
												"value": "@pipeline().parameters.BatchGroupId",
												"type": "Expression"
											},
											"BatchRunId": {
												"value": "@pipeline().parameters.BatchRunId",
												"type": "Expression"
											},
											"BatchProcessLogId": {
												"value": "@variables('BatchProcessLogId')",
												"type": "Expression"
											},
											"mdpserver": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"mdpdb": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											},
											"keyvaultdnsname": {
												"value": "@pipeline().parameters.keyvaultdnsname",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Set BatchProcess Close Error2 SQL",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "1c OnPrem SQL Discovery",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetBatchProcessLogClose]",
										"storedProcedureParameters": {
											"BatchProcessLogId": {
												"value": {
													"value": "@variables('BatchProcessLogId')",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorMessage": {
												"value": {
													"value": "@{activity('1c OnPrem SQL Discovery').Error.Message}",
													"type": "Expression"
												},
												"type": "String"
											},
											"SuccessFlag": {
												"value": "0",
												"type": "Int32"
											},
											"ErrorObject": {
												"value": "1a Execute ADLS Get",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "5",
							"activities": [
								{
									"name": "1f CSV Discovery",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "1f_GetFlatFileSourceSchema_CSV",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"BatchGroupId": {
												"value": "@pipeline().parameters.BatchGroupId",
												"type": "Expression"
											},
											"BatchRunId": {
												"value": "@pipeline().parameters.BatchRunId",
												"type": "Expression"
											},
											"BatchProcessLogId": {
												"value": "@variables('BatchProcessLogId')",
												"type": "Expression"
											},
											"mdpserver": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"mdpdb": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											},
											"keyvaultdnsname": {
												"value": "@pipeline().parameters.keyvaultdnsname",
												"type": "Expression"
											},
											"mdpsparkpool": {
												"value": "@pipeline().parameters.mdpsparkpool",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Set BatchProcess Close Error2 CSV",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "1f CSV Discovery",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetBatchProcessLogClose]",
										"storedProcedureParameters": {
											"BatchProcessLogId": {
												"value": {
													"value": "@variables('BatchProcessLogId')",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorMessage": {
												"value": {
													"value": "@{activity('1f CSV Discovery').Error.Message}",
													"type": "Expression"
												},
												"type": "String"
											},
											"SuccessFlag": {
												"value": "0",
												"type": "Int32"
											},
											"ErrorObject": {
												"value": "1f CSV Discovery",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "10",
							"activities": [
								{
									"name": "1k MySQL Discovery",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "1k_GetDatabaseSourceSchema_MySQL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"BatchGroupId": {
												"value": "@pipeline().parameters.BatchGroupId",
												"type": "Expression"
											},
											"BatchRunId": {
												"value": "@pipeline().parameters.BatchRunId",
												"type": "Expression"
											},
											"BatchProcessLogId": {
												"value": "@variables('BatchProcessLogId')",
												"type": "Expression"
											},
											"mdpdb": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											},
											"mdpserver": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"keyvaultdnsname": {
												"value": "@pipeline().parameters.keyvaultdnsname",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Set BatchProcess Close Error2 MySQL",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "1k MySQL Discovery",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetBatchProcessLogClose]",
										"storedProcedureParameters": {
											"BatchProcessLogId": {
												"value": {
													"value": "@variables('BatchProcessLogId')",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorMessage": {
												"value": {
													"value": "@{activity('1k MySQL Discovery').Error.Message}",
													"type": "Expression"
												},
												"type": "String"
											},
											"SuccessFlag": {
												"value": "0",
												"type": "Int32"
											},
											"ErrorObject": {
												"value": "1k MySQL Discovery",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "12",
							"activities": [
								{
									"name": "Amazon S3 Discovery",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "1m_GetCSVSourceSchema_AmazonS3",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"BatchGroupId": {
												"value": "@pipeline().parameters.BatchGroupId",
												"type": "Expression"
											},
											"BatchRunId": {
												"value": "@pipeline().parameters.BatchRunId",
												"type": "Expression"
											},
											"BatchProcessLogId": {
												"value": "@variables('BatchProcessLogId')",
												"type": "Expression"
											},
											"mdpdb": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											},
											"mdpserver": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"keyvaultdnsname": {
												"value": "@pipeline().parameters.keyvaultdnsname",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Set BatchProcess Close Error AmazonS3",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Amazon S3 Discovery",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetBatchProcessLogClose]",
										"storedProcedureParameters": {
											"BatchProcessLogId": {
												"value": {
													"value": "@variables('BatchProcessLogId')",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorMessage": {
												"value": {
													"value": "@{activity('Amazon S3 Discovery').Error.Message}",
													"type": "Expression"
												},
												"type": "String"
											},
											"SuccessFlag": {
												"value": "0",
												"type": "Int32"
											},
											"ErrorObject": {
												"value": "1m Amazon S3 Discovery",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"BatchGroupId": {
				"type": "int",
				"defaultValue": 60
			},
			"BatchRunId": {
				"type": "string",
				"defaultValue": "777"
			},
			"RunMode": {
				"type": "string",
				"defaultValue": "10"
			},
			"StorageURI": {
				"type": "string",
				"defaultValue": "https://devmdpst1001.dfs.core.windows.net/"
			},
			"Container": {
				"type": "string",
				"defaultValue": "landing"
			},
			"DiscoveryWebhook": {
				"type": "string",
				"defaultValue": "https://256e409d-620d-4556-ad19-9382a5485b04.webhook.uks.azure-automation.net/webhooks?token=0CryKLZI6wDRA6pfkIQRoge%2bv0EX8B8HYEtLlqpG168%3d"
			},
			"StorageConnectionString": {
				"type": "string",
				"defaultValue": "DefaultEndpointsProtocol=https;AccountName=devmdpst1001;AccountKey=Jb17R/e8W1iL+WPNvCi0Z76TBLhkPGzVgZV14wqfQbdATEZjMFrj1joUicBShXJ56gtqnICfCOz4uZHjmoIpKQ==;EndpointSuffix=core.windows.net"
			},
			"mdpdb": {
				"type": "string",
				"defaultValue": "devmdpdb1001"
			},
			"mdpserver": {
				"type": "string",
				"defaultValue": "devmdpsq1001.database.windows.net"
			},
			"keyvaultdnsname": {
				"type": "string",
				"defaultValue": "https://devmdpkv1003.vault.azure.net/"
			},
			"mdpsparkpool": {
				"type": "string",
				"defaultValue": "devmdpspk1001"
			}
		},
		"variables": {
			"BatchProcessLogId": {
				"type": "String",
				"defaultValue": "0"
			},
			"ProcessStream": {
				"type": "String",
				"defaultValue": "DSC2APP1"
			}
		},
		"folder": {
			"name": "MDPCore"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-31T20:22:57Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}