pipeline/1b_LogADLSdiscoverySet.json
{
	"name": "1b_LogADLSdiscoverySet",
	"properties": {
		"description": "[Process Stream Code = DSC2APP]",
		"activities": [
			{
				"name": "LookupMetadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[app].[GetJSONFileFeed]",
						"storedProcedureParameters": {
							"FileSinceDate": {
								"type": "DateTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"BatchGroupId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.BatchGroupId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsMDP",
						"type": "DatasetReference",
						"parameters": {
							"server": {
								"value": "@pipeline().parameters.mdpserver",
								"type": "Expression"
							},
							"db": {
								"value": "@pipeline().parameters.mdpdb",
								"type": "Expression"
							},
							"schema": "dbo",
							"table": "Dummy"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Staging Methods",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupMetadata').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Load JSON Schema",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "StorageExplorerKey",
											"value": {
												"value": "@item().StorageExplorerKey",
												"type": "Expression"
											}
										},
										{
											"name": "FileStorageGroup",
											"value": {
												"value": "@item().StorageGroup",
												"type": "Expression"
											}
										},
										{
											"name": "FileReference",
											"value": {
												"value": "@item().FileReference",
												"type": "Expression"
											}
										},
										{
											"name": "DataFactoryName",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										{
											"name": "PipelineName",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										{
											"name": "PipelineRunId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "BatchRunId",
											"value": {
												"value": "@pipeline().parameters.BatchRunId",
												"type": "Expression"
											}
										},
										{
											"name": "BatchGroupId",
											"value": {
												"value": "@pipeline().parameters.BatchGroupId",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "delete from [app].[JsonDefinition] where [StorageExplorerKey] = @{item().StorageExplorerKey}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['name']"
											},
											"sink": {
												"name": "FileColumnName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['purpose']"
											},
											"sink": {
												"name": "FileColumnPurpose",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dataFormat']"
											},
											"sink": {
												"name": "FileColumnDataFormat",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['definitions'][0]['entityName']"
											},
											"sink": {
												"name": "FileEntityName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['StorageExplorerKey']"
											},
											"sink": {
												"name": "StorageExplorerKey",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "$['FileStorageGroup']"
											},
											"sink": {
												"name": "FileStorageGroup",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['FileReference']"
											},
											"sink": {
												"name": "FileReference",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['DataFactoryName']"
											},
											"sink": {
												"name": "DataFactoryName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['PipelineName']"
											},
											"sink": {
												"name": "PipelineName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['PipelineRunId']"
											},
											"sink": {
												"name": "PipelineRunId"
											}
										},
										{
											"source": {
												"path": "$['BatchGroupId']"
											},
											"sink": {
												"name": "FileBatchGroupId"
											}
										},
										{
											"source": {
												"path": "$['BatchRunId']"
											},
											"sink": {
												"name": "FileBatchRunId"
											}
										}
									],
									"collectionReference": "$['definitions'][0]['hasAttributes']",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "dsJSON",
									"type": "DatasetReference",
									"parameters": {
										"paraFile": {
											"value": "@item().FileReference",
											"type": "Expression"
										},
										"paraContainer": {
											"value": "@pipeline().parameters.blobcontainer",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsJsonDefinition",
									"type": "DatasetReference",
									"parameters": {
										"server": {
											"value": "@pipeline().parameters.mdpserver",
											"type": "Expression"
										},
										"db": {
											"value": "@pipeline().parameters.mdpdb",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "JSON Updates",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load JSON Schema",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetJSONDefinition]",
								"storedProcedureParameters": {
									"StorageExplorerKey": {
										"value": {
											"value": "@item().StorageExplorerKey",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"blobcontainer": {
				"type": "string",
				"defaultValue": "dynamics365-financeandoperations"
			},
			"BatchGroupId": {
				"type": "int",
				"defaultValue": 7
			},
			"BatchRunId": {
				"type": "string",
				"defaultValue": "777"
			},
			"mdpserver": {
				"type": "string",
				"defaultValue": "hapsqlserverdev.database.windows.net"
			},
			"mdpdb": {
				"type": "string",
				"defaultValue": "hapmdpappdbdev"
			},
			"keyvaultdnsname": {
				"type": "string"
			}
		},
		"folder": {
			"name": "MDPchild"
		},
		"annotations": [
			"finops loading"
		],
		"lastPublishTime": "2021-07-31T20:22:01Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}