pipeline/1c_GetDatabaseSourceSchema.json
{
	"name": "1c_GetDatabaseSourceSchema",
	"properties": {
		"description": "Get Run Metadata from Source \n\nlast change tjf 2020DEC01 10:00",
		"activities": [
			{
				"name": "GetTableList",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ResetSourceSchema Merge",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[app].[GetExtractFeedList]",
						"storedProcedureParameters": {
							"BatchGroupId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.BatchGroupId",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsMDP",
						"type": "DatasetReference",
						"parameters": {
							"server": {
								"value": "@pipeline().parameters.mdpserver",
								"type": "Expression"
							},
							"db": {
								"value": "@pipeline().parameters.mdpdb",
								"type": "Expression"
							},
							"schema": "dbo",
							"table": "Dummy"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Extract Build Schemas",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetTableList').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Build Staging Schema",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"additionalColumns": [
										{
											"name": "DataFactoryName",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										{
											"name": "PipelineName",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										{
											"name": "PipelineRunId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "BatchRunId",
											"value": {
												"value": "@pipeline().parameters.BatchRunId",
												"type": "Expression"
											}
										},
										{
											"name": "BatchGroupId",
											"value": {
												"value": "@pipeline().parameters.BatchGroupId",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "DECLARE @SourceName VARCHAR(200)\nSET @SourceName = '@{Item().SourceTable}'\n\nDECLARE @SourceSchema  VARCHAR(200)\nSET @SourceSchema = '@{Item().SourceSchema}' \n\nDECLARE @Domain VARCHAR(200)\nSET @Domain = '@{item().Domain}'\n\nDECLARE @Subject  VARCHAR(200)\nSET @Subject = '@{item().Subject}' \n\nDECLARE @FeedKey  INT\nSET @FeedKey = '@{int(Item().FeedKey)}'\n\nDECLARE @PKList VARCHAR(4000) \n \n --Primary Keys\nSET @PKList = ''\nSELECT @PKList = \n    ( \n    SELECT COLUMN_NAME+' ASC,' \n    FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS tc\n    JOIN INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE ccu ON tc.CONSTRAINT_NAME = ccu.Constraint_name\n    WHERE tc.TABLE_NAME = @SourceName \n    AND tc.CONSTRAINT_TYPE = 'Primary Key' \n    for xml path('')\n    )\n \n -- Strip trailing ,\nSELECT @PKList = case when ( LEN(RTRIM(@PKList))) > 0 then  LEFT(RTRIM(@PKList), ( LEN(RTRIM(@PKList))) - 1) else '' end \n \nSELECT \n    @FeedKey            As FeedKey, \n    @SourceName         AS TableName,\n    @SourceSchema       AS SchemaName,\n    ordinal_position    AS FieldPosition, \n    0                   AS ScriptHeader,\n    '['+COLUMN_NAME+'] ' +\n        '['+\n        case when DATA_TYPE = 'datetime' then 'datetime2' else DATA_TYPE end +\n        ']'+ \n        case \n            when DATA_TYPE in ('nvarchar', 'varchar', 'nchar', 'char') then '('+replace(convert(nvarchar,CHARACTER_MAXIMUM_LENGTH),'-1','MAX')+')'\n            when DATA_TYPE in ('varbinary') then '('+replace(convert(nvarchar,CHARACTER_MAXIMUM_LENGTH),'-1','MAX')+')'\n            when DATA_TYPE in ('int', 'bigint', 'uniqueidentifier') then ''\n            when DATA_TYPE in ('datetime', 'datetime2') then '(0)'\n            when DATA_TYPE in ('numeric') then '('+convert(nvarchar,NUMERIC_PRECISION)+','+convert(nvarchar,NUMERIC_SCALE)+')'\n            else '' \n        end +\n        case when pk.c is null then ' NULL' else ' NOT NULL' end +\n        case \n            when ORDINAL_POSITION= (select max(ordinal_Position) from INFORMATION_SCHEMA.COLUMNS where TABLE_NAME = @SourceName) \n            then ', CONSTRAINT [PK_'+@SourceName+'] PRIMARY KEY CLUSTERED ( '+@PKList+') )'\n            else ',' end                                        as FieldCreateSQL,\n\n    COLUMN_NAME                                                 as FieldName,\n    COLUMN_NAME                                                 as FieldWarehouseName, --for WarehouseMapping\n\n    '['+\n        case when DATA_TYPE = 'datetime' then 'datetime2' else DATA_TYPE end +\n        ']' + \n        case \n            when DATA_TYPE in ('nvarchar', 'varchar', 'nchar', 'char') then '('+replace(convert(nvarchar,CHARACTER_MAXIMUM_LENGTH),'-1','MAX')+')'\n            when DATA_TYPE in ('varbinary') then '('+replace(convert(nvarchar,CHARACTER_MAXIMUM_LENGTH),'-1','MAX')+')'\n            when DATA_TYPE in ('int', 'bigint', 'uniqueidentifier') then ''\n            when DATA_TYPE in ('datetime', 'datetime2') then '(0)'\n            when DATA_TYPE in ('numeric') then '('+convert(nvarchar,NUMERIC_PRECISION)+','+convert(nvarchar,NUMERIC_SCALE)+')'\n            else '' \n        end                                                     as FieldDataType,\n    case when pk.c is null then 0 else 1 end                    as PrimaryKeyCol --PrimaryKeyField \n\nFROM INFORMATION_SCHEMA.COLUMNS c\nLEFT JOIN   \n    (\n    SELECT \n        COLUMN_NAME as c\n    FROM \n        INFORMATION_SCHEMA.TABLE_CONSTRAINTS tc\n    JOIN \n        INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE ccu \n        ON  tc.CONSTRAINT_NAME = ccu.Constraint_name\n    WHERE \n        tc.TABLE_NAME = @SourceName \n    AND \n        tc.CONSTRAINT_TYPE = 'Primary Key'\n    ) pk \n    ON c.COLUMN_NAME = pk.c\nWHERE \n    TABLE_NAME = @SourceName\nAND \n    TABLE_SCHEMA = @SourceSchema\nORDER BY \n    SchemaName, \n    FieldPosition",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "TableName"
											},
											"sink": {
												"name": "TableName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SchemaName"
											},
											"sink": {
												"name": "SchemaName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "ScriptHeader"
											},
											"sink": {
												"name": "ScriptHeader",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"name": "FieldPosition"
											},
											"sink": {
												"name": "FieldPosition",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FieldName"
											},
											"sink": {
												"name": "FieldName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FieldDataType"
											},
											"sink": {
												"name": "FieldDataType",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FieldCreateSQL"
											},
											"sink": {
												"name": "FieldCreateSQL",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PrimaryKeyCol"
											},
											"sink": {
												"name": "FieldPrimaryKey"
											}
										},
										{
											"source": {
												"name": "DataFactoryName"
											},
											"sink": {
												"name": "DataFactoryName"
											}
										},
										{
											"source": {
												"name": "PipelineName"
											},
											"sink": {
												"name": "PipelineName"
											}
										},
										{
											"source": {
												"name": "PipelineRunId"
											},
											"sink": {
												"name": "PipelineRunId"
											}
										},
										{
											"source": {
												"name": "FieldWarehouseName"
											},
											"sink": {
												"name": "FieldWarehouseName"
											}
										},
										{
											"source": {
												"name": "BatchGroupId"
											},
											"sink": {
												"name": "BatchGroupId"
											}
										},
										{
											"source": {
												"name": "BatchRunId"
											},
											"sink": {
												"name": "BatchRunId"
											}
										},
										{
											"source": {
												"name": "FeedKey"
											},
											"sink": {
												"name": "FeedKey"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "dsSQLTable",
									"type": "DatasetReference",
									"parameters": {
										"DatabaseName": {
											"value": "@Item().DBName",
											"type": "Expression"
										},
										"ServerName": {
											"value": "@Item().ServerName",
											"type": "Expression"
										},
										"keyvaultdnsname": {
											"value": "@pipeline().parameters.keyvaultdnsname",
											"type": "Expression"
										},
										"user": {
											"value": "@Item().UserName",
											"type": "Expression"
										},
										"secret": {
											"value": "@Item().KeyVaultSecret",
											"type": "Expression"
										},
										"table": {
											"value": "@Item().SourceTable",
											"type": "Expression"
										},
										"schema": {
											"value": "@Item().SourceSchema",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsTableSchema",
									"type": "DatasetReference",
									"parameters": {
										"server": {
											"value": "@pipeline().parameters.mdpserver",
											"type": "Expression"
										},
										"db": {
											"value": "@pipeline().parameters.mdpdb",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Wait2",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Build Staging Schema",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						},
						{
							"name": "Set BatchProcess Close Error9",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Build Staging Schema",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetBatchProcessLogClose]",
								"storedProcedureParameters": {
									"BatchProcessLogId": {
										"value": {
											"value": "@pipeline().parameters.BatchProcessLogId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ErrorMessage": {
										"value": {
											"value": "@{activity('Build Staging Schema').Error.Message}",
											"type": "Expression"
										},
										"type": "String"
									},
									"SuccessFlag": {
										"value": "0",
										"type": "Int32"
									},
									"ErrorObject": {
										"value": "1c Build Staging Schema",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp_Azure",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "SourceSchema Merge",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Extract Build Schemas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[transform].[SourceSchema]",
					"storedProcedureParameters": {
						"BatchGroupId": {
							"value": {
								"value": "@pipeline().parameters.BatchGroupId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"BatchRunId": {
							"value": {
								"value": "@pipeline().parameters.BatchRunId",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp_Azure",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ResetSourceSchema Merge",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[app].[ReSetTempSourceSchema]"
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp_Azure",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"BatchGroupId": {
				"type": "int",
				"defaultValue": 1
			},
			"BatchRunId": {
				"type": "string",
				"defaultValue": "0"
			},
			"BatchProcessLogId": {
				"type": "string",
				"defaultValue": "0"
			},
			"mdpdb": {
				"type": "string"
			},
			"mdpserver": {
				"type": "string"
			},
			"keyvaultdnsname": {
				"type": "string"
			}
		},
		"variables": {
			"ProcessStream": {
				"type": "String",
				"defaultValue": "DSC2APP1"
			}
		},
		"folder": {
			"name": "MDPchild"
		},
		"annotations": [
			"standard load eg CE"
		],
		"lastPublishTime": "2021-07-31T20:20:32Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}