pipeline/1k_GetDatabaseSourceSchema_MySQL.json
{
	"name": "1k_GetDatabaseSourceSchema_MySQL",
	"properties": {
		"description": "Get Run Metadata from Source \nCollation is used to determine if Source is AzureMySQL or MySQL\nas per Oracle FriendlyServerName is used to store Port details\n",
		"activities": [
			{
				"name": "GetTableList",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ResetSourceSchema Merge",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[app].[GetExtractFeedList]",
						"storedProcedureParameters": {
							"BatchGroupId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.BatchGroupId",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsMDP",
						"type": "DatasetReference",
						"parameters": {
							"server": {
								"value": "@pipeline().parameters.mdpserver",
								"type": "Expression"
							},
							"db": {
								"value": "@pipeline().parameters.mdpdb",
								"type": "Expression"
							},
							"schema": "dbo",
							"table": "Dummy"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Extract Build Schemas",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetTableList').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@Item().Collation",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "AzureMySQL",
										"activities": [
											{
												"name": "Build Staging Schema Azure",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureMySqlSource",
														"additionalColumns": [
															{
																"name": "DataFactoryName",
																"value": {
																	"value": "@pipeline().DataFactory",
																	"type": "Expression"
																}
															},
															{
																"name": "PipelineName",
																"value": {
																	"value": "@pipeline().Pipeline",
																	"type": "Expression"
																}
															},
															{
																"name": "PipelineRunId",
																"value": {
																	"value": "@pipeline().RunId",
																	"type": "Expression"
																}
															},
															{
																"name": "BatchRunId",
																"value": {
																	"value": "@pipeline().parameters.BatchRunId",
																	"type": "Expression"
																}
															},
															{
																"name": "BatchGroupId",
																"value": {
																	"value": "@string(pipeline().parameters.BatchGroupId)",
																	"type": "Expression"
																}
															}
														],
														"query": {
															"value": "SET @SourceName = '@{item().SourceTable}';\n\nSET @SourceSchema = '@{item().SourceSchema}';\n\nSET @Domain = '@{item().Domain}';\n\nSET @Subject = '@{item().Subject}';\n\nSET @FeedKey = '@{int(item().FeedKey)}';\n\n-- Primary Keys\nSET @PKList = '';\n    \nSet @PKList = (Select PKlist from (\nSELECT DummyKey, group_concat(concat(COLUMN_NAME,' ASC')) as PKList\n    FROM (select 'a' as DummyKey, Column_name, Table_name, table_schema, column_key from INFORMATION_SCHEMA.Columns tc\n    WHERE tc.TABLE_NAME = @SourceName \n\t\tand tc.table_schema = @SourceSchema\n\t\tAND tc.Column_Key ='PRI'\n        UNION \n        select 'a' as DummyKey, Column_name, Table_name, table_schema, column_key from INFORMATION_SCHEMA.Columns tc\n    WHERE tc.TABLE_NAME = @SourceName \n\t\tand tc.table_schema = @SourceSchema\n\t\tAND tc.Column_Key ='UNI'\n        ) a\n\tGROUP BY DummyKey) a);\n\nSELECT \n    @FeedKey            As FeedKey, \n    @SourceName         AS TableName,\n    @SourceSchema       AS SchemaName,\n    ordinal_position    AS FieldPosition, \n    0                   AS ScriptHeader,\n    concat('[',COLUMN_NAME,'] ' ,\n        '[',\n        case when DATA_TYPE = 'datetime' then 'datetime2' \n\t\t\twhen Data_Type in ('mediumint', 'year', 'smallint', 'tinyint') then 'INT' \n            when data_type in ('float', 'double', 'real') then 'Float'\n            when data_type = 'timestamp' then 'bigint'\n            when data_type in ('char', 'varchar', 'tinytext', 'text', 'mediumtext', 'longtext') then 'Nvarchar'\n            when data_type in ('varbinary', 'tinyblob', 'blob', 'mediumblob', 'longblob') then 'Varbinary'\n\t\t\telse DATA_TYPE end ,\n        ']',\n        case \n            when DATA_TYPE in ('char', 'varchar', 'tinytext', 'text', 'mediumtext', 'longtext', 'nchar') then concat('(',replace(convert(CHARACTER_MAXIMUM_LENGTH, NCHAR),'-1','MAX'),')')\n            when DATA_TYPE in ('varbinary', 'tinyblob', 'blob', 'mediumblob', 'longblob') then concat('(',replace(convert(CHARACTER_MAXIMUM_LENGTH, NCHAR),'-1','MAX'),')')\n            when DATA_TYPE in ('timestamp', 'int', 'bigint', 'uniqueidentifier', 'mediumint', 'year', 'float', 'double', 'real') then ''\n            when DATA_TYPE in ('datetime', 'datetime2') then '(0)'\n            when DATA_TYPE in ('numeric') then concat('(',convert(NUMERIC_PRECISION, NCHAR),',',convert(NUMERIC_SCALE, NCHAR),')')\n            else '' \n        end ,\n        case when Column_Key = 'UNI' or Column_Key = 'PRI' then ' NOT NULL' else ' NULL' end ,\n        case \n            when ORDINAL_POSITION= (select max(ordinal_Position) from INFORMATION_SCHEMA.COLUMNS where TABLE_NAME = @SourceName) \n            then concat(', CONSTRAINT [PK_',@SourceName,'] PRIMARY KEY CLUSTERED ( ',@PKList,') )')\n            else ',' end\n            )\t\t\t                                        as FieldCreateSQL,\n\n    COLUMN_NAME                                                 as FieldName,\n    COLUMN_NAME                                                 as FieldWarehouseName, -- for WarehouseMapping\n\n    concat('[',\n        case when DATA_TYPE = 'datetime' then 'datetime2' else DATA_TYPE end ,\n        ']' ,\n        case \n            when DATA_TYPE in ('char', 'varchar', 'tinytext', 'text', 'mediumtext', 'longtext', 'nchar') then concat('(',replace(convert(CHARACTER_MAXIMUM_LENGTH, nchar),'-1','MAX'),')')\n            when DATA_TYPE in ('varbinary', 'tinyblob', 'blob', 'mediumblob', 'longblob') then concat('(',replace(convert(CHARACTER_MAXIMUM_LENGTH, nchar),'-1','MAX'),')')\n            when DATA_TYPE in ('timestamp', 'int', 'bigint', 'uniqueidentifier', 'mediumint', 'year', 'float', 'double', 'real') then ''\n            when DATA_TYPE in ('datetime', 'datetime2') then '(0)'\n            when DATA_TYPE in ('numeric') then concat('(',convert(NUMERIC_PRECISION, nchar),',',convert(NUMERIC_SCALE, nchar),')')\n            else '' \n        end\n        )\t\t\t\t\t\t\t\t\t\t\t\t\t\tas FieldDataType,\n    case when column_Key = 'UNI' or Column_key = 'PRI' then 1 else 0 end                    as PrimaryKeyCol -- PrimaryKeyField \n\nFROM INFORMATION_SCHEMA.COLUMNS c\nWHERE \n    TABLE_NAME = @SourceName\nAND \n    TABLE_SCHEMA = @SourceSchema\nORDER BY \n    SchemaName, \n    FieldPosition",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "TableName"
																},
																"sink": {
																	"name": "TableName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "SchemaName"
																},
																"sink": {
																	"name": "SchemaName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "ScriptHeader"
																},
																"sink": {
																	"name": "ScriptHeader",
																	"type": "Boolean"
																}
															},
															{
																"source": {
																	"name": "FieldPosition"
																},
																"sink": {
																	"name": "FieldPosition",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "FieldName"
																},
																"sink": {
																	"name": "FieldName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "FieldDataType"
																},
																"sink": {
																	"name": "FieldDataType",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "FieldCreateSQL"
																},
																"sink": {
																	"name": "FieldCreateSQL",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "PrimaryKeyCol"
																},
																"sink": {
																	"name": "FieldPrimaryKey"
																}
															},
															{
																"source": {
																	"name": "DataFactoryName"
																},
																"sink": {
																	"name": "DataFactoryName"
																}
															},
															{
																"source": {
																	"name": "PipelineName"
																},
																"sink": {
																	"name": "PipelineName"
																}
															},
															{
																"source": {
																	"name": "PipelineRunId"
																},
																"sink": {
																	"name": "PipelineRunId"
																}
															},
															{
																"source": {
																	"name": "FieldWarehouseName"
																},
																"sink": {
																	"name": "FieldWarehouseName"
																}
															},
															{
																"source": {
																	"name": "BatchGroupId"
																},
																"sink": {
																	"name": "BatchGroupId"
																}
															},
															{
																"source": {
																	"name": "BatchRunId"
																},
																"sink": {
																	"name": "BatchRunId"
																}
															},
															{
																"source": {
																	"name": "FeedKey"
																},
																"sink": {
																	"name": "FeedKey"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "dsAzureMySQLSource",
														"type": "DatasetReference",
														"parameters": {
															"ServerName": {
																"value": "@Item().ServerName",
																"type": "Expression"
															},
															"DatabaseName": {
																"value": "@Item().DBName",
																"type": "Expression"
															},
															"KeyVault": {
																"value": "@pipeline().parameters.keyvaultdnsname",
																"type": "Expression"
															},
															"Secret": {
																"value": "@Item().KeyVaultSecret",
																"type": "Expression"
															},
															"User": {
																"value": "@Item().UserName",
																"type": "Expression"
															},
															"Port": {
																"value": "@Item().FriendlyServerName",
																"type": "Expression"
															},
															"Table": {
																"value": "@concat(Item().SourceSchema, '.' ,Item().SourceTable)",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "dsTableSchema",
														"type": "DatasetReference",
														"parameters": {
															"server": {
																"value": "@pipeline().parameters.mdpserver",
																"type": "Expression"
															},
															"db": {
																"value": "@pipeline().parameters.mdpdb",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "WaitAzure",
												"type": "Wait",
												"dependsOn": [
													{
														"activity": "Build Staging Schema Azure",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											},
											{
												"name": "Set BatchProcess Close Error Azure",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Build Staging Schema Azure",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[app].[SetBatchProcessLogClose]",
													"storedProcedureParameters": {
														"BatchProcessLogId": {
															"value": {
																"value": "@pipeline().parameters.BatchProcessLogId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ErrorMessage": {
															"value": {
																"value": "@{activity('Build Staging Schema Azure').Error.Message}",
																"type": "Expression"
															},
															"type": "String"
														},
														"SuccessFlag": {
															"value": "0",
															"type": "Int32"
														},
														"ErrorObject": {
															"value": "1l Build Staging Schema",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "lsMDPapp",
													"type": "LinkedServiceReference",
													"parameters": {
														"server": {
															"value": "@pipeline().parameters.mdpserver",
															"type": "Expression"
														},
														"dbname": {
															"value": "@pipeline().parameters.mdpdb",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "MySQL",
										"activities": [
											{
												"name": "Build Staging Schema",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "MySqlSource",
														"additionalColumns": [
															{
																"name": "DataFactoryName",
																"value": {
																	"value": "@pipeline().DataFactory",
																	"type": "Expression"
																}
															},
															{
																"name": "PipelineName",
																"value": {
																	"value": "@pipeline().Pipeline",
																	"type": "Expression"
																}
															},
															{
																"name": "PipelineRunId",
																"value": {
																	"value": "@pipeline().RunId",
																	"type": "Expression"
																}
															},
															{
																"name": "BatchRunId",
																"value": {
																	"value": "@pipeline().parameters.BatchRunId",
																	"type": "Expression"
																}
															},
															{
																"name": "BatchGroupId",
																"value": {
																	"value": "@string(pipeline().parameters.BatchGroupId)",
																	"type": "Expression"
																}
															}
														],
														"query": {
															"value": "SELECT \n    '@{item().FeedKey}'            As FeedKey, \n    '@{item().SourceTable}'         AS TableName,\n    '@{item().SourceSchema}'  AS SchemaName,\n    ordinal_position    AS FieldPosition, \n    0                   AS ScriptHeader,\n    concat('[',COLUMN_NAME,'] ' ,\n        '[',\n        case when DATA_TYPE = 'datetime' then 'datetime2' \n\t\t\twhen Data_Type in ('mediumint', 'year', 'smallint', 'tinyint') then 'INT' \n            when data_type in ('float', 'double', 'real') then 'Float'\n            when data_type = 'timestamp' then 'bigint'\n            when data_type in ('char', 'varchar', 'tinytext', 'text', 'mediumtext', 'longtext') then 'Nvarchar'\n            when data_type in ('varbinary', 'tinyblob', 'blob', 'mediumblob', 'longblob') then 'Varbinary'\n\t\t\telse DATA_TYPE end ,\n        ']',\n        case \n            when DATA_TYPE in ('char', 'varchar', 'tinytext', 'text', 'mediumtext', 'longtext', 'nchar') then concat('(',replace(convert(CHARACTER_MAXIMUM_LENGTH, NCHAR),'-1','MAX'),')')\n            when DATA_TYPE in ('varbinary', 'tinyblob', 'blob', 'mediumblob', 'longblob') then concat('(',replace(convert(CHARACTER_MAXIMUM_LENGTH, NCHAR),'-1','MAX'),')')\n            when DATA_TYPE in ('timestamp', 'int', 'bigint', 'uniqueidentifier', 'mediumint', 'year', 'float', 'double', 'real') then ''\n            when DATA_TYPE in ('datetime', 'datetime2') then '(0)'\n            when DATA_TYPE in ('numeric') then concat('(',convert(NUMERIC_PRECISION, NCHAR),',',convert(NUMERIC_SCALE, NCHAR),')')\n            else '' \n        end ,\n        case when Column_Key = 'UNI' or Column_Key = 'PRI' then ' NOT NULL' else ' NULL' end ,\n        case \n            when ORDINAL_POSITION= (select max(ordinal_Position) from INFORMATION_SCHEMA.COLUMNS where TABLE_NAME = '@{item().SourceTable}') \n            then concat(', CONSTRAINT [PK_','@{item().SourceTable}','] PRIMARY KEY CLUSTERED ( ',(Select PKlist from (\n\t\t\t\t\t\t\tSELECT DummyKey, group_concat(concat(COLUMN_NAME,' ASC')) as PKList\n\t\t\t\t\t\t\t\tFROM (select 'a' as DummyKey, Column_name, Table_name, table_schema, column_key from INFORMATION_SCHEMA.Columns tc\n\t\t\t\t\t\t\t\tWHERE tc.TABLE_NAME = '@{item().SourceTable}'\n\t\t\t\t\t\t\t\t\tand tc.table_schema = '@{item().SourceSchema}'\n\t\t\t\t\t\t\t\t\tAND tc.Column_Key ='PRI'\n\t\t\t\t\t\t\t\t\tUNION \n\t\t\t\t\t\t\t\t\tselect 'a' as DummyKey, Column_name, Table_name, table_schema, column_key from INFORMATION_SCHEMA.Columns tc\n\t\t\t\t\t\t\t\tWHERE tc.TABLE_NAME = '@{item().SourceTable}'\n\t\t\t\t\t\t\t\t\tand tc.table_schema = '@{item().SourceSchema}'\n\t\t\t\t\t\t\t\t\tAND tc.Column_Key ='UNI'\n\t\t\t\t\t\t\t\t\t) a\n\t\t\t\t\t\t\t\tGROUP BY DummyKey) a),') )')\n            else ',' end\n            )\t\t\t                                        as FieldCreateSQL,\n\n    COLUMN_NAME                                                 as FieldName,\n    COLUMN_NAME                                                 as FieldWarehouseName, \n\n    concat('[',\n        case when DATA_TYPE = 'datetime' then 'datetime2' else DATA_TYPE end ,\n        ']' ,\n        case \n            when DATA_TYPE in ('char', 'varchar', 'tinytext', 'text', 'mediumtext', 'longtext', 'nchar') then concat('(',replace(convert(CHARACTER_MAXIMUM_LENGTH, nchar),'-1','MAX'),')')\n            when DATA_TYPE in ('varbinary', 'tinyblob', 'blob', 'mediumblob', 'longblob') then concat('(',replace(convert(CHARACTER_MAXIMUM_LENGTH, nchar),'-1','MAX'),')')\n            when DATA_TYPE in ('timestamp', 'int', 'bigint', 'uniqueidentifier', 'mediumint', 'year', 'float', 'double', 'real') then ''\n            when DATA_TYPE in ('datetime', 'datetime2') then '(0)'\n            when DATA_TYPE in ('numeric') then concat('(',convert(NUMERIC_PRECISION, nchar),',',convert(NUMERIC_SCALE, nchar),')')\n            else '' \n        end\n        )\t\t\t\t\t\t\t\t\t\t\t\t\t\tas FieldDataType,\n    case when column_Key = 'UNI' or Column_key = 'PRI' then 1 else 0 end                    as PrimaryKeyCol \n\nFROM INFORMATION_SCHEMA.COLUMNS c\nWHERE \n    TABLE_NAME = '@{item().SourceTable}'\nAND \n    TABLE_SCHEMA = '@{item().SourceSchema}'\nORDER BY \n    SchemaName, \n    FieldPosition",
															"type": "Expression"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "TableName"
																},
																"sink": {
																	"name": "TableName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "SchemaName"
																},
																"sink": {
																	"name": "SchemaName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "ScriptHeader"
																},
																"sink": {
																	"name": "ScriptHeader",
																	"type": "Boolean"
																}
															},
															{
																"source": {
																	"name": "FieldPosition"
																},
																"sink": {
																	"name": "FieldPosition",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "FieldName"
																},
																"sink": {
																	"name": "FieldName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "FieldDataType"
																},
																"sink": {
																	"name": "FieldDataType",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "FieldCreateSQL"
																},
																"sink": {
																	"name": "FieldCreateSQL",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "PrimaryKeyCol"
																},
																"sink": {
																	"name": "FieldPrimaryKey"
																}
															},
															{
																"source": {
																	"name": "DataFactoryName"
																},
																"sink": {
																	"name": "DataFactoryName"
																}
															},
															{
																"source": {
																	"name": "PipelineName"
																},
																"sink": {
																	"name": "PipelineName"
																}
															},
															{
																"source": {
																	"name": "PipelineRunId"
																},
																"sink": {
																	"name": "PipelineRunId"
																}
															},
															{
																"source": {
																	"name": "FieldWarehouseName"
																},
																"sink": {
																	"name": "FieldWarehouseName"
																}
															},
															{
																"source": {
																	"name": "BatchGroupId"
																},
																"sink": {
																	"name": "BatchGroupId"
																}
															},
															{
																"source": {
																	"name": "BatchRunId"
																},
																"sink": {
																	"name": "BatchRunId"
																}
															},
															{
																"source": {
																	"name": "FeedKey"
																},
																"sink": {
																	"name": "FeedKey"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "dsMySQLSource",
														"type": "DatasetReference",
														"parameters": {
															"DatabaseName": {
																"value": "@Item().DBName",
																"type": "Expression"
															},
															"ServerName": {
																"value": "@Item().ServerName",
																"type": "Expression"
															},
															"User": {
																"value": "@Item().UserName",
																"type": "Expression"
															},
															"Port": {
																"value": "@Item().FriendlyServerName",
																"type": "Expression"
															},
															"KeyVault": {
																"value": "@pipeline().parameters.keyvaultdnsname",
																"type": "Expression"
															},
															"Secret": {
																"value": "@Item().KeyVaultSecret",
																"type": "Expression"
															},
															"Table": {
																"value": "@concat(Item().SourceSchema,'.',Item().SourceTable)",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "dsTableSchema",
														"type": "DatasetReference",
														"parameters": {
															"server": {
																"value": "@pipeline().parameters.mdpserver",
																"type": "Expression"
															},
															"db": {
																"value": "@pipeline().parameters.mdpdb",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Wait",
												"type": "Wait",
												"dependsOn": [
													{
														"activity": "Build Staging Schema",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											},
											{
												"name": "Set BatchProcess Close Error9",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Build Staging Schema",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[app].[SetBatchProcessLogClose]",
													"storedProcedureParameters": {
														"BatchProcessLogId": {
															"value": {
																"value": "@pipeline().parameters.BatchProcessLogId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ErrorMessage": {
															"value": {
																"value": "@{activity('Build Staging Schema').Error.Message}",
																"type": "Expression"
															},
															"type": "String"
														},
														"SuccessFlag": {
															"value": "0",
															"type": "Int32"
														},
														"ErrorObject": {
															"value": "1c Build Staging Schema",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "lsMDPapp",
													"type": "LinkedServiceReference",
													"parameters": {
														"server": {
															"value": "@pipeline().parameters.mdpserver",
															"type": "Expression"
														},
														"dbname": {
															"value": "@pipeline().parameters.mdpdb",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Wait1",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "SourceSchema Merge",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Extract Build Schemas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[transform].[SourceSchema]",
					"storedProcedureParameters": {
						"BatchGroupId": {
							"value": {
								"value": "@pipeline().parameters.BatchGroupId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"BatchRunId": {
							"value": {
								"value": "@pipeline().parameters.BatchRunId",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ResetSourceSchema Merge",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[app].[ReSetTempSourceSchema]"
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"BatchGroupId": {
				"type": "int",
				"defaultValue": 1
			},
			"BatchRunId": {
				"type": "string",
				"defaultValue": "0"
			},
			"BatchProcessLogId": {
				"type": "string",
				"defaultValue": "0"
			},
			"mdpdb": {
				"type": "string"
			},
			"mdpserver": {
				"type": "string"
			},
			"keyvaultdnsname": {
				"type": "string"
			}
		},
		"variables": {
			"ProcessStream": {
				"type": "String",
				"defaultValue": "DSC2APP1"
			}
		},
		"folder": {
			"name": "MDPchild"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-31T20:13:33Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}