pipeline/1l_GetDatabaseSourceSchema_PostgresSQL.json
{
	"name": "1l_GetDatabaseSourceSchema_PostgresSQL",
	"properties": {
		"description": "Get Run Metadata from Source \nCollation is used to determine if Source is AzurePostgres or Postgres\nas per Oracle FriendlyServerName is used to store Port details\n",
		"activities": [
			{
				"name": "GetTableList",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ResetSourceSchema Merge",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[app].[GetExtractFeedList]",
						"storedProcedureParameters": {
							"BatchGroupId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.BatchGroupId",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsMDP",
						"type": "DatasetReference",
						"parameters": {
							"server": {
								"value": "@pipeline().parameters.mdpserver",
								"type": "Expression"
							},
							"db": {
								"value": "@pipeline().parameters.mdpdb",
								"type": "Expression"
							},
							"schema": "dbo",
							"table": "Dummy"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Extract Build Schemas",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetTableList').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@Item().Collation",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "AzurePostgres",
										"activities": [
											{
												"name": "Build Staging Schema Azure",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzurePostgreSqlSource",
														"additionalColumns": [
															{
																"name": "DataFactoryName",
																"value": {
																	"value": "@pipeline().DataFactory",
																	"type": "Expression"
																}
															},
															{
																"name": "PipelineName",
																"value": {
																	"value": "@pipeline().Pipeline",
																	"type": "Expression"
																}
															},
															{
																"name": "PipelineRunId",
																"value": {
																	"value": "@pipeline().RunId",
																	"type": "Expression"
																}
															},
															{
																"name": "BatchRunId",
																"value": {
																	"value": "@pipeline().parameters.BatchRunId",
																	"type": "Expression"
																}
															},
															{
																"name": "BatchGroupId",
																"value": {
																	"value": "@string(pipeline().parameters.BatchGroupId)",
																	"type": "Expression"
																}
															}
														],
														"query": {
															"value": "SELECT \ncast(@{item().FeedKey} as int) AS FeedKey\n,@{item().SourceTable} AS TableName\n,@{item().SourceSchema} AS SchemaName\n,ordinal_position    AS FieldPosition\n,0                   AS ScriptHeader\n,'[' || c.COLUMN_NAME || '] ' || '['|| case when DATA_TYPE = 'datetime' then 'datetime2' else DATA_TYPE end || ']'\n\t|| case \n\t\twhen DATA_TYPE in ('nvarchar', 'varchar', 'nchar', 'char') then '(' || replace(cast(CHARACTER_MAXIMUM_LENGTH as varchar),'-1','MAX') || ')'\n\t\twhen DATA_TYPE in ('varbinary') then '(' || replace(cast(CHARACTER_MAXIMUM_LENGTH as varchar),'-1','MAX') || ')'\n\t\twhen DATA_TYPE in ('int', 'bigint', 'uniqueidentifier') then ''\n\t\twhen DATA_TYPE in ('datetime', 'datetime2') then '(0)'\n\t\twhen DATA_TYPE in ('numeric') then '(' || cast(NUMERIC_PRECISION as varchar) || ',' || cast(NUMERIC_SCALE as varchar) || ')'\n\t\telse '' \n\tend \n\t|| case when pk.c is null then ' NULL' else ' NOT NULL' end \n\t|| case \n\t\twhen ORDINAL_POSITION= (select max(ordinal_Position) from INFORMATION_SCHEMA.COLUMNS where TABLE_NAME = @{item().SourceTable}) \n\t\tthen ', CONSTRAINT [PK_' || @{item().SourceTable} || '] PRIMARY KEY CLUSTERED ( ' || \n\t\t(\n\t\t\tselect \n\t\t\tstring_agg(concat(COLUMN_NAME ,' ASC'),',') as pks\n\t\t\tFROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS tc\n\t\t\tJOIN INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE ccu \n\t\t\tON tc.CONSTRAINT_NAME = ccu.Constraint_name\n\t\t\tWHERE tc.TABLE_NAME = @{item().SourceTable} \n\t\t\tAND tc.CONSTRAINT_TYPE = 'PRIMARY KEY' \n\t\t) || ') )'\n\t\telse ',' \nend AS FieldCreateSQL\n,COLUMN_NAME  AS FieldName\n,COLUMN_NAME  AS FieldWarehouseName --for WarehouseMapping\n,'[' || case when DATA_TYPE = 'datetime' then 'datetime2' else DATA_TYPE end || ']' \n|| case \n\twhen DATA_TYPE in ('nvarchar', 'varchar', 'nchar', 'char') then '(' || replace(cast(CHARACTER_MAXIMUM_LENGTH as varchar),'-1','MAX') || ')'\n\twhen DATA_TYPE in ('varbinary') then '(' || replace(cast(CHARACTER_MAXIMUM_LENGTH as varchar),'-1','MAX') || ')'\n\twhen DATA_TYPE in ('int', 'bigint', 'uniqueidentifier') then ''\n\twhen DATA_TYPE in ('datetime', 'datetime2') then '(0)'\n\twhen DATA_TYPE in ('numeric') then '(' || cast(NUMERIC_PRECISION as varchar) || ',' || cast(NUMERIC_SCALE as varchar) || ')'\n\telse '' \nend as FieldDataType\n,case when pk.c is null then 0 else 1 end as PrimaryKeyCol --PrimaryKeyField \n\nFROM INFORMATION_SCHEMA.COLUMNS AS c\n\nLEFT OUTER JOIN   \n(\n    SELECT \n\tCOLUMN_NAME as c\n    FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS tc\n    INNER JOIN INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE ccu \n    ON  tc.CONSTRAINT_NAME = ccu.Constraint_name\n    WHERE tc.TABLE_NAME = @{item().SourceTable} \n    AND tc.CONSTRAINT_TYPE = 'Primary Key'\n) pk \nON c.COLUMN_NAME = pk.c\nWHERE c.TABLE_NAME = @{item().SourceTable}\nAND c.TABLE_SCHEMA = @{Item().SourceSchema}\nORDER BY \nordinal_position",
															"type": "Expression"
														},
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "TableName"
																},
																"sink": {
																	"name": "TableName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "SchemaName"
																},
																"sink": {
																	"name": "SchemaName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "ScriptHeader"
																},
																"sink": {
																	"name": "ScriptHeader",
																	"type": "Boolean"
																}
															},
															{
																"source": {
																	"name": "FieldPosition"
																},
																"sink": {
																	"name": "FieldPosition",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "FieldName"
																},
																"sink": {
																	"name": "FieldName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "FieldDataType"
																},
																"sink": {
																	"name": "FieldDataType",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "FieldCreateSQL"
																},
																"sink": {
																	"name": "FieldCreateSQL",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "PrimaryKeyCol"
																},
																"sink": {
																	"name": "FieldPrimaryKey"
																}
															},
															{
																"source": {
																	"name": "DataFactoryName"
																},
																"sink": {
																	"name": "DataFactoryName"
																}
															},
															{
																"source": {
																	"name": "PipelineName"
																},
																"sink": {
																	"name": "PipelineName"
																}
															},
															{
																"source": {
																	"name": "PipelineRunId"
																},
																"sink": {
																	"name": "PipelineRunId"
																}
															},
															{
																"source": {
																	"name": "FieldWarehouseName"
																},
																"sink": {
																	"name": "FieldWarehouseName"
																}
															},
															{
																"source": {
																	"name": "BatchGroupId"
																},
																"sink": {
																	"name": "BatchGroupId"
																}
															},
															{
																"source": {
																	"name": "BatchRunId"
																},
																"sink": {
																	"name": "BatchRunId"
																}
															},
															{
																"source": {
																	"name": "FeedKey"
																},
																"sink": {
																	"name": "FeedKey"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "dsAzurePostgresSQLSource",
														"type": "DatasetReference",
														"parameters": {
															"Schema": {
																"value": "@Item().SourceSchema",
																"type": "Expression"
															},
															"Table": {
																"value": "@Item().SourceTable",
																"type": "Expression"
															},
															"DatabaseName": {
																"value": "@Item().DBName",
																"type": "Expression"
															},
															"ServerName": {
																"value": "@Item().ServerName",
																"type": "Expression"
															},
															"User": {
																"value": "@Item().UserName",
																"type": "Expression"
															},
															"Secret": {
																"value": "@Item().KeyVaultSecret",
																"type": "Expression"
															},
															"Port": {
																"value": "@Item().FriendlyServerName",
																"type": "Expression"
															},
															"KeyVault": {
																"value": "@pipeline().parameters.keyvaultdnsname",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "dsTableSchema_Azure",
														"type": "DatasetReference",
														"parameters": {
															"server": {
																"value": "@pipeline().parameters.mdpserver",
																"type": "Expression"
															},
															"db": {
																"value": "@pipeline().parameters.mdpdb",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "WaitAzure",
												"type": "Wait",
												"dependsOn": [
													{
														"activity": "Build Staging Schema Azure",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											},
											{
												"name": "Set BatchProcess Close Error Azure",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Build Staging Schema Azure",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[app].[SetBatchProcessLogClose]",
													"storedProcedureParameters": {
														"BatchProcessLogId": {
															"value": {
																"value": "@pipeline().parameters.BatchProcessLogId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ErrorMessage": {
															"value": {
																"value": "@activity('Build Staging Schema Azure').Error.Message",
																"type": "Expression"
															},
															"type": "String"
														},
														"SuccessFlag": {
															"value": "0",
															"type": "Int32"
														},
														"ErrorObject": {
															"value": "1l Build Staging Schema",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "lsMDPapp_Azure",
													"type": "LinkedServiceReference",
													"parameters": {
														"server": {
															"value": "@pipeline().parameters.mdpserver",
															"type": "Expression"
														},
														"dbname": {
															"value": "@pipeline().parameters.mdpdb",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "Postgres",
										"activities": [
											{
												"name": "Build Staging Schema",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "PostgreSqlSource",
														"additionalColumns": [
															{
																"name": "DataFactoryName",
																"value": {
																	"value": "@pipeline().DataFactory",
																	"type": "Expression"
																}
															},
															{
																"name": "PipelineName",
																"value": {
																	"value": "@pipeline().Pipeline",
																	"type": "Expression"
																}
															},
															{
																"name": "PipelineRunId",
																"value": {
																	"value": "@pipeline().RunId",
																	"type": "Expression"
																}
															},
															{
																"name": "BatchRunId",
																"value": {
																	"value": "@pipeline().parameters.BatchRunId",
																	"type": "Expression"
																}
															},
															{
																"name": "BatchGroupId",
																"value": {
																	"value": "@string(pipeline().parameters.BatchGroupId)",
																	"type": "Expression"
																}
															}
														],
														"query": {
															"value": "SELECT \ncast('15001'as int) AS FeedKey\n,'person' AS TableName\n,'person' AS SchemaName\n,ordinal_position    AS FieldPosition\n,0                   AS ScriptHeader\n,'[' || c.COLUMN_NAME || '] ' || '['|| case when DATA_TYPE = 'datetime' then 'datetime2' else DATA_TYPE end || ']'\n\t|| case \n\t\twhen DATA_TYPE in ('nvarchar', 'varchar', 'nchar', 'char') then '(' || replace(cast(CHARACTER_MAXIMUM_LENGTH as varchar),'-1','MAX') || ')'\n\t\twhen DATA_TYPE in ('varbinary') then '(' || replace(cast(CHARACTER_MAXIMUM_LENGTH as varchar),'-1','MAX') || ')'\n\t\twhen DATA_TYPE in ('int', 'bigint', 'uniqueidentifier') then ''\n\t\twhen DATA_TYPE in ('datetime', 'datetime2') then '(0)'\n\t\twhen DATA_TYPE in ('numeric') then '(' || cast(NUMERIC_PRECISION as varchar) || ',' || cast(NUMERIC_SCALE as varchar) || ')'\n\t\telse '' \n\tend \n\t|| case when pk.c is null then ' NULL' else ' NOT NULL' end \n\t|| case \n\t\twhen ORDINAL_POSITION= (select max(ordinal_Position) from INFORMATION_SCHEMA.COLUMNS where TABLE_NAME = 'person') \n\t\tthen ', CONSTRAINT [PK_' || 'person' || '] PRIMARY KEY CLUSTERED ( ' || \n\t\t(\n\t\t\tselect \n\t\t\tstring_agg(concat(COLUMN_NAME ,' ASC'),',') as pks\n\t\t\tFROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS tc\n\t\t\tJOIN INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE ccu \n\t\t\tON tc.CONSTRAINT_NAME = ccu.Constraint_name\n\t\t\tWHERE tc.TABLE_NAME = 'person' \n\t\t\tAND tc.CONSTRAINT_TYPE = 'PRIMARY KEY' \n\t\t) || ') )'\n\t\telse ',' \nend AS FieldCreateSQL\n,COLUMN_NAME  AS FieldName\n,COLUMN_NAME  AS FieldWarehouseName --for WarehouseMapping\n,'[' || case when DATA_TYPE = 'datetime' then 'datetime2' else DATA_TYPE end || ']' \n|| case \n\twhen DATA_TYPE in ('nvarchar', 'varchar', 'nchar', 'char') then '(' || replace(cast(CHARACTER_MAXIMUM_LENGTH as varchar),'-1','MAX') || ')'\n\twhen DATA_TYPE in ('varbinary') then '(' || replace(cast(CHARACTER_MAXIMUM_LENGTH as varchar),'-1','MAX') || ')'\n\twhen DATA_TYPE in ('int', 'bigint', 'uniqueidentifier') then ''\n\twhen DATA_TYPE in ('datetime', 'datetime2') then '(0)'\n\twhen DATA_TYPE in ('numeric') then '(' || cast(NUMERIC_PRECISION as varchar) || ',' || cast(NUMERIC_SCALE as varchar) || ')'\n\telse '' \nend as FieldDataType\n,case when pk.c is null then 0 else 1 end as PrimaryKeyCol --PrimaryKeyField \n\nFROM INFORMATION_SCHEMA.COLUMNS AS c\n\nLEFT OUTER JOIN   \n(\n    SELECT \n\tCOLUMN_NAME as c\n    FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS tc\n    INNER JOIN INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE ccu \n    ON  tc.CONSTRAINT_NAME = ccu.Constraint_name\n    WHERE tc.TABLE_NAME = 'person' \n    AND tc.CONSTRAINT_TYPE = 'Primary Key'\n) pk \nON c.COLUMN_NAME = pk.c\nWHERE c.TABLE_NAME = 'person' \nAND c.TABLE_SCHEMA = 'person' \nORDER BY \nordinal_position",
															"type": "Expression"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "TableName"
																},
																"sink": {
																	"name": "TableName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "SchemaName"
																},
																"sink": {
																	"name": "SchemaName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "ScriptHeader"
																},
																"sink": {
																	"name": "ScriptHeader",
																	"type": "Boolean"
																}
															},
															{
																"source": {
																	"name": "FieldPosition"
																},
																"sink": {
																	"name": "FieldPosition",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "FieldName"
																},
																"sink": {
																	"name": "FieldName",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "FieldDataType"
																},
																"sink": {
																	"name": "FieldDataType",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "FieldCreateSQL"
																},
																"sink": {
																	"name": "FieldCreateSQL",
																	"type": "String"
																}
															},
															{
																"source": {
																	"name": "PrimaryKeyCol"
																},
																"sink": {
																	"name": "FieldPrimaryKey"
																}
															},
															{
																"source": {
																	"name": "DataFactoryName"
																},
																"sink": {
																	"name": "DataFactoryName"
																}
															},
															{
																"source": {
																	"name": "PipelineName"
																},
																"sink": {
																	"name": "PipelineName"
																}
															},
															{
																"source": {
																	"name": "PipelineRunId"
																},
																"sink": {
																	"name": "PipelineRunId"
																}
															},
															{
																"source": {
																	"name": "FieldWarehouseName"
																},
																"sink": {
																	"name": "FieldWarehouseName"
																}
															},
															{
																"source": {
																	"name": "BatchGroupId"
																},
																"sink": {
																	"name": "BatchGroupId"
																}
															},
															{
																"source": {
																	"name": "BatchRunId"
																},
																"sink": {
																	"name": "BatchRunId"
																}
															},
															{
																"source": {
																	"name": "FeedKey"
																},
																"sink": {
																	"name": "FeedKey"
																}
															}
														]
													}
												},
												"inputs": [
													{
														"referenceName": "dsPostgreSQLSource",
														"type": "DatasetReference",
														"parameters": {
															"Schema": {
																"value": "@Item().SourceSchema",
																"type": "Expression"
															},
															"Table": {
																"value": "@Item().SourceTable",
																"type": "Expression"
															},
															"ServerName": {
																"value": "@Item().ServerName",
																"type": "Expression"
															},
															"DatabaseName": {
																"value": "@Item().DBName",
																"type": "Expression"
															},
															"User": {
																"value": "@Item().UserName",
																"type": "Expression"
															},
															"Secret": {
																"value": "@Item().KeyVaultSecret",
																"type": "Expression"
															},
															"Port": {
																"value": "@Item().FriendlyServerName",
																"type": "Expression"
															},
															"Keyvault": {
																"value": "@pipeline().parameters.keyvaultdnsname",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "dsTableSchema",
														"type": "DatasetReference",
														"parameters": {
															"server": {
																"value": "@pipeline().parameters.mdpserver",
																"type": "Expression"
															},
															"db": {
																"value": "@pipeline().parameters.mdpdb",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Wait",
												"type": "Wait",
												"dependsOn": [
													{
														"activity": "Build Staging Schema",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 1
												}
											},
											{
												"name": "Set BatchProcess Close Error9",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Build Staging Schema",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[app].[SetBatchProcessLogClose]",
													"storedProcedureParameters": {
														"BatchProcessLogId": {
															"value": {
																"value": "@pipeline().parameters.BatchProcessLogId",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ErrorMessage": {
															"value": {
																"value": "@activity('Build Staging Schema').Error.Message",
																"type": "Expression"
															},
															"type": "String"
														},
														"SuccessFlag": {
															"value": "0",
															"type": "Int32"
														},
														"ErrorObject": {
															"value": "1l Build Staging Schema",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "lsMDPapp_Azure",
													"type": "LinkedServiceReference",
													"parameters": {
														"server": {
															"value": "@pipeline().parameters.mdpserver",
															"type": "Expression"
														},
														"dbname": {
															"value": "@pipeline().parameters.mdpdb",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Wait1",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "SourceSchema Merge",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Extract Build Schemas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[transform].[SourceSchema]",
					"storedProcedureParameters": {
						"BatchGroupId": {
							"value": {
								"value": "@pipeline().parameters.BatchGroupId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"BatchRunId": {
							"value": {
								"value": "@pipeline().parameters.BatchRunId",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp_Azure",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ResetSourceSchema Merge",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[app].[ReSetTempSourceSchema]"
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp_Azure",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"BatchGroupId": {
				"type": "int",
				"defaultValue": 15
			},
			"BatchRunId": {
				"type": "string",
				"defaultValue": "0"
			},
			"BatchProcessLogId": {
				"type": "string",
				"defaultValue": "0"
			},
			"mdpdb": {
				"type": "string",
				"defaultValue": "devmdpdb1001"
			},
			"mdpserver": {
				"type": "string",
				"defaultValue": "devmdpsq1001.database.windows.net"
			},
			"keyvaultdnsname": {
				"type": "string",
				"defaultValue": "https://devmdpkv1003.vault.azure.net"
			}
		},
		"variables": {
			"ProcessStream": {
				"type": "String",
				"defaultValue": "DSC2APP1"
			}
		},
		"folder": {
			"name": "MDPchild"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-31T20:13:33Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}