pipeline/2i_LoadToADLS_SharePoint_HTTP.json
{
	"name": "2i_LoadToADLS_SharePoint_HTTP",
	"properties": {
		"description": "[Process Stream Code = SRC2ADLS]",
		"activities": [
			{
				"name": "LoadTypeSwitch",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "GetBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.FeedCDCType",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "5",
							"activities": [
								{
									"name": "Record Telemetry 5",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Log Integration Control 5",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[RecordTelemetry]",
										"storedProcedureParameters": {
											"FeedPath": {
												"value": {
													"value": "@{pipeline().parameters.WorkingFilePathName}",
													"type": "Expression"
												},
												"type": "String"
											},
											"TableName": {
												"value": {
													"value": "[@{pipeline().parameters.BatchSchema}].[@{pipeline().parameters.WorkingFileName}]",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataFactoryName": {
												"value": {
													"value": "@pipeline().DataFactory",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineRunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerId": {
												"value": {
													"value": "@pipeline().TriggerId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerName": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerTime": {
												"value": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerType": {
												"value": {
													"value": "@pipeline().TriggerType",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataRead": {
												"value": {
													"value": "@activity('Load ADLS 5').output.dataRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"DataWritten": {
												"value": {
													"value": "@activity('Load ADLS 5').output.dataWritten",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"FilesRead": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "String"
											},
											"SourcePeakConnections": {
												"value": {
													"value": "@activity('Load ADLS 5').output.sourcePeakConnections",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"SinkPeakConnections": {
												"value": {
													"value": "@activity('Load ADLS 5').output.sinkPeakConnections",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"RowsRead": {
												"value": {
													"value": "@activity('Load ADLS 5').output.rowsRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"RowsCopied": {
												"value": {
													"value": "@activity('Load ADLS 5').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"CopyDuration": {
												"value": {
													"value": "@activity('Load ADLS 5').output.copyDuration",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Throughput": {
												"value": {
													"value": "@activity('Load ADLS 5').output.throughput",
													"type": "Expression"
												},
												"type": "String"
											},
											"UsedDataIntegrationUnits": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"UsedParallelCopies": {
												"value": {
													"value": "@activity('Load ADLS 5').output.usedParallelCopies",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"FeedKey": {
												"value": {
													"value": "@{pipeline().parameters.ExternalFeedKey}",
													"type": "Expression"
												},
												"type": "String"
											},
											"BatchRunId": {
												"value": {
													"value": "@pipeline().parameters.BatchRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"IntegrationControlKey": {
												"value": {
													"value": "@activity('Log Integration Control 5').output.firstRow.IntegrationControlKey",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"LogFilePath": {
												"value": "''",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": "devmdpsq1001.database.windows.net",
											"dbname": "devmdpdb1001"
										}
									}
								},
								{
									"name": "Log Row Count 5",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Record Telemetry 5",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetIntegrationControlRowCount]",
										"storedProcedureParameters": {
											"IntegrationControlKey": {
												"value": {
													"value": "@activity('Log Integration Control 5').output.firstRow.IntegrationControlKey",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"OptionalDetail": {
												"value": " ",
												"type": "String"
											},
											"PipelineId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"ProcessStream": {
												"value": "CSV2PQT",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": "devmdpsq1001.database.windows.net",
											"dbname": "devmdpdb1001"
										}
									}
								},
								{
									"name": "Log Integration Control 5",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Load ADLS 5",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[app].[SetIntegrationControlRow]",
											"storedProcedureParameters": {
												"BatchGroupId": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.BatchGroupId",
														"type": "Expression"
													}
												},
												"BatchRunId": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.BatchRunId",
														"type": "Expression"
													}
												},
												"DataFactoryName": {
													"type": "String",
													"value": {
														"value": "@pipeline().DataFactory",
														"type": "Expression"
													}
												},
												"ExternalFeedKey": {
													"type": "Int32",
													"value": {
														"value": "@{pipeline().parameters.ExternalFeedKey}",
														"type": "Expression"
													}
												},
												"ExternalFields": {
													"type": "String",
													"value": null
												},
												"ExternalFileFormat": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.FileFormat",
														"type": "Expression"
													}
												},
												"ExternalJSON": {
													"type": "String",
													"value": null
												},
												"ExternalStorageContainer": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.Container",
														"type": "Expression"
													}
												},
												"ExternalStorageFolder": {
													"type": "String",
													"value": {
														"value": "@{pipeline().parameters.WorkingFilePathName}",
														"type": "Expression"
													}
												},
												"ExternalStorageURI": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.StorageURI",
														"type": "Expression"
													}
												},
												"ExternalTableName": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.ExternalFileName",
														"type": "Expression"
													}
												},
												"ExternalTableNameADLS": {
													"type": "String",
													"value": {
														"value": "@{pipeline().parameters.WorkingFileName}",
														"type": "Expression"
													}
												},
												"IntegrationControlKey": {
													"type": "Int32",
													"value": "0"
												},
												"PipelineName": {
													"type": "String",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												},
												"PipelineRunId": {
													"type": "String",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												"PipelineTriggerId": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerId",
														"type": "Expression"
													}
												},
												"PipelineTriggerName": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "dsMDP",
											"type": "DatasetReference",
											"parameters": {
												"server": {
													"value": "@pipeline().parameters.mdpserver",
													"type": "Expression"
												},
												"db": {
													"value": "@pipeline().parameters.mdpdb",
													"type": "Expression"
												},
												"schema": "dbo",
												"table": "Dummy"
											}
										}
									}
								},
								{
									"name": "Set Rows Read Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Log Row Count 5",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RowsToADLS",
										"value": {
											"value": "@string(activity('Load ADLS 5').output.rowsRead)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Load ADLS 5",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET",
												"additionalHeaders": {
													"value": "@{concat('Authorization: Bearer ', activity('GetBearerToken').output.access_token,\n'\nAccept: application/json;odata=verbose')}",
													"type": "Expression"
												},
												"requestTimeout": ""
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "dsSharepointList",
											"type": "DatasetReference",
											"parameters": {
												"baseurl": {
													"value": "@concat('https://', pipeline().parameters.ServerName, '/sites/', pipeline().parameters.DatabaseName, '/_api/web/lists/getByTitle(''', pipeline().parameters.SourceTable, ''')/items')",
													"type": "Expression"
												},
												"server": {
													"value": "@pipeline().parameters.ServerName",
													"type": "Expression"
												},
												"db": {
													"value": "@pipeline().parameters.DatabaseName",
													"type": "Expression"
												},
												"user": {
													"value": "@pipeline().parameters.user",
													"type": "Expression"
												},
												"secret": {
													"value": "@pipeline().parameters.secret",
													"type": "Expression"
												},
												"keyvaultdnsname": {
													"value": "@pipeline().parameters.keyvaultdnsname",
													"type": "Expression"
												},
												"schema": {
													"value": "@pipeline().parameters.BatchSchema",
													"type": "Expression"
												},
												"table": {
													"value": "@pipeline().parameters.SourceTable",
													"type": "Expression"
												},
												"tenantid": {
													"value": "@activity('Get TenantId from Azure Key Vault').output",
													"type": "Expression"
												},
												"connectionquery": {
													"value": "@pipeline().parameters.CustomCDCQuery",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "dsParquet",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.Container",
													"type": "Expression"
												},
												"Folder": {
													"value": "@pipeline().parameters.WorkingFilePathName",
													"type": "Expression"
												},
												"FileName": {
													"value": "@pipeline().parameters.WorkingFileName",
													"type": "Expression"
												},
												"storageuri": {
													"value": "@pipeline().parameters.StorageURI",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						},
						{
							"value": "1",
							"activities": [
								{
									"name": "Record Telemetry 1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Log Integration Control 1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[RecordTelemetry]",
										"storedProcedureParameters": {
											"FeedPath": {
												"value": {
													"value": "@{pipeline().parameters.WorkingFilePathName}",
													"type": "Expression"
												},
												"type": "String"
											},
											"TableName": {
												"value": {
													"value": "[@{pipeline().parameters.BatchSchema}].[@{pipeline().parameters.WorkingFileName}]",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataFactoryName": {
												"value": {
													"value": "@pipeline().DataFactory",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineRunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerId": {
												"value": {
													"value": "@pipeline().TriggerId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerName": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerTime": {
												"value": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerType": {
												"value": {
													"value": "@pipeline().TriggerType",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataRead": {
												"value": {
													"value": "@activity('Load ADLS 1').output.dataRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"DataWritten": {
												"value": {
													"value": "@activity('Load ADLS 1').output.dataWritten",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"FilesRead": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "String"
											},
											"SourcePeakConnections": {
												"value": {
													"value": "@activity('Load ADLS 1').output.sourcePeakConnections",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"SinkPeakConnections": {
												"value": {
													"value": "@activity('Load ADLS 1').output.sinkPeakConnections",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"RowsRead": {
												"value": {
													"value": "@activity('Load ADLS 1').output.rowsRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"RowsCopied": {
												"value": {
													"value": "@activity('Load ADLS 1').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"CopyDuration": {
												"value": {
													"value": "@activity('Load ADLS 1').output.copyDuration",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Throughput": {
												"value": {
													"value": "@activity('Load ADLS 1').output.throughput",
													"type": "Expression"
												},
												"type": "String"
											},
											"UsedDataIntegrationUnits": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"UsedParallelCopies": {
												"value": {
													"value": "@activity('Load ADLS 1').output.usedParallelCopies",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"FeedKey": {
												"value": {
													"value": "@{pipeline().parameters.ExternalFeedKey}",
													"type": "Expression"
												},
												"type": "String"
											},
											"BatchRunId": {
												"value": {
													"value": "@pipeline().parameters.BatchRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"IntegrationControlKey": {
												"value": {
													"value": "@activity('Log Integration Control 1').output.firstRow.IntegrationControlKey",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"LogFilePath": {
												"value": "''",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Log Row Count 1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Record Telemetry 1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetIntegrationControlRowCount]",
										"storedProcedureParameters": {
											"IntegrationControlKey": {
												"value": {
													"value": "@activity('Log Integration Control 1').output.firstRow.IntegrationControlKey",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"OptionalDetail": {
												"value": " ",
												"type": "String"
											},
											"PipelineId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"ProcessStream": {
												"value": "CSV2PQT",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Log Integration Control 1",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Load ADLS 1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[app].[SetIntegrationControlRow]",
											"storedProcedureParameters": {
												"BatchGroupId": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.BatchGroupId",
														"type": "Expression"
													}
												},
												"BatchRunId": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.BatchRunId",
														"type": "Expression"
													}
												},
												"DataFactoryName": {
													"type": "String",
													"value": {
														"value": "@pipeline().DataFactory",
														"type": "Expression"
													}
												},
												"ExternalFeedKey": {
													"type": "Int32",
													"value": {
														"value": "@{pipeline().parameters.ExternalFeedKey}",
														"type": "Expression"
													}
												},
												"ExternalFields": {
													"type": "String",
													"value": null
												},
												"ExternalFileFormat": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.FileFormat",
														"type": "Expression"
													}
												},
												"ExternalJSON": {
													"type": "String",
													"value": null
												},
												"ExternalStorageContainer": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.Container",
														"type": "Expression"
													}
												},
												"ExternalStorageFolder": {
													"type": "String",
													"value": {
														"value": "@{pipeline().parameters.WorkingFilePathName}",
														"type": "Expression"
													}
												},
												"ExternalStorageURI": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.StorageURI",
														"type": "Expression"
													}
												},
												"ExternalTableName": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.ExternalFileName",
														"type": "Expression"
													}
												},
												"ExternalTableNameADLS": {
													"type": "String",
													"value": {
														"value": "@{pipeline().parameters.WorkingFileName}",
														"type": "Expression"
													}
												},
												"IntegrationControlKey": {
													"type": "Int32",
													"value": "0"
												},
												"PipelineName": {
													"type": "String",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												},
												"PipelineRunId": {
													"type": "String",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												"PipelineTriggerId": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerId",
														"type": "Expression"
													}
												},
												"PipelineTriggerName": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "dsMDP",
											"type": "DatasetReference",
											"parameters": {
												"server": {
													"value": "@pipeline().parameters.mdpserver",
													"type": "Expression"
												},
												"db": {
													"value": "@pipeline().parameters.mdpdb",
													"type": "Expression"
												},
												"schema": "dbo",
												"table": "Dummy"
											}
										}
									}
								},
								{
									"name": "Set Rows Read Variable 1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Log Row Count 1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RowsToADLS",
										"value": {
											"value": "@string(activity('Load ADLS 1').output.rowsRead)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Load ADLS 1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET",
												"additionalHeaders": {
													"value": "@{concat('Authorization: Bearer ', activity('GetBearerToken').output.access_token,\n'\nAccept: application/json;odata=verbose')}",
													"type": "Expression"
												},
												"requestTimeout": ""
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "dsSharepointList",
											"type": "DatasetReference",
											"parameters": {
												"baseurl": {
													"value": "@concat('https://', pipeline().parameters.ServerName, '/sites/', pipeline().parameters.DatabaseName, '/_api/web/lists/getByTitle(''', pipeline().parameters.SourceTable, ''')/items')",
													"type": "Expression"
												},
												"server": {
													"value": "@pipeline().parameters.ServerName",
													"type": "Expression"
												},
												"db": {
													"value": "@pipeline().parameters.DatabaseName",
													"type": "Expression"
												},
												"user": {
													"value": "@pipeline().parameters.user",
													"type": "Expression"
												},
												"secret": {
													"value": "@pipeline().parameters.secret",
													"type": "Expression"
												},
												"keyvaultdnsname": {
													"value": "@pipeline().parameters.keyvaultdnsname",
													"type": "Expression"
												},
												"schema": {
													"value": "@pipeline().parameters.BatchSchema",
													"type": "Expression"
												},
												"table": {
													"value": "@pipeline().parameters.SourceTable",
													"type": "Expression"
												},
												"tenantid": {
													"value": "@activity('Get TenantId from Azure Key Vault').output",
													"type": "Expression"
												},
												"connectionquery": {
													"value": "@pipeline().parameters.CustomCDCQuery",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "dsParquet",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.Container",
													"type": "Expression"
												},
												"Folder": {
													"value": "@pipeline().parameters.WorkingFilePathName",
													"type": "Expression"
												},
												"FileName": {
													"value": "@pipeline().parameters.WorkingFileName",
													"type": "Expression"
												},
												"storageuri": {
													"value": "@pipeline().parameters.StorageURI",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						},
						{
							"value": "2",
							"activities": [
								{
									"name": "Record Telemetry 2",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Log Integration Control 2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[RecordTelemetry]",
										"storedProcedureParameters": {
											"FeedPath": {
												"value": {
													"value": "@{pipeline().parameters.WorkingFilePathName}",
													"type": "Expression"
												},
												"type": "String"
											},
											"TableName": {
												"value": {
													"value": "[@{pipeline().parameters.BatchSchema}].[@{pipeline().parameters.WorkingFileName}]",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataFactoryName": {
												"value": {
													"value": "@pipeline().DataFactory",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineRunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerId": {
												"value": {
													"value": "@pipeline().TriggerId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerName": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerTime": {
												"value": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerType": {
												"value": {
													"value": "@pipeline().TriggerType",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataRead": {
												"value": {
													"value": "@activity('Load ADLS 2').output.dataRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"DataWritten": {
												"value": {
													"value": "@activity('Load ADLS 2').output.dataWritten",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"FilesRead": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "String"
											},
											"SourcePeakConnections": {
												"value": {
													"value": "@activity('Load ADLS 2').output.sourcePeakConnections",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"SinkPeakConnections": {
												"value": {
													"value": "@activity('Load ADLS 2').output.sinkPeakConnections",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"RowsRead": {
												"value": {
													"value": "@activity('Load ADLS 2').output.rowsRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"RowsCopied": {
												"value": {
													"value": "@activity('Load ADLS 2').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"CopyDuration": {
												"value": {
													"value": "@activity('Load ADLS 2').output.copyDuration",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Throughput": {
												"value": {
													"value": "@activity('Load ADLS 2').output.throughput",
													"type": "Expression"
												},
												"type": "String"
											},
											"UsedDataIntegrationUnits": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"UsedParallelCopies": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"FeedKey": {
												"value": {
													"value": "@{pipeline().parameters.ExternalFeedKey}",
													"type": "Expression"
												},
												"type": "String"
											},
											"BatchRunId": {
												"value": {
													"value": "@pipeline().parameters.BatchRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"IntegrationControlKey": {
												"value": {
													"value": "@activity('Log Integration Control 2').output.firstRow.IntegrationControlKey",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"LogFilePath": {
												"value": "''",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Log Row Count 2",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Record Telemetry 2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetIntegrationControlRowCount]",
										"storedProcedureParameters": {
											"IntegrationControlKey": {
												"value": {
													"value": "@activity('Log Integration Control 2').output.firstRow.IntegrationControlKey",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"OptionalDetail": {
												"value": " ",
												"type": "String"
											},
											"PipelineId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"ProcessStream": {
												"value": "CSV2PQT",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Log Integration Control 2",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Load ADLS 2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[app].[SetIntegrationControlRow]",
											"storedProcedureParameters": {
												"BatchGroupId": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.BatchGroupId",
														"type": "Expression"
													}
												},
												"BatchRunId": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.BatchRunId",
														"type": "Expression"
													}
												},
												"DataFactoryName": {
													"type": "String",
													"value": {
														"value": "@pipeline().DataFactory",
														"type": "Expression"
													}
												},
												"ExternalFeedKey": {
													"type": "Int32",
													"value": {
														"value": "@{pipeline().parameters.ExternalFeedKey}",
														"type": "Expression"
													}
												},
												"ExternalFields": {
													"type": "String",
													"value": null
												},
												"ExternalFileFormat": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.FileFormat",
														"type": "Expression"
													}
												},
												"ExternalJSON": {
													"type": "String",
													"value": null
												},
												"ExternalStorageContainer": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.Container",
														"type": "Expression"
													}
												},
												"ExternalStorageFolder": {
													"type": "String",
													"value": {
														"value": "@{pipeline().parameters.WorkingFilePathName}",
														"type": "Expression"
													}
												},
												"ExternalStorageURI": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.StorageURI",
														"type": "Expression"
													}
												},
												"ExternalTableName": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.ExternalFileName",
														"type": "Expression"
													}
												},
												"ExternalTableNameADLS": {
													"type": "String",
													"value": {
														"value": "@{pipeline().parameters.WorkingFileName}",
														"type": "Expression"
													}
												},
												"IntegrationControlKey": {
													"type": "Int32",
													"value": "0"
												},
												"PipelineName": {
													"type": "String",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												},
												"PipelineRunId": {
													"type": "String",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												"PipelineTriggerId": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerId",
														"type": "Expression"
													}
												},
												"PipelineTriggerName": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "dsMDP",
											"type": "DatasetReference",
											"parameters": {
												"server": {
													"value": "@pipeline().parameters.mdpserver",
													"type": "Expression"
												},
												"db": {
													"value": "@pipeline().parameters.mdpdb",
													"type": "Expression"
												},
												"schema": "dbo",
												"table": "Dummy"
											}
										}
									}
								},
								{
									"name": "Set Rows Read Variable 2",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Log Row Count 2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RowsToADLS",
										"value": {
											"value": "@string(activity('Load ADLS 2').output.rowsRead)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Load ADLS 2",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET",
												"additionalHeaders": {
													"value": "@{concat('Authorization: Bearer ', activity('GetBearerToken').output.access_token,\n'\nAccept: application/json;odata=verbose')}",
													"type": "Expression"
												},
												"requestTimeout": ""
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "dsSharepointList",
											"type": "DatasetReference",
											"parameters": {
												"baseurl": {
													"value": "@concat('https://', pipeline().parameters.ServerName, '/sites/', pipeline().parameters.DatabaseName, '/_api/web/lists/getByTitle(''', pipeline().parameters.SourceTable, ''')/items')",
													"type": "Expression"
												},
												"server": {
													"value": "@pipeline().parameters.ServerName",
													"type": "Expression"
												},
												"db": {
													"value": "@pipeline().parameters.DatabaseName",
													"type": "Expression"
												},
												"user": {
													"value": "@pipeline().parameters.user",
													"type": "Expression"
												},
												"secret": {
													"value": "@pipeline().parameters.secret",
													"type": "Expression"
												},
												"keyvaultdnsname": {
													"value": "@pipeline().parameters.keyvaultdnsname",
													"type": "Expression"
												},
												"schema": {
													"value": "@pipeline().parameters.BatchSchema",
													"type": "Expression"
												},
												"table": {
													"value": "@pipeline().parameters.SourceTable",
													"type": "Expression"
												},
												"tenantid": {
													"value": "@activity('Get TenantId from Azure Key Vault').output",
													"type": "Expression"
												},
												"connectionquery": {
													"value": "@pipeline().parameters.CustomCDCQuery",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "dsParquet",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.Container",
													"type": "Expression"
												},
												"Folder": {
													"value": "@pipeline().parameters.WorkingFilePathName",
													"type": "Expression"
												},
												"FileName": {
													"value": "@pipeline().parameters.WorkingFileName",
													"type": "Expression"
												},
												"storageuri": {
													"value": "@pipeline().parameters.StorageURI",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						},
						{
							"value": "4",
							"activities": [
								{
									"name": "Record Telemetry 4",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Log Integration Control 4",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[RecordTelemetry]",
										"storedProcedureParameters": {
											"FeedPath": {
												"value": {
													"value": "@{pipeline().parameters.WorkingFilePathName}",
													"type": "Expression"
												},
												"type": "String"
											},
											"TableName": {
												"value": {
													"value": "[@{pipeline().parameters.BatchSchema}].[@{pipeline().parameters.WorkingFileName}]",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataFactoryName": {
												"value": {
													"value": "@pipeline().DataFactory",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineRunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerId": {
												"value": {
													"value": "@pipeline().TriggerId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerName": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerTime": {
												"value": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerType": {
												"value": {
													"value": "@pipeline().TriggerType",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataRead": {
												"value": {
													"value": "@activity('Load ADLS 4').output.dataRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"DataWritten": {
												"value": {
													"value": "@activity('Load ADLS 4').output.dataWritten",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"FilesRead": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "String"
											},
											"SourcePeakConnections": {
												"value": {
													"value": "@activity('Load ADLS 4').output.sourcePeakConnections",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"SinkPeakConnections": {
												"value": {
													"value": "@activity('Load ADLS 4').output.sinkPeakConnections",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"RowsRead": {
												"value": {
													"value": "@activity('Load ADLS 4').output.rowsRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"RowsCopied": {
												"value": {
													"value": "@activity('Load ADLS 4').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"CopyDuration": {
												"value": {
													"value": "@activity('Load ADLS 4').output.copyDuration",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Throughput": {
												"value": {
													"value": "@activity('Load ADLS 4').output.throughput",
													"type": "Expression"
												},
												"type": "String"
											},
											"UsedDataIntegrationUnits": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"UsedParallelCopies": {
												"value": {
													"value": "@activity('Load ADLS 4').output.usedParallelCopies",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"FeedKey": {
												"value": {
													"value": "@{pipeline().parameters.ExternalFeedKey}",
													"type": "Expression"
												},
												"type": "String"
											},
											"IntegrationControlKey": {
												"value": {
													"value": "@activity('Log Integration Control 4').output.firstRow.IntegrationControlKey",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"LogFilePath": {
												"value": "''",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Log Row Count 4",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Record Telemetry 4",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetIntegrationControlRowCount]",
										"storedProcedureParameters": {
											"IntegrationControlKey": {
												"value": {
													"value": "@activity('Log Integration Control 4').output.firstRow.IntegrationControlKey",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"OptionalDetail": {
												"value": " ",
												"type": "String"
											},
											"PipelineId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"ProcessStream": {
												"value": "CSV2PQT",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Log Integration Control 4",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Load ADLS 4",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[app].[SetIntegrationControlRow]",
											"storedProcedureParameters": {
												"BatchGroupId": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.BatchGroupId",
														"type": "Expression"
													}
												},
												"BatchRunId": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.BatchRunId",
														"type": "Expression"
													}
												},
												"DataFactoryName": {
													"type": "String",
													"value": {
														"value": "@pipeline().DataFactory",
														"type": "Expression"
													}
												},
												"ExternalFeedKey": {
													"type": "Int32",
													"value": {
														"value": "@{pipeline().parameters.ExternalFeedKey}",
														"type": "Expression"
													}
												},
												"ExternalFields": {
													"type": "String",
													"value": null
												},
												"ExternalFileFormat": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.FileFormat",
														"type": "Expression"
													}
												},
												"ExternalJSON": {
													"type": "String",
													"value": null
												},
												"ExternalStorageContainer": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.Container",
														"type": "Expression"
													}
												},
												"ExternalStorageFolder": {
													"type": "String",
													"value": {
														"value": "@{pipeline().parameters.WorkingFilePathName}",
														"type": "Expression"
													}
												},
												"ExternalStorageURI": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.StorageURI",
														"type": "Expression"
													}
												},
												"ExternalTableName": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.ExternalFileName",
														"type": "Expression"
													}
												},
												"ExternalTableNameADLS": {
													"type": "String",
													"value": {
														"value": "@{pipeline().parameters.WorkingFileName}",
														"type": "Expression"
													}
												},
												"IntegrationControlKey": {
													"type": "Int32",
													"value": "0"
												},
												"PipelineName": {
													"type": "String",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												},
												"PipelineRunId": {
													"type": "String",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												"PipelineTriggerId": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerId",
														"type": "Expression"
													}
												},
												"PipelineTriggerName": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "dsMDP",
											"type": "DatasetReference",
											"parameters": {
												"server": {
													"value": "@pipeline().parameters.mdpserver",
													"type": "Expression"
												},
												"db": {
													"value": "@pipeline().parameters.mdpdb",
													"type": "Expression"
												},
												"schema": "dbo",
												"table": "Dummy"
											}
										}
									}
								},
								{
									"name": "Set Rows Read Variable 4",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Log Row Count 4",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RowsToADLS",
										"value": {
											"value": "@string(activity('Load ADLS 4').output.rowsRead)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Load ADLS 4",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET",
												"additionalHeaders": {
													"value": "@{concat('Authorization: Bearer ', activity('GetBearerToken').output.access_token,\n'\nAccept: application/json;odata=verbose')}",
													"type": "Expression"
												},
												"requestTimeout": ""
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "dsSharepointList",
											"type": "DatasetReference",
											"parameters": {
												"baseurl": {
													"value": "@concat('https://', pipeline().parameters.ServerName, '/sites/', pipeline().parameters.DatabaseName, '/_api/web/lists/getByTitle(''', pipeline().parameters.SourceTable, ''')/items')",
													"type": "Expression"
												},
												"server": {
													"value": "@pipeline().parameters.ServerName",
													"type": "Expression"
												},
												"db": {
													"value": "@pipeline().parameters.DatabaseName",
													"type": "Expression"
												},
												"user": {
													"value": "@pipeline().parameters.user",
													"type": "Expression"
												},
												"secret": {
													"value": "@pipeline().parameters.secret",
													"type": "Expression"
												},
												"keyvaultdnsname": {
													"value": "@pipeline().parameters.keyvaultdnsname",
													"type": "Expression"
												},
												"schema": {
													"value": "@pipeline().parameters.BatchSchema",
													"type": "Expression"
												},
												"table": {
													"value": "@pipeline().parameters.SourceTable",
													"type": "Expression"
												},
												"tenantid": {
													"value": "@activity('Get TenantId from Azure Key Vault').output",
													"type": "Expression"
												},
												"connectionquery": {
													"value": "@pipeline().parameters.CustomCDCQuery",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "dsParquet",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.Container",
													"type": "Expression"
												},
												"Folder": {
													"value": "@pipeline().parameters.WorkingFilePathName",
													"type": "Expression"
												},
												"FileName": {
													"value": "@pipeline().parameters.WorkingFileName",
													"type": "Expression"
												},
												"storageuri": {
													"value": "@pipeline().parameters.StorageURI",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Record Telemetry",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Log Integration Control",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[RecordTelemetry]",
								"storedProcedureParameters": {
									"FeedPath": {
										"value": {
											"value": "@pipeline().parameters.WorkingFilePathName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableName": {
										"value": {
											"value": "[@{pipeline().parameters.BatchSchema}].[@{pipeline().parameters.WorkingFileName}]",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataFactoryName": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerId": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataRead": {
										"value": {
											"value": "@activity('Load ADLS').output.dataRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"DataWritten": {
										"value": {
											"value": "@activity('Load ADLS').output.dataWritten",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"FilesRead": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourcePeakConnections": {
										"value": {
											"value": "@activity('Load ADLS').output.sourcePeakConnections",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"SinkPeakConnections": {
										"value": {
											"value": "@activity('Load ADLS').output.sinkPeakConnections",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": {
											"value": "@activity('Load ADLS').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RowsCopied": {
										"value": {
											"value": "@activity('Load ADLS').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"CopyDuration": {
										"value": {
											"value": "@activity('Load ADLS').output.copyDuration",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Throughput": {
										"value": {
											"value": "@activity('Load ADLS').output.throughput",
											"type": "Expression"
										},
										"type": "String"
									},
									"UsedDataIntegrationUnits": {
										"value": {
											"value": "@if(empty(string(activity('Load ADLS').output.usedDataIntegrationUnits)),0,activity('Load ADLS').output.usedDataIntegrationUnits)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"UsedParallelCopies": {
										"value": {
											"value": "@activity('Load ADLS').output.usedParallelCopies",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"FeedKey": {
										"value": {
											"value": "@pipeline().parameters.ExternalFeedKey",
											"type": "Expression"
										},
										"type": "String"
									},
									"BatchRunId": {
										"value": {
											"value": "@pipeline().parameters.BatchRunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"IntegrationControlKey": {
										"value": {
											"value": "@activity('Log Integration Control').output.firstRow.IntegrationControlKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"LogFilePath": {
										"value": "''",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Log Row Count",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Record Telemetry",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetIntegrationControlRowCount]",
								"storedProcedureParameters": {
									"IntegrationControlKey": {
										"value": {
											"value": "@activity('Log Integration Control').output.firstRow.IntegrationControlKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"OptionalDetail": {
										"value": " ",
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessStream": {
										"value": "CSV2PQT",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Log Integration Control",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Load ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[app].[SetIntegrationControlRow]",
									"storedProcedureParameters": {
										"BatchGroupId": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.BatchGroupId",
												"type": "Expression"
											}
										},
										"BatchRunId": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.BatchRunId",
												"type": "Expression"
											}
										},
										"DataFactoryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"ExternalFeedKey": {
											"type": "Int32",
											"value": {
												"value": "@{pipeline().parameters.ExternalFeedKey}",
												"type": "Expression"
											}
										},
										"ExternalFields": {
											"type": "String",
											"value": null
										},
										"ExternalFileFormat": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.FileFormat",
												"type": "Expression"
											}
										},
										"ExternalJSON": {
											"type": "String",
											"value": null
										},
										"ExternalStorageContainer": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.Container",
												"type": "Expression"
											}
										},
										"ExternalStorageFolder": {
											"type": "String",
											"value": {
												"value": "@{pipeline().parameters.WorkingFilePathName}",
												"type": "Expression"
											}
										},
										"ExternalStorageURI": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.StorageURI",
												"type": "Expression"
											}
										},
										"ExternalTableName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.ExternalFileName",
												"type": "Expression"
											}
										},
										"ExternalTableNameADLS": {
											"type": "String",
											"value": {
												"value": "@{pipeline().parameters.WorkingFileName}",
												"type": "Expression"
											}
										},
										"IntegrationControlKey": {
											"type": "Int32",
											"value": "0"
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"PipelineRunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"PipelineTriggerId": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"PipelineTriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "dsMDP",
									"type": "DatasetReference",
									"parameters": {
										"server": {
											"value": "@pipeline().parameters.mdpserver",
											"type": "Expression"
										},
										"db": {
											"value": "@pipeline().parameters.mdpdb",
											"type": "Expression"
										},
										"schema": "dbo",
										"table": "Dummy"
									}
								}
							}
						},
						{
							"name": "Load ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "XmlSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET",
										"additionalHeaders": {
											"value": "@{concat('Authorization: Bearer ', activity('GetBearerToken').output.access_token,\n'\nAccept: application/csv;odata=verbose')}",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "XmlReadSettings",
										"validationMode": "none",
										"namespaces": true
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "dsSharepointList_XML",
									"type": "DatasetReference",
									"parameters": {
										"baseurl": {
											"value": "@concat('https://', pipeline().parameters.ServerName, '/sites/', pipeline().parameters.DatabaseName, '/_api/web/lists/getByTitle(''', pipeline().parameters.SourceTable, ''')/items')",
											"type": "Expression"
										},
										"server": {
											"value": "@pipeline().parameters.ServerName",
											"type": "Expression"
										},
										"db": {
											"value": "@pipeline().parameters.DatabaseName",
											"type": "Expression"
										},
										"user": {
											"value": "@pipeline().parameters.user",
											"type": "Expression"
										},
										"secret": {
											"value": "@pipeline().parameters.secret",
											"type": "Expression"
										},
										"keyvaultdnsname": {
											"value": "@pipeline().parameters.keyvaultdnsname",
											"type": "Expression"
										},
										"schema": {
											"value": "@pipeline().parameters.BatchSchema",
											"type": "Expression"
										},
										"table": {
											"value": "@pipeline().parameters.SourceTable",
											"type": "Expression"
										},
										"tenantid": {
											"value": "@activity('Get TenantId from Azure Key Vault').output.value",
											"type": "Expression"
										},
										"connectionquery": "?$Select=*"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsParquet",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"Folder": {
											"value": "@pipeline().parameters.WorkingFilePathName",
											"type": "Expression"
										},
										"FileName": {
											"value": "@pipeline().parameters.WorkingFileName",
											"type": "Expression"
										},
										"storageuri": {
											"value": "@pipeline().parameters.StorageURI",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set BatchProcess Close Error Type 0",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load ADLS",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetBatchProcessLogClose]",
								"storedProcedureParameters": {
									"BatchProcessLogId": {
										"value": {
											"value": "@pipeline().parameters.BatchProcessLogId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMessage": {
										"value": {
											"value": "@{activity('Load ADLS').Error.Message}",
											"type": "Expression"
										},
										"type": "String"
									},
									"SuccessFlag": {
										"value": "0",
										"type": "Int32"
									},
									"ErrorObject": {
										"value": "2h CopyData",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Fail Disable Feed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LoadTypeSwitch",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[app].[DisableFeed]",
					"storedProcedureParameters": {
						"FeedKey": {
							"value": {
								"value": "@pipeline().parameters.ExternalFeedKey",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Create Key Table",
				"description": "Need to Factor in CDCType and Persist Staging Flag",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LoadTypeSwitch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.CreateKeyFile,1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Record Telemetry Deletes",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load Keys to ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[RecordTelemetry]",
								"storedProcedureParameters": {
									"FeedPath": {
										"value": {
											"value": "@pipeline().parameters.FeedFullyQualifiedADLSKeyPath",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableName": {
										"value": {
											"value": "[@{pipeline().parameters.BatchSchema}].[@{pipeline().parameters.WorkingFileName}]+'_Keys'",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataFactoryName": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerId": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataRead": {
										"value": {
											"value": "@activity('Load Keys to ADLS').output.dataRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"DataWritten": {
										"value": {
											"value": "@activity('Load Keys to ADLS').output.dataWritten",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"FilesRead": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourcePeakConnections": {
										"value": {
											"value": "@activity('Load Keys to ADLS').output.sourcePeakConnections",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"SinkPeakConnections": {
										"value": {
											"value": "@activity('Load Keys to ADLS').output.sinkPeakConnections",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": {
											"value": "@activity('Load Keys to ADLS').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RowsCopied": {
										"value": {
											"value": "@activity('Load Keys to ADLS').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"CopyDuration": {
										"value": {
											"value": "@activity('Load Keys to ADLS').output.copyDuration",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Throughput": {
										"value": {
											"value": "@activity('Load Keys to ADLS').output.throughput",
											"type": "Expression"
										},
										"type": "String"
									},
									"UsedDataIntegrationUnits": {
										"value": {
											"value": "@if(empty(string(activity('Load Keys to ADLS').output.usedDataIntegrationUnits)),0,activity('Load Keys to ADLS').output.usedDataIntegrationUnits)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"UsedParallelCopies": {
										"value": {
											"value": "@activity('Load Keys to ADLS').output.usedParallelCopies",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"FeedKey": {
										"value": {
											"value": "@pipeline().parameters.ExternalFeedKey",
											"type": "Expression"
										},
										"type": "String"
									},
									"BatchRunId": {
										"value": {
											"value": "@pipeline().parameters.BatchRunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"IntegrationControlKey": {
										"value": {
											"value": "-1",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Load Keys to ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET",
										"additionalHeaders": {
											"value": "@{concat('Authorization: Bearer ', activity('GetBearerToken').output.access_token,\n'\nAccept: application/json;odata=verbose')}",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "dsSharepointList",
									"type": "DatasetReference",
									"parameters": {
										"baseurl": {
											"value": "@concat('https://', pipeline().parameters.ServerName, '/sites/', pipeline().parameters.DatabaseName, '/_api/web/lists/getByTitle(''', pipeline().parameters.SourceTable, ''')/items')",
											"type": "Expression"
										},
										"server": {
											"value": "@pipeline().parameters.ServerName",
											"type": "Expression"
										},
										"db": {
											"value": "@pipeline().parameters.DatabaseName",
											"type": "Expression"
										},
										"user": {
											"value": "@pipeline().parameters.user",
											"type": "Expression"
										},
										"secret": {
											"value": "@pipeline().parameters.secret",
											"type": "Expression"
										},
										"keyvaultdnsname": {
											"value": "@pipeline().parameters.keyvaultdnsname",
											"type": "Expression"
										},
										"schema": {
											"value": "@pipeline().parameters.BatchSchema",
											"type": "Expression"
										},
										"table": {
											"value": "@pipeline().parameters.SourceTable",
											"type": "Expression"
										},
										"tenantid": {
											"value": "@activity('Get TenantId from Azure Key Vault').output",
											"type": "Expression"
										},
										"connectionquery": {
											"value": "@pipeline().parameters.KeySelectStatement",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsParquet",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"Folder": {
											"value": "@pipeline().parameters.WorkingFilePathName",
											"type": "Expression"
										},
										"FileName": {
											"value": "@pipeline().parameters.WorkingFileName",
											"type": "Expression"
										},
										"storageuri": {
											"value": "@pipeline().parameters.StorageURI",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get TenantId from Azure Key Vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.keyvaultdnsname,'/secrets/sharepointtenantid?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"body": {
						"simple": "body"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "GetBearerToken",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get TenantId from Azure Key Vault",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetSecretValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://accounts.accesscontrol.windows.net/',activity('Get TenantId from Azure Key Vault').output.value ,'/tokens/OAuth/2')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@concat('grant_type=client_credentials&client_id=', pipeline().parameters.user, '@',activity('Get TenantId from Azure Key Vault').output.value ,'&client_secret=', activity('GetSecretValue').output.value, '&resource=00000003-0000-0ff1-ce00-000000000000/',pipeline().parameters.ServerName, '@', activity('Get TenantId from Azure Key Vault').output.value)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetSecretValue",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.keyvaultdnsname,'/secrets/sharepoint-sp-secret?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"body": {
						"value": "@concat('grant_type=client_credentials&client_id=', '0855c4ff-c097-4936-be65-19936a499d8d@e85feadf-11e7-47bb-a160-43b98dcc96f1', '&client_secret=', 'zZW7Q~~Izq.U9SXI5LuOnN-LTrwsXC_RNr4Ws', '&resource=00000003-0000-0ff1-ce00-000000000000/hsdyn.sharepoint.com@e85feadf-11e7-47bb-a160-43b98dcc96f1')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"ExternalFeedKey": {
				"type": "string",
				"defaultValue": "30000"
			},
			"FeedCDCType": {
				"type": "string",
				"defaultValue": "0"
			},
			"WorkingFileName": {
				"type": "string",
				"defaultValue": "ce_knowledgearticle_20201127_084619.parquet"
			},
			"WorkingFilePathName": {
				"type": "string",
				"defaultValue": "raw/ce/knowledgearticle/2020-11-27/08-46-19"
			},
			"ExternalFileName": {
				"type": "string",
				"defaultValue": "ext.ce_knowledgearticle"
			},
			"LastRecordId": {
				"type": "string",
				"defaultValue": "1"
			},
			"RecordIdColumnName": {
				"type": "string",
				"defaultValue": "Id"
			},
			"CreateTimestampColumnName": {
				"type": "string",
				"defaultValue": "Created"
			},
			"DeltaReverseTimeOffsetInSecs": {
				"type": "string",
				"defaultValue": "60"
			},
			"LastSeenCreateTimestamp": {
				"type": "string",
				"defaultValue": "1900-01-01 00:01:01.000"
			},
			"EditTimestampColumnName": {
				"type": "string",
				"defaultValue": "Modified"
			},
			"LastSeenEditTimestamp": {
				"type": "string",
				"defaultValue": "1900-01-01 00:01:01.000"
			},
			"CustomCDCQuery": {
				"type": "string"
			},
			"WorkingColumnArray": {
				"type": "string",
				"defaultValue": "'articlepublicnumber','content','createdby','createdby_entitytype','createdbyname','createdbyyominame','createdon','createdonbehalfby','createdonbehalfby_entitytype','createdonbehalfbyname','createdonbehalfbyyominame','description','exchangerate','expirationdate','expirationstateid','expirationstatusid','expiredreviewoptions','Id','importsequencenumber','isinternal','islatestversion','isprimary','isrootarticle','keywords','knowledgearticleid','knowledgearticleviews','knowledgearticleviews_date','knowledgearticleviews_state','languagelocaleid','languagelocaleid_entitytype','languagelocaleidlocaleid','languagelocaleidname','majorversionnumber','minorversionnumber','modifiedby','modifiedby_entitytype','modifiedbyname','modifiedbyyominame','modifiedon','modifiedonbehalfby','modifiedonbehalfby_entitytype','modifiedonbehalfbyname','modifiedonbehalfbyyominame','overriddencreatedon','ownerid','ownerid_entitytype','owneridname','owneridtype','owneridyominame','owningbusinessunit','owningbusinessunit_entitytype','owningteam','owningteam_entitytype','owninguser','owninguser_entitytype','parentarticlecontentid','parentarticlecontentid_entitytype','parentarticlecontentidname','previousarticlecontentid','previousarticlecontentid_entitytype','previousarticlecontentidname','primaryauthorid','primaryauthorid_entitytype','primaryauthoridname','processid','publishon','publishstatusid','rating','rating_count','rating_date','rating_state','rating_sum','readyforreview','review','rootarticleid','rootarticleid_entitytype','rootarticleidname','scheduledstatusid','setcategoryassociations','setproductassociations','SinkCreatedOn','SinkModifiedOn','stageid','statecode','statuscode','subjectid','subjectid_entitytype','subjectiddsc','subjectidname','timezoneruleversionnumber','title','transactioncurrencyid','transactioncurrencyid_entitytype','transactioncurrencyidname','traversedpath','updatecontent','utcconversiontimezonecode','versionnumber'"
			},
			"Container": {
				"type": "string",
				"defaultValue": "sharepoint"
			},
			"BatchSchema": {
				"type": "string",
				"defaultValue": "MDPSharePointSourceDev"
			},
			"StorageURI": {
				"type": "string",
				"defaultValue": "https://devmdpst1001.dfs.core.windows.net"
			},
			"SourceTable": {
				"type": "string",
				"defaultValue": "WQ_DMS_Test_Feed"
			},
			"FileFormat": {
				"type": "string",
				"defaultValue": "parquet"
			},
			"BatchRunId": {
				"type": "string",
				"defaultValue": "1"
			},
			"DatabaseName": {
				"type": "string",
				"defaultValue": "MDPSharePointSourceDev"
			},
			"ServerName": {
				"type": "string",
				"defaultValue": "hsdyn.sharepoint.com"
			},
			"BatchGroupId": {
				"type": "string",
				"defaultValue": "30"
			},
			"CreateKeyFile": {
				"type": "string",
				"defaultValue": "0"
			},
			"FeedFullyQualifiedADLSKeyPath": {
				"type": "string"
			},
			"KeyFileName": {
				"type": "string"
			},
			"KeySelectStatement": {
				"type": "string"
			},
			"BatchProcessLogId": {
				"type": "int",
				"defaultValue": 0
			},
			"mdpdb": {
				"type": "string",
				"defaultValue": "devmdpdb1001"
			},
			"mdpserver": {
				"type": "string",
				"defaultValue": "devmdpsq1001.database.windows.net"
			},
			"keyvaultdnsname": {
				"type": "string",
				"defaultValue": "https://devmdpkv1003.vault.azure.net/"
			},
			"user": {
				"type": "string"
			},
			"secret": {
				"type": "string"
			}
		},
		"variables": {
			"RowsToADLS": {
				"type": "String",
				"defaultValue": "999"
			}
		},
		"folder": {
			"name": "MDPchild"
		},
		"annotations": [
			"standard load eg CE"
		],
		"lastPublishTime": "2021-07-31T20:09:07Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}