pipeline/2k1_LoadToADLS_AzureMySQL.json
{
	"name": "2k1_LoadToADLS_AzureMySQL",
	"properties": {
		"description": "[Process Stream Code = SRC2ADLS]",
		"activities": [
			{
				"name": "ModelJson",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupColumns",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select replace('{\"application\": \"Dynamics\",\n  \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n  \"description\": \"@{pipeline().parameters.WorkingFileName}\",\n\"entities\": [\n    {\"$type\": \"LocalEntity\",\n      \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n      \"description\": \"@{pipeline().parameters.WorkingFileName}\",\n      \"attributes\":@{activity('LookupColumns').output.value},\n \"partitions\": [\n        {\n          \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n          \"location\": \"@{pipeline().parameters.StorageURI}@{pipeline().parameters.Container}/@{pipeline().parameters.WorkingFilePathName}/@{pipeline().parameters.WorkingFileName}/@{pipeline().parameters.WorkingFileName}.@{pipeline().parameters.FileFormat}\"\n        }\n      ]\n}\n]\n}', '\\', ' ')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dsCDCMetadata",
						"type": "DatasetReference",
						"parameters": {
							"db": {
								"value": "@pipeline().parameters.mdpdb",
								"type": "Expression"
							},
							"server": {
								"value": "@pipeline().parameters.mdpserver",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dsModelJson_Azure",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.Container",
								"type": "Expression"
							},
							"Folder": {
								"value": "@pipeline().parameters.WorkingFilePathName",
								"type": "Expression"
							},
							"storageuri": {
								"value": "@pipeline().parameters.StorageURI",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LookupColumns",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": {
							"value": "SET @SourceName = '@{pipeline().parameters.SourceTable}';\nSET @SourceSchema = '@{pipeline().parameters.BatchSchema}';\n\n-- SET @SourceName = 'customeraddress';\n-- SET @SourceSchema = 'adventureworks' ;\n\nselect c.COLUMN_NAME as name,      \n\tc.COLUMN_NAME as description,     \n\tcase  DATA_TYPE       \n\t\tWHEN 'bigint' THEN 'int64'      \n        WHEN 'bit' THEN 'int64'   \n        WHEN 'mediumint' THEN 'int64'   \n        WHEN 'year' THEN 'int64'   \n        WHEN 'smallint' THEN 'int64'   \n        WHEN 'tinyint' THEN 'int64'   \n        WHEN 'int' THEN 'int64'      \n        WHEN 'timestamp' THEN 'int64'      \n        WHEN 'datetime' THEN 'dateTime'      \n        WHEN 'datetime2' THEN 'dateTime'\n        WHEN 'decimal' THEN 'double'      \n        WHEN 'float' THEN 'double'      \n        WHEN 'double' THEN 'double'      \n        WHEN 'real' THEN 'double'      \n        WHEN 'money' THEN 'double'      \n        WHEN 'numeric' THEN 'double'      \n        else 'string'       \n        END as dataType    \nFROM INFORMATION_SCHEMA.COLUMNS c     \nwhere c.TABLE_NAME = @SourceName   \n\tand c.TABLE_SCHEMA = @SourceSchema\n    and c.COLUMN_NAME in (@{pipeline().parameters.WorkingColumnArray})",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "dsAzureMySQLSource",
						"type": "DatasetReference",
						"parameters": {
							"ServerName": {
								"value": "@pipeline().parameters.ServerName",
								"type": "Expression"
							},
							"DatabaseName": {
								"value": "@pipeline().parameters.DatabaseName",
								"type": "Expression"
							},
							"KeyVault": {
								"value": "@pipeline().parameters.keyvaultdnsname",
								"type": "Expression"
							},
							"Secret": {
								"value": "@pipeline().parameters.sourcesecret",
								"type": "Expression"
							},
							"User": {
								"value": "@pipeline().parameters.sourceuser",
								"type": "Expression"
							},
							"Port": {
								"value": "@pipeline().parameters.sourceport",
								"type": "Expression"
							},
							"Table": {
								"value": "@pipeline().parameters.SourceTable",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoadTypeSwitch",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "ModelJson",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.FeedCDCType",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "5",
							"activities": [
								{
									"name": "Record Telemetry 5",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Log Integration Control 5",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[RecordTelemetry]",
										"storedProcedureParameters": {
											"FeedPath": {
												"value": {
													"value": "@{pipeline().parameters.WorkingFilePathName}",
													"type": "Expression"
												},
												"type": "String"
											},
											"TableName": {
												"value": {
													"value": "[@{pipeline().parameters.BatchSchema}].[@{pipeline().parameters.WorkingFileName}]",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataFactoryName": {
												"value": {
													"value": "@pipeline().DataFactory",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineRunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerId": {
												"value": {
													"value": "@pipeline().TriggerId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerName": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerTime": {
												"value": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerType": {
												"value": {
													"value": "@pipeline().TriggerType",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataRead": {
												"value": {
													"value": "@activity('Load ADLS 5').output.dataRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"DataWritten": {
												"value": {
													"value": "@activity('Load ADLS 5').output.dataWritten",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"FilesRead": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "String"
											},
											"SourcePeakConnections": {
												"value": {
													"value": "@activity('Load ADLS 5').output.sourcePeakConnections",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"SinkPeakConnections": {
												"value": {
													"value": "@activity('Load ADLS 5').output.sinkPeakConnections",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"RowsRead": {
												"value": {
													"value": "@activity('Load ADLS 5').output.rowsRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"RowsCopied": {
												"value": {
													"value": "@activity('Load ADLS 5').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"CopyDuration": {
												"value": {
													"value": "@activity('Load ADLS 5').output.copyDuration",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Throughput": {
												"value": {
													"value": "@activity('Load ADLS 5').output.throughput",
													"type": "Expression"
												},
												"type": "String"
											},
											"UsedDataIntegrationUnits": {
												"value": {
													"value": "@if(empty(string(activity('Load ADLS 5').output.usedDataIntegrationUnits)),0,activity('Load ADLS 5').output.usedDataIntegrationUnits)",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"UsedParallelCopies": {
												"value": {
													"value": "@activity('Load ADLS 5').output.usedParallelCopies",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"FeedKey": {
												"value": {
													"value": "@{pipeline().parameters.ExternalFeedKey}",
													"type": "Expression"
												},
												"type": "String"
											},
											"BatchRunId": {
												"value": {
													"value": "@pipeline().parameters.BatchRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"IntegrationControlKey": {
												"value": {
													"value": "@activity('Log Integration Control 5').output.firstRow.IntegrationControlKey",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"logfilepath": {
												"value": {
													"value": "@concat(pipeline().parameters.Container,pipeline().parameters.WorkingFilePathName,pipeline().parameters.WorkingFileName)\n",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Log Row Count 5",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Record Telemetry 5",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetIntegrationControlRowCount]",
										"storedProcedureParameters": {
											"IntegrationControlKey": {
												"value": {
													"value": "@activity('Log Integration Control 5').output.firstRow.IntegrationControlKey",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"OptionalDetail": {
												"value": " ",
												"type": "String"
											},
											"PipelineId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"ProcessStream": {
												"value": "CSV2PQT",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Log Integration Control 5",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Load ADLS 5",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[app].[SetIntegrationControlRow]",
											"storedProcedureParameters": {
												"BatchGroupId": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.BatchGroupId",
														"type": "Expression"
													}
												},
												"BatchRunId": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.BatchRunId",
														"type": "Expression"
													}
												},
												"DataFactoryName": {
													"type": "String",
													"value": {
														"value": "@pipeline().DataFactory",
														"type": "Expression"
													}
												},
												"ExternalFeedKey": {
													"type": "Int32",
													"value": {
														"value": "@{pipeline().parameters.ExternalFeedKey}",
														"type": "Expression"
													}
												},
												"ExternalFields": {
													"type": "String",
													"value": {
														"value": "@{activity('LookupColumns').output.value}",
														"type": "Expression"
													}
												},
												"ExternalFileFormat": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.FileFormat",
														"type": "Expression"
													}
												},
												"ExternalJSON": {
													"type": "String",
													"value": {
														"value": "Select replace('{\"application\": \"Dynamics\",\n  \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n  \"description\": \"@{pipeline().parameters.WorkingFileName}\",\n\"entities\": [\n    {\"$type\": \"LocalEntity\",\n      \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n      \"description\": \"@{pipeline().parameters.WorkingFileName}\",\n      \"attributes\":@{activity('LookupColumns').output.value},\n \"partitions\": [\n        {\n          \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n          \"location\": \"@{pipeline().parameters.StorageURI}@{pipeline().parameters.Container}/@{pipeline().parameters.WorkingFilePathName}/@{pipeline().parameters.WorkingFileName}/@{pipeline().parameters.WorkingFileName}.@{pipeline().parameters.FileFormat}\"\n        }\n      ]\n}\n]\n}', '\\', ' ')",
														"type": "Expression"
													}
												},
												"ExternalStorageContainer": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.Container",
														"type": "Expression"
													}
												},
												"ExternalStorageFolder": {
													"type": "String",
													"value": {
														"value": "@{pipeline().parameters.WorkingFilePathName}",
														"type": "Expression"
													}
												},
												"ExternalStorageURI": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.StorageURI",
														"type": "Expression"
													}
												},
												"ExternalTableName": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.ExternalFileName",
														"type": "Expression"
													}
												},
												"ExternalTableNameADLS": {
													"type": "String",
													"value": {
														"value": "@{pipeline().parameters.WorkingFileName}",
														"type": "Expression"
													}
												},
												"IntegrationControlKey": {
													"type": "Int32",
													"value": "0"
												},
												"PipelineName": {
													"type": "String",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												},
												"PipelineRunId": {
													"type": "String",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												"PipelineTriggerId": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerId",
														"type": "Expression"
													}
												},
												"PipelineTriggerName": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "dsMDP",
											"type": "DatasetReference",
											"parameters": {
												"server": {
													"value": "@pipeline().parameters.mdpserver",
													"type": "Expression"
												},
												"db": {
													"value": "@pipeline().parameters.mdpdb",
													"type": "Expression"
												},
												"schema": "dbo",
												"table": "Dummy"
											}
										}
									}
								},
								{
									"name": "Set Rows Read Variable",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Log Row Count 5",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RowsToADLS",
										"value": {
											"value": "@string(activity('Load ADLS 5').output.rowsRead)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Load ADLS 5",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureMySqlSource",
											"query": {
												"value": "select * from `@{pipeline().parameters.BatchSchema}`.`@{pipeline().parameters.SourceTable}` tbl WHERE `@{pipeline().parameters.RecordIdColumnName}` > @{pipeline().parameters.LastRecordId}",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false,
												"dateTimeFormat": "\"yyyy-MM-dd HH:mm:ss.fffffff\""
											}
										}
									},
									"inputs": [
										{
											"referenceName": "dsAzureMySQLSource",
											"type": "DatasetReference",
											"parameters": {
												"ServerName": {
													"value": "@pipeline().parameters.ServerName",
													"type": "Expression"
												},
												"DatabaseName": {
													"value": "@pipeline().parameters.DatabaseName",
													"type": "Expression"
												},
												"KeyVault": {
													"value": "@pipeline().parameters.keyvaultdnsname",
													"type": "Expression"
												},
												"Secret": {
													"value": "@pipeline().parameters.sourcesecret",
													"type": "Expression"
												},
												"User": {
													"value": "@pipeline().parameters.sourceuser",
													"type": "Expression"
												},
												"Port": {
													"value": "@pipeline().parameters.sourceport",
													"type": "Expression"
												},
												"Table": {
													"value": "@concat(pipeline().parameters.BatchSchema,'.',pipeline().parameters.SourceTable)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "dsParquet",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.Container",
													"type": "Expression"
												},
												"Folder": {
													"value": "@pipeline().parameters.WorkingFilePathName",
													"type": "Expression"
												},
												"FileName": {
													"value": "@pipeline().parameters.WorkingFileName",
													"type": "Expression"
												},
												"storageuri": {
													"value": "@pipeline().parameters.StorageURI",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Set BatchProcess Close Error Type 5",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load ADLS 5",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetBatchProcessLogClose]",
										"storedProcedureParameters": {
											"BatchProcessLogId": {
												"value": {
													"value": "@pipeline().parameters.BatchProcessLogId",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorMessage": {
												"value": {
													"value": "@{activity('Load ADLS 5').Error.Message}",
													"type": "Expression"
												},
												"type": "String"
											},
											"SuccessFlag": {
												"value": "0",
												"type": "Int32"
											},
											"ErrorObject": {
												"value": "2e CopyData",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "1",
							"activities": [
								{
									"name": "Record Telemetry 1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Log Integration Control 1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[RecordTelemetry]",
										"storedProcedureParameters": {
											"FeedPath": {
												"value": {
													"value": "@{pipeline().parameters.WorkingFilePathName}",
													"type": "Expression"
												},
												"type": "String"
											},
											"TableName": {
												"value": {
													"value": "[@{pipeline().parameters.BatchSchema}].[@{pipeline().parameters.WorkingFileName}]",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataFactoryName": {
												"value": {
													"value": "@pipeline().DataFactory",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineRunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerId": {
												"value": {
													"value": "@pipeline().TriggerId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerName": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerTime": {
												"value": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerType": {
												"value": {
													"value": "@pipeline().TriggerType",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataRead": {
												"value": {
													"value": "@activity('Load ADLS 1').output.dataRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"DataWritten": {
												"value": {
													"value": "@activity('Load ADLS 1').output.dataWritten",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"FilesRead": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "String"
											},
											"SourcePeakConnections": {
												"value": {
													"value": "@activity('Load ADLS 1').output.sourcePeakConnections",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"SinkPeakConnections": {
												"value": {
													"value": "@activity('Load ADLS 1').output.sinkPeakConnections",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"RowsRead": {
												"value": {
													"value": "@activity('Load ADLS 1').output.rowsRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"RowsCopied": {
												"value": {
													"value": "@activity('Load ADLS 1').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"CopyDuration": {
												"value": {
													"value": "@activity('Load ADLS 1').output.copyDuration",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Throughput": {
												"value": {
													"value": "@activity('Load ADLS 1').output.throughput",
													"type": "Expression"
												},
												"type": "String"
											},
											"UsedDataIntegrationUnits": {
												"value": {
													"value": "@if(empty(string(activity('Load ADLS 1').output.usedDataIntegrationUnits)),0,activity('Load ADLS 1').output.usedDataIntegrationUnits)",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"UsedParallelCopies": {
												"value": {
													"value": "@activity('Load ADLS 1').output.usedParallelCopies",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"FeedKey": {
												"value": {
													"value": "@{pipeline().parameters.ExternalFeedKey}",
													"type": "Expression"
												},
												"type": "String"
											},
											"BatchRunId": {
												"value": {
													"value": "@pipeline().parameters.BatchRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"IntegrationControlKey": {
												"value": {
													"value": "@activity('Log Integration Control 1').output.firstRow.IntegrationControlKey",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"logfilepath": {
												"value": {
													"value": "@concat(pipeline().parameters.Container,pipeline().parameters.WorkingFilePathName,pipeline().parameters.WorkingFileName)\n",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Log Row Count 1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Record Telemetry 1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetIntegrationControlRowCount]",
										"storedProcedureParameters": {
											"IntegrationControlKey": {
												"value": {
													"value": "@activity('Log Integration Control 1').output.firstRow.IntegrationControlKey",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"OptionalDetail": {
												"value": " ",
												"type": "String"
											},
											"PipelineId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"ProcessStream": {
												"value": "CSV2PQT",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Log Integration Control 1",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Load ADLS 1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[app].[SetIntegrationControlRow]",
											"storedProcedureParameters": {
												"BatchGroupId": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.BatchGroupId",
														"type": "Expression"
													}
												},
												"BatchRunId": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.BatchRunId",
														"type": "Expression"
													}
												},
												"DataFactoryName": {
													"type": "String",
													"value": {
														"value": "@pipeline().DataFactory",
														"type": "Expression"
													}
												},
												"ExternalFeedKey": {
													"type": "Int32",
													"value": {
														"value": "@{pipeline().parameters.ExternalFeedKey}",
														"type": "Expression"
													}
												},
												"ExternalFields": {
													"type": "String",
													"value": {
														"value": "@{activity('LookupColumns').output.value}",
														"type": "Expression"
													}
												},
												"ExternalFileFormat": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.FileFormat",
														"type": "Expression"
													}
												},
												"ExternalJSON": {
													"type": "String",
													"value": {
														"value": "Select replace('{\"application\": \"Dynamics\",\n  \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n  \"description\": \"@{pipeline().parameters.WorkingFileName}\",\n\"entities\": [\n    {\"$type\": \"LocalEntity\",\n      \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n      \"description\": \"@{pipeline().parameters.WorkingFileName}\",\n      \"attributes\":@{activity('LookupColumns').output.value},\n \"partitions\": [\n        {\n          \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n          \"location\": \"@{pipeline().parameters.StorageURI}@{pipeline().parameters.Container}/@{pipeline().parameters.WorkingFilePathName}/@{pipeline().parameters.WorkingFileName}/@{pipeline().parameters.WorkingFileName}.@{pipeline().parameters.FileFormat}\"\n        }\n      ]\n}\n]\n}', '\\', ' ')",
														"type": "Expression"
													}
												},
												"ExternalStorageContainer": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.Container",
														"type": "Expression"
													}
												},
												"ExternalStorageFolder": {
													"type": "String",
													"value": {
														"value": "@{pipeline().parameters.WorkingFilePathName}",
														"type": "Expression"
													}
												},
												"ExternalStorageURI": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.StorageURI",
														"type": "Expression"
													}
												},
												"ExternalTableName": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.ExternalFileName",
														"type": "Expression"
													}
												},
												"ExternalTableNameADLS": {
													"type": "String",
													"value": {
														"value": "@{pipeline().parameters.WorkingFileName}",
														"type": "Expression"
													}
												},
												"IntegrationControlKey": {
													"type": "Int32",
													"value": "0"
												},
												"PipelineName": {
													"type": "String",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												},
												"PipelineRunId": {
													"type": "String",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												"PipelineTriggerId": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerId",
														"type": "Expression"
													}
												},
												"PipelineTriggerName": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "dsMDP",
											"type": "DatasetReference",
											"parameters": {
												"server": {
													"value": "@pipeline().parameters.mdpserver",
													"type": "Expression"
												},
												"db": {
													"value": "@pipeline().parameters.mdpdb",
													"type": "Expression"
												},
												"schema": "dbo",
												"table": "Dummy"
											}
										}
									}
								},
								{
									"name": "Set Rows Read Variable 1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Log Row Count 1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RowsToADLS",
										"value": {
											"value": "@string(activity('Load ADLS 1').output.rowsRead)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Load ADLS 1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureMySqlSource",
											"query": {
												"value": "select * from `@{pipeline().parameters.BatchSchema}`.`@{pipeline().parameters.SourceTable}` WHERE @{pipeline().parameters.CreateTimestampColumnName} > \n  case when (select data_type from information_schema.columns where table_name = '@{pipeline().parameters.SourceTable}' and Table_Schema='@{pipeline().parameters.BatchSchema}' and column_name = '@{pipeline().parameters.CreateTimestampColumnName}') = 'timestamp' \n    then TIMESTAMPADD(SECOND, -@{pipeline().parameters.DeltaReverseTimeOffsetInSecs}, \"@{formatDateTime(pipeline().parameters.LastSeenCreateTimestamp,'yyyy-MM-dd HH:mm:ss')}\")\n        else date_add(\"@{formatDateTime(pipeline().parameters.LastSeenCreateTimestamp,'yyyy-MM-dd HH:mm:ss')}\", Interval -@{pipeline().parameters.DeltaReverseTimeOffsetInSecs} SECOND) END;",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false,
												"dateTimeFormat": "\"yyyy-MM-dd HH:mm:ss.fffffff\""
											}
										}
									},
									"inputs": [
										{
											"referenceName": "dsAzureMySQLSource",
											"type": "DatasetReference",
											"parameters": {
												"ServerName": {
													"value": "@pipeline().parameters.ServerName",
													"type": "Expression"
												},
												"DatabaseName": {
													"value": "@pipeline().parameters.DatabaseName",
													"type": "Expression"
												},
												"KeyVault": {
													"value": "@pipeline().parameters.keyvaultdnsname",
													"type": "Expression"
												},
												"Secret": {
													"value": "@pipeline().parameters.sourcesecret",
													"type": "Expression"
												},
												"User": {
													"value": "@pipeline().parameters.sourceuser",
													"type": "Expression"
												},
												"Port": {
													"value": "@pipeline().parameters.sourceport",
													"type": "Expression"
												},
												"Table": {
													"value": "@concat(pipeline().parameters.BatchSchema,'.',pipeline().parameters.SourceTable)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "dsParquet",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.Container",
													"type": "Expression"
												},
												"Folder": {
													"value": "@pipeline().parameters.WorkingFilePathName",
													"type": "Expression"
												},
												"FileName": {
													"value": "@pipeline().parameters.WorkingFileName",
													"type": "Expression"
												},
												"storageuri": {
													"value": "@pipeline().parameters.StorageURI",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Set BatchProcess Close Error Type 1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load ADLS 1",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetBatchProcessLogClose]",
										"storedProcedureParameters": {
											"BatchProcessLogId": {
												"value": {
													"value": "@pipeline().parameters.BatchProcessLogId",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorMessage": {
												"value": {
													"value": "@{activity('Load ADLS 1').Error.Message}",
													"type": "Expression"
												},
												"type": "String"
											},
											"SuccessFlag": {
												"value": "0",
												"type": "Int32"
											},
											"ErrorObject": {
												"value": "2e CopyData",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "2",
							"activities": [
								{
									"name": "Record Telemetry 2",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Log Integration Control 2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[RecordTelemetry]",
										"storedProcedureParameters": {
											"FeedPath": {
												"value": {
													"value": "@{pipeline().parameters.WorkingFilePathName}",
													"type": "Expression"
												},
												"type": "String"
											},
											"TableName": {
												"value": {
													"value": "[@{pipeline().parameters.BatchSchema}].[@{pipeline().parameters.WorkingFileName}]",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataFactoryName": {
												"value": {
													"value": "@pipeline().DataFactory",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineRunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerId": {
												"value": {
													"value": "@pipeline().TriggerId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerName": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerTime": {
												"value": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerType": {
												"value": {
													"value": "@pipeline().TriggerType",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataRead": {
												"value": {
													"value": "@activity('Load ADLS 2').output.dataRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"DataWritten": {
												"value": {
													"value": "@activity('Load ADLS 2').output.dataWritten",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"FilesRead": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "String"
											},
											"SourcePeakConnections": {
												"value": {
													"value": "@activity('Load ADLS 2').output.sourcePeakConnections",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"SinkPeakConnections": {
												"value": {
													"value": "@activity('Load ADLS 2').output.sinkPeakConnections",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"RowsRead": {
												"value": {
													"value": "@activity('Load ADLS 2').output.rowsRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"RowsCopied": {
												"value": {
													"value": "@activity('Load ADLS 2').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"CopyDuration": {
												"value": {
													"value": "@activity('Load ADLS 2').output.copyDuration",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Throughput": {
												"value": {
													"value": "@activity('Load ADLS 2').output.throughput",
													"type": "Expression"
												},
												"type": "String"
											},
											"UsedDataIntegrationUnits": {
												"value": {
													"value": "@if(empty(string(activity('Load ADLS 2').output.usedDataIntegrationUnits)),0,activity('Load ADLS 2').output.usedDataIntegrationUnits)",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"UsedParallelCopies": {
												"value": {
													"value": "@activity('Load ADLS 2').output.usedParallelCopies",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"FeedKey": {
												"value": {
													"value": "@{pipeline().parameters.ExternalFeedKey}",
													"type": "Expression"
												},
												"type": "String"
											},
											"BatchRunId": {
												"value": {
													"value": "@pipeline().parameters.BatchRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"IntegrationControlKey": {
												"value": {
													"value": "@activity('Log Integration Control 2').output.firstRow.IntegrationControlKey",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"logfilepath": {
												"value": {
													"value": "@concat(pipeline().parameters.Container,pipeline().parameters.WorkingFilePathName,pipeline().parameters.WorkingFileName)\n",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Log Row Count 2",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Record Telemetry 2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetIntegrationControlRowCount]",
										"storedProcedureParameters": {
											"IntegrationControlKey": {
												"value": {
													"value": "@activity('Log Integration Control 2').output.firstRow.IntegrationControlKey",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"OptionalDetail": {
												"value": " ",
												"type": "String"
											},
											"PipelineId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"ProcessStream": {
												"value": "CSV2PQT",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Log Integration Control 2",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Load ADLS 2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[app].[SetIntegrationControlRow]",
											"storedProcedureParameters": {
												"BatchGroupId": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.BatchGroupId",
														"type": "Expression"
													}
												},
												"BatchRunId": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.BatchRunId",
														"type": "Expression"
													}
												},
												"DataFactoryName": {
													"type": "String",
													"value": {
														"value": "@pipeline().DataFactory",
														"type": "Expression"
													}
												},
												"ExternalFeedKey": {
													"type": "Int32",
													"value": {
														"value": "@{pipeline().parameters.ExternalFeedKey}",
														"type": "Expression"
													}
												},
												"ExternalFields": {
													"type": "String",
													"value": {
														"value": "@{activity('LookupColumns').output.value}",
														"type": "Expression"
													}
												},
												"ExternalFileFormat": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.FileFormat",
														"type": "Expression"
													}
												},
												"ExternalJSON": {
													"type": "String",
													"value": {
														"value": "Select replace('{\"application\": \"Dynamics\",\n  \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n  \"description\": \"@{pipeline().parameters.WorkingFileName}\",\n\"entities\": [\n    {\"$type\": \"LocalEntity\",\n      \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n      \"description\": \"@{pipeline().parameters.WorkingFileName}\",\n      \"attributes\":@{activity('LookupColumns').output.value},\n \"partitions\": [\n        {\n          \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n          \"location\": \"@{pipeline().parameters.StorageURI}@{pipeline().parameters.Container}/@{pipeline().parameters.WorkingFilePathName}/@{pipeline().parameters.WorkingFileName}/@{pipeline().parameters.WorkingFileName}.@{pipeline().parameters.FileFormat}\"\n        }\n      ]\n}\n]\n}', '\\', ' ')",
														"type": "Expression"
													}
												},
												"ExternalStorageContainer": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.Container",
														"type": "Expression"
													}
												},
												"ExternalStorageFolder": {
													"type": "String",
													"value": {
														"value": "@{pipeline().parameters.WorkingFilePathName}",
														"type": "Expression"
													}
												},
												"ExternalStorageURI": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.StorageURI",
														"type": "Expression"
													}
												},
												"ExternalTableName": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.ExternalFileName",
														"type": "Expression"
													}
												},
												"ExternalTableNameADLS": {
													"type": "String",
													"value": {
														"value": "@{pipeline().parameters.WorkingFileName}",
														"type": "Expression"
													}
												},
												"IntegrationControlKey": {
													"type": "Int32",
													"value": "0"
												},
												"PipelineName": {
													"type": "String",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												},
												"PipelineRunId": {
													"type": "String",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												"PipelineTriggerId": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerId",
														"type": "Expression"
													}
												},
												"PipelineTriggerName": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "dsMDP",
											"type": "DatasetReference",
											"parameters": {
												"server": {
													"value": "@pipeline().parameters.mdpserver",
													"type": "Expression"
												},
												"db": {
													"value": "@pipeline().parameters.mdpdb",
													"type": "Expression"
												},
												"schema": "dbo",
												"table": "Dummy"
											}
										}
									}
								},
								{
									"name": "Set Rows Read Variable 2",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Log Row Count 2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RowsToADLS",
										"value": {
											"value": "@string(activity('Load ADLS 2').output.rowsRead)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Load ADLS 2",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureMySqlSource",
											"query": {
												"value": "select * from `@{pipeline().parameters.BatchSchema}`.`@{pipeline().parameters.SourceTable}` \nWHERE @{pipeline().parameters.CreateTimestampColumnName} > \n  case when (select data_type from information_schema.columns where table_name = '@{pipeline().parameters.SourceTable}' and Table_Schema='@{pipeline().parameters.BatchSchema}' and column_name = '@{pipeline().parameters.CreateTimestampColumnName}') = 'timestamp' \n    then TIMESTAMPADD(SECOND, -@{pipeline().parameters.DeltaReverseTimeOffsetInSecs}, \"@{formatDateTime(pipeline().parameters.LastSeenCreateTimestamp,'yyyy-MM-dd HH:mm:ss')}\")\n        else date_add(\"@{formatDateTime(pipeline().parameters.LastSeenCreateTimestamp,'yyyy-MM-dd HH:mm:ss')}\", Interval -@{pipeline().parameters.DeltaReverseTimeOffsetInSecs} SECOND) END\n    OR @{pipeline().parameters.EditTimestampColumnName} > \n  case when (select data_type from information_schema.columns where table_name = '@{pipeline().parameters.SourceTable}' and Table_Schema='@{pipeline().parameters.BatchSchema}' and column_name = '@{pipeline().parameters.EditTimestampColumnName}') = 'timestamp' \n    then TIMESTAMPADD(SECOND, -@{pipeline().parameters.DeltaReverseTimeOffsetInSecs}, \"@{formatDateTime(pipeline().parameters.LastSeenEditTimestamp,'yyyy-MM-dd HH:mm:ss')}\")\n        else date_add(\"@{formatDateTime(pipeline().parameters.LastSeenEditTimestamp,'yyyy-MM-dd HH:mm:ss')}\", Interval -@{pipeline().parameters.DeltaReverseTimeOffsetInSecs} SECOND) END;",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false,
												"dateTimeFormat": "\"yyyy-MM-dd HH:mm:ss.fffffff\""
											}
										}
									},
									"inputs": [
										{
											"referenceName": "dsAzureMySQLSource",
											"type": "DatasetReference",
											"parameters": {
												"ServerName": {
													"value": "@pipeline().parameters.ServerName",
													"type": "Expression"
												},
												"DatabaseName": {
													"value": "@pipeline().parameters.DatabaseName",
													"type": "Expression"
												},
												"KeyVault": {
													"value": "@pipeline().parameters.keyvaultdnsname",
													"type": "Expression"
												},
												"Secret": {
													"value": "@pipeline().parameters.sourcesecret",
													"type": "Expression"
												},
												"User": {
													"value": "@pipeline().parameters.sourceuser",
													"type": "Expression"
												},
												"Port": {
													"value": "@pipeline().parameters.sourceport",
													"type": "Expression"
												},
												"Table": {
													"value": "@concat(pipeline().parameters.BatchSchema,'.',pipeline().parameters.SourceTable)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "dsParquet",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.Container",
													"type": "Expression"
												},
												"Folder": {
													"value": "@pipeline().parameters.WorkingFilePathName",
													"type": "Expression"
												},
												"FileName": {
													"value": "@pipeline().parameters.WorkingFileName",
													"type": "Expression"
												},
												"storageuri": {
													"value": "@pipeline().parameters.StorageURI",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Set BatchProcess Close Error Type 2",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load ADLS 2",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetBatchProcessLogClose]",
										"storedProcedureParameters": {
											"BatchProcessLogId": {
												"value": {
													"value": "@pipeline().parameters.BatchProcessLogId",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorMessage": {
												"value": {
													"value": "@{activity('Load ADLS 2').Error.Message}",
													"type": "Expression"
												},
												"type": "String"
											},
											"SuccessFlag": {
												"value": "0",
												"type": "Int32"
											},
											"ErrorObject": {
												"value": "2e CopyData",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "4",
							"activities": [
								{
									"name": "Record Telemetry 4",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Log Integration Control 4",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[RecordTelemetry]",
										"storedProcedureParameters": {
											"FeedPath": {
												"value": {
													"value": "@{pipeline().parameters.WorkingFilePathName}",
													"type": "Expression"
												},
												"type": "String"
											},
											"TableName": {
												"value": {
													"value": "[@{pipeline().parameters.BatchSchema}].[@{pipeline().parameters.WorkingFileName}]",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataFactoryName": {
												"value": {
													"value": "@pipeline().DataFactory",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineRunId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerId": {
												"value": {
													"value": "@pipeline().TriggerId",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerName": {
												"value": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerTime": {
												"value": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineTriggerType": {
												"value": {
													"value": "@pipeline().TriggerType",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataRead": {
												"value": {
													"value": "@activity('Load ADLS 4').output.dataRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"DataWritten": {
												"value": {
													"value": "@activity('Load ADLS 4').output.dataWritten",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"FilesRead": {
												"value": {
													"value": "0",
													"type": "Expression"
												},
												"type": "String"
											},
											"SourcePeakConnections": {
												"value": {
													"value": "@activity('Load ADLS 4').output.sourcePeakConnections",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"SinkPeakConnections": {
												"value": {
													"value": "@activity('Load ADLS 4').output.sinkPeakConnections",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"RowsRead": {
												"value": {
													"value": "@activity('Load ADLS 4').output.rowsRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"RowsCopied": {
												"value": {
													"value": "@activity('Load ADLS 4').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"CopyDuration": {
												"value": {
													"value": "@activity('Load ADLS 4').output.copyDuration",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Throughput": {
												"value": {
													"value": "@activity('Load ADLS 4').output.throughput",
													"type": "Expression"
												},
												"type": "String"
											},
											"UsedDataIntegrationUnits": {
												"value": {
													"value": "@if(empty(string(activity('Load ADLS 4').output.usedDataIntegrationUnits)),0,activity('Load ADLS 4').output.usedDataIntegrationUnits)",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"UsedParallelCopies": {
												"value": {
													"value": "@activity('Load ADLS 4').output.usedParallelCopies",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"FeedKey": {
												"value": {
													"value": "@{pipeline().parameters.ExternalFeedKey}",
													"type": "Expression"
												},
												"type": "String"
											},
											"IntegrationControlKey": {
												"value": {
													"value": "@activity('Log Integration Control 4').output.firstRow.IntegrationControlKey",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"logfilepath": {
												"value": {
													"value": "@concat(pipeline().parameters.Container,pipeline().parameters.WorkingFilePathName,pipeline().parameters.WorkingFileName)\n",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Log Row Count 4",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Record Telemetry 4",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetIntegrationControlRowCount]",
										"storedProcedureParameters": {
											"IntegrationControlKey": {
												"value": {
													"value": "@activity('Log Integration Control 4').output.firstRow.IntegrationControlKey",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"OptionalDetail": {
												"value": " ",
												"type": "String"
											},
											"PipelineId": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"ProcessStream": {
												"value": "CSV2PQT",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Log Integration Control 4",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Load ADLS 4",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[app].[SetIntegrationControlRow]",
											"storedProcedureParameters": {
												"BatchGroupId": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.BatchGroupId",
														"type": "Expression"
													}
												},
												"BatchRunId": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.BatchRunId",
														"type": "Expression"
													}
												},
												"DataFactoryName": {
													"type": "String",
													"value": {
														"value": "@pipeline().DataFactory",
														"type": "Expression"
													}
												},
												"ExternalFeedKey": {
													"type": "Int32",
													"value": {
														"value": "@{pipeline().parameters.ExternalFeedKey}",
														"type": "Expression"
													}
												},
												"ExternalFields": {
													"type": "String",
													"value": {
														"value": "@{activity('LookupColumns').output.value}",
														"type": "Expression"
													}
												},
												"ExternalFileFormat": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.FileFormat",
														"type": "Expression"
													}
												},
												"ExternalJSON": {
													"type": "String",
													"value": {
														"value": "Select replace('{\"application\": \"Dynamics\",\n  \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n  \"description\": \"@{pipeline().parameters.WorkingFileName}\",\n\"entities\": [\n    {\"$type\": \"LocalEntity\",\n      \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n      \"description\": \"@{pipeline().parameters.WorkingFileName}\",\n      \"attributes\":@{activity('LookupColumns').output.value},\n \"partitions\": [\n        {\n          \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n          \"location\": \"@{pipeline().parameters.StorageURI}@{pipeline().parameters.Container}/@{pipeline().parameters.WorkingFilePathName}/@{pipeline().parameters.WorkingFileName}/@{pipeline().parameters.WorkingFileName}.@{pipeline().parameters.FileFormat}\"\n        }\n      ]\n}\n]\n}', '\\', ' ')",
														"type": "Expression"
													}
												},
												"ExternalStorageContainer": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.Container",
														"type": "Expression"
													}
												},
												"ExternalStorageFolder": {
													"type": "String",
													"value": {
														"value": "@{pipeline().parameters.WorkingFilePathName}",
														"type": "Expression"
													}
												},
												"ExternalStorageURI": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.StorageURI",
														"type": "Expression"
													}
												},
												"ExternalTableName": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.ExternalFileName",
														"type": "Expression"
													}
												},
												"ExternalTableNameADLS": {
													"type": "String",
													"value": {
														"value": "@{pipeline().parameters.WorkingFileName}",
														"type": "Expression"
													}
												},
												"IntegrationControlKey": {
													"type": "Int32",
													"value": "0"
												},
												"PipelineName": {
													"type": "String",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												},
												"PipelineRunId": {
													"type": "String",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												"PipelineTriggerId": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerId",
														"type": "Expression"
													}
												},
												"PipelineTriggerName": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "dsMDP",
											"type": "DatasetReference",
											"parameters": {
												"server": {
													"value": "@pipeline().parameters.mdpserver",
													"type": "Expression"
												},
												"db": {
													"value": "@pipeline().parameters.mdpdb",
													"type": "Expression"
												},
												"schema": "dbo",
												"table": "Dummy"
											}
										}
									}
								},
								{
									"name": "Set Rows Read Variable 4",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Log Row Count 4",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RowsToADLS",
										"value": {
											"value": "@string(activity('Load ADLS 4').output.rowsRead)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Load ADLS 4",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureMySqlSource",
											"query": {
												"value": "@pipeline().parameters.CustomCDCQuery",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false,
												"dateTimeFormat": "\"yyyy-MM-dd HH:mm:ss.fffffff\""
											}
										}
									},
									"inputs": [
										{
											"referenceName": "dsAzureMySQLSource",
											"type": "DatasetReference",
											"parameters": {
												"ServerName": {
													"value": "@pipeline().parameters.ServerName",
													"type": "Expression"
												},
												"DatabaseName": {
													"value": "@pipeline().parameters.DatabaseName",
													"type": "Expression"
												},
												"KeyVault": {
													"value": "@pipeline().parameters.keyvaultdnsname",
													"type": "Expression"
												},
												"Secret": {
													"value": "@pipeline().parameters.sourcesecret",
													"type": "Expression"
												},
												"User": {
													"value": "@pipeline().parameters.sourceuser",
													"type": "Expression"
												},
												"Port": {
													"value": "@pipeline().parameters.sourceport",
													"type": "Expression"
												},
												"Table": {
													"value": "@concat(pipeline().parameters.BatchSchema,'.',pipeline().parameters.SourceTable)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "dsParquet",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@pipeline().parameters.Container",
													"type": "Expression"
												},
												"Folder": {
													"value": "@pipeline().parameters.WorkingFilePathName",
													"type": "Expression"
												},
												"FileName": {
													"value": "@pipeline().parameters.WorkingFileName",
													"type": "Expression"
												},
												"storageuri": {
													"value": "@pipeline().parameters.StorageURI",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Set BatchProcess Close Error Type 4",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load ADLS 4",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[app].[SetBatchProcessLogClose]",
										"storedProcedureParameters": {
											"BatchProcessLogId": {
												"value": {
													"value": "@pipeline().parameters.BatchProcessLogId",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorMessage": {
												"value": {
													"value": "@{activity('Load ADLS 4').Error.Message}",
													"type": "Expression"
												},
												"type": "String"
											},
											"SuccessFlag": {
												"value": "0",
												"type": "Int32"
											},
											"ErrorObject": {
												"value": "2e CopyData",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "lsMDPapp",
										"type": "LinkedServiceReference",
										"parameters": {
											"server": {
												"value": "@pipeline().parameters.mdpserver",
												"type": "Expression"
											},
											"dbname": {
												"value": "@pipeline().parameters.mdpdb",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Record Telemetry",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Log Integration Control",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[RecordTelemetry]",
								"storedProcedureParameters": {
									"FeedPath": {
										"value": {
											"value": "@pipeline().parameters.WorkingFilePathName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableName": {
										"value": {
											"value": "@concat('[',pipeline().parameters.BatchSchema,'].[',pipeline().parameters.WorkingFileName,']')",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataFactoryName": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerId": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataRead": {
										"value": {
											"value": "@activity('Load ADLS').output.dataRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"DataWritten": {
										"value": {
											"value": "@activity('Load ADLS').output.dataWritten",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"FilesRead": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourcePeakConnections": {
										"value": {
											"value": "@activity('Load ADLS').output.sourcePeakConnections",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"SinkPeakConnections": {
										"value": {
											"value": "@activity('Load ADLS').output.sinkPeakConnections",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": {
											"value": "@activity('Load ADLS').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RowsCopied": {
										"value": {
											"value": "@activity('Load ADLS').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"CopyDuration": {
										"value": {
											"value": "@activity('Load ADLS').output.copyDuration",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Throughput": {
										"value": {
											"value": "@activity('Load ADLS').output.throughput",
											"type": "Expression"
										},
										"type": "String"
									},
									"UsedDataIntegrationUnits": {
										"value": {
											"value": "@if(empty(string(activity('Load ADLS').output.usedDataIntegrationUnits)),0,activity('Load ADLS').output.usedDataIntegrationUnits)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"UsedParallelCopies": {
										"value": {
											"value": "@activity('Load ADLS').output.usedParallelCopies",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"FeedKey": {
										"value": {
											"value": "@pipeline().parameters.ExternalFeedKey",
											"type": "Expression"
										},
										"type": "String"
									},
									"BatchRunId": {
										"value": {
											"value": "@pipeline().parameters.BatchRunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"IntegrationControlKey": {
										"value": {
											"value": "@activity('Log Integration Control').output.firstRow.IntegrationControlKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"logfilepath": {
										"value": {
											"value": "@concat(pipeline().parameters.Container,pipeline().parameters.WorkingFilePathName,pipeline().parameters.WorkingFileName)",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Log Row Count",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Record Telemetry",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetIntegrationControlRowCount]",
								"storedProcedureParameters": {
									"IntegrationControlKey": {
										"value": {
											"value": "@activity('Log Integration Control').output.firstRow.IntegrationControlKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"OptionalDetail": {
										"value": " ",
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessStream": {
										"value": "CSV2PQT",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Log Integration Control",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Load ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[app].[SetIntegrationControlRow]",
									"storedProcedureParameters": {
										"BatchGroupId": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.BatchGroupId",
												"type": "Expression"
											}
										},
										"BatchRunId": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.BatchRunId",
												"type": "Expression"
											}
										},
										"DataFactoryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"ExternalFeedKey": {
											"type": "Int32",
											"value": {
												"value": "@{pipeline().parameters.ExternalFeedKey}",
												"type": "Expression"
											}
										},
										"ExternalFields": {
											"type": "String",
											"value": {
												"value": "@{activity('LookupColumns').output.value}",
												"type": "Expression"
											}
										},
										"ExternalFileFormat": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.FileFormat",
												"type": "Expression"
											}
										},
										"ExternalJSON": {
											"type": "String",
											"value": {
												"value": "Select replace('{\"application\": \"Dynamics\",\n  \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n  \"description\": \"@{pipeline().parameters.WorkingFileName}\",\n\"entities\": [\n    {\"$type\": \"LocalEntity\",\n      \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n      \"description\": \"@{pipeline().parameters.WorkingFileName}\",\n      \"attributes\":@{activity('LookupColumns').output.value},\n \"partitions\": [\n        {\n          \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n          \"location\": \"@{pipeline().parameters.StorageURI}@{pipeline().parameters.Container}/@{pipeline().parameters.WorkingFilePathName}/@{pipeline().parameters.WorkingFileName}/@{pipeline().parameters.WorkingFileName}.@{pipeline().parameters.FileFormat}\"\n        }\n      ]\n}\n]\n}', '\\', ' ')",
												"type": "Expression"
											}
										},
										"ExternalStorageContainer": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.Container",
												"type": "Expression"
											}
										},
										"ExternalStorageFolder": {
											"type": "String",
											"value": {
												"value": "@{pipeline().parameters.WorkingFilePathName}",
												"type": "Expression"
											}
										},
										"ExternalStorageURI": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.StorageURI",
												"type": "Expression"
											}
										},
										"ExternalTableName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.ExternalFileName",
												"type": "Expression"
											}
										},
										"ExternalTableNameADLS": {
											"type": "String",
											"value": {
												"value": "@{pipeline().parameters.WorkingFileName}",
												"type": "Expression"
											}
										},
										"IntegrationControlKey": {
											"type": "Int32",
											"value": "0"
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"PipelineRunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"PipelineTriggerId": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"PipelineTriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "dsMDP",
									"type": "DatasetReference",
									"parameters": {
										"server": {
											"value": "@pipeline().parameters.mdpserver",
											"type": "Expression"
										},
										"db": {
											"value": "@pipeline().parameters.mdpdb",
											"type": "Expression"
										},
										"schema": "dbo",
										"table": "Dummy"
									}
								}
							}
						},
						{
							"name": "Load ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureMySqlSource",
									"query": {
										"value": "select * from [@{pipeline().parameters.BatchSchema}].[@{pipeline().parameters.SourceTable}]",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false,
										"dateTimeFormat": "\"yyyy-MM-dd HH:mm:ss.fffffff\""
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dsAzureMySQLSource",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@pipeline().parameters.ServerName",
											"type": "Expression"
										},
										"DatabaseName": {
											"value": "@pipeline().parameters.DatabaseName",
											"type": "Expression"
										},
										"KeyVault": {
											"value": "@pipeline().parameters.keyvaultdnsname",
											"type": "Expression"
										},
										"Secret": {
											"value": "@pipeline().parameters.sourcesecret",
											"type": "Expression"
										},
										"User": {
											"value": "@pipeline().parameters.sourceuser",
											"type": "Expression"
										},
										"Port": {
											"value": "@pipeline().parameters.sourceport",
											"type": "Expression"
										},
										"Table": {
											"value": "@concat(pipeline().parameters.BatchSchema,'.',pipeline().parameters.SourceTable)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsParquet",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"Folder": {
											"value": "@pipeline().parameters.WorkingFilePathName",
											"type": "Expression"
										},
										"FileName": {
											"value": "@pipeline().parameters.WorkingFileName",
											"type": "Expression"
										},
										"storageuri": {
											"value": "@pipeline().parameters.StorageURI",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set BatchProcess Close Error Type 0",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load ADLS",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetBatchProcessLogClose]",
								"storedProcedureParameters": {
									"BatchProcessLogId": {
										"value": {
											"value": "@pipeline().parameters.BatchProcessLogId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMessage": {
										"value": {
											"value": "@{activity('Load ADLS').Error.Message}",
											"type": "Expression"
										},
										"type": "String"
									},
									"SuccessFlag": {
										"value": "0",
										"type": "Int32"
									},
									"ErrorObject": {
										"value": "2e CopyData",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Fail Disable Feed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LookupColumns",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[app].[DisableFeed]",
					"storedProcedureParameters": {
						"FeedKey": {
							"value": {
								"value": "@pipeline().parameters.ExternalFeedKey",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Create Key Table",
				"description": "Need to Factor in CDCType and Persist Staging Flag",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Remove File if Blank",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.CreateKeyFile,1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Load Keys to ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureMySqlSource",
									"query": {
										"value": "@pipeline().parameters.KeySelectStatement",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dsAzureMySQLSource",
									"type": "DatasetReference",
									"parameters": {
										"ServerName": {
											"value": "@pipeline().parameters.ServerName",
											"type": "Expression"
										},
										"DatabaseName": {
											"value": "@pipeline().parameters.DatabaseName",
											"type": "Expression"
										},
										"KeyVault": {
											"value": "@pipeline().parameters.keyvaultdnsname",
											"type": "Expression"
										},
										"Secret": {
											"value": "@pipeline().parameters.sourcesecret",
											"type": "Expression"
										},
										"User": {
											"value": "@pipeline().parameters.sourceuser",
											"type": "Expression"
										},
										"Port": {
											"value": "@pipeline().parameters.sourceport",
											"type": "Expression"
										},
										"Table": {
											"value": "@pipeline().parameters.SourceTable",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsParquet",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"Folder": {
											"value": "@pipeline().parameters.FeedFullyQualifiedADLSKeyPath",
											"type": "Expression"
										},
										"FileName": {
											"value": "@pipeline().parameters.KeyFileName",
											"type": "Expression"
										},
										"storageuri": {
											"value": "@pipeline().parameters.StorageURI",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Record Telemetry Deletes",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load Keys to ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[RecordTelemetry]",
								"storedProcedureParameters": {
									"FeedPath": {
										"value": {
											"value": "@pipeline().parameters.FeedFullyQualifiedADLSKeyPath",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableName": {
										"value": {
											"value": "[@{pipeline().parameters.BatchSchema}].[@{pipeline().parameters.WorkingFileName}]+'_Keys'",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataFactoryName": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerId": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataRead": {
										"value": {
											"value": "@activity('Load Keys to ADLS').output.dataRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"DataWritten": {
										"value": {
											"value": "@activity('Load Keys to ADLS').output.dataWritten",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"FilesRead": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourcePeakConnections": {
										"value": {
											"value": "@activity('Load Keys to ADLS').output.sourcePeakConnections",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"SinkPeakConnections": {
										"value": {
											"value": "@activity('Load Keys to ADLS').output.sinkPeakConnections",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": {
											"value": "@activity('Load Keys to ADLS').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RowsCopied": {
										"value": {
											"value": "@activity('Load Keys to ADLS').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"CopyDuration": {
										"value": {
											"value": "@activity('Load Keys to ADLS').output.copyDuration",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Throughput": {
										"value": {
											"value": "@activity('Load Keys to ADLS').output.throughput",
											"type": "Expression"
										},
										"type": "String"
									},
									"UsedDataIntegrationUnits": {
										"value": {
											"value": "@activity('Load Keys to ADLS').output.usedDataIntegrationUnits",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"UsedParallelCopies": {
										"value": {
											"value": "@activity('Load Keys to ADLS').output.usedParallelCopies",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"FeedKey": {
										"value": {
											"value": "@pipeline().parameters.ExternalFeedKey",
											"type": "Expression"
										},
										"type": "String"
									},
									"BatchRunId": {
										"value": {
											"value": "@pipeline().parameters.BatchRunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"IntegrationControlKey": {
										"value": {
											"value": "-1",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set BatchProcess Close Error Keys",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load Keys to ADLS",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetBatchProcessLogClose]",
								"storedProcedureParameters": {
									"BatchProcessLogId": {
										"value": {
											"value": "@pipeline().parameters.BatchProcessLogId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMessage": {
										"value": {
											"value": "@{activity('Load Keys to ADLS').Error.Message}",
											"type": "Expression"
										},
										"type": "String"
									},
									"SuccessFlag": {
										"value": "0",
										"type": "Int32"
									},
									"ErrorObject": {
										"value": "2k1 KeysCopyData",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set BatchProcess Close Error Type ModelJson",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ModelJson",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[app].[SetBatchProcessLogClose]",
					"storedProcedureParameters": {
						"BatchProcessLogId": {
							"value": {
								"value": "@pipeline().parameters.BatchProcessLogId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@{activity('ModelJson').Error.Message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"SuccessFlag": {
							"value": "0",
							"type": "Int32"
						},
						"ErrorObject": {
							"value": "2k1 CopyData ModelJson",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Remove File if Blank",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LoadTypeSwitch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "RemoveBlankFile",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"RowsToADLS": {
							"value": "@variables('RowsToADLS')",
							"type": "Expression"
						},
						"Container": {
							"value": "@pipeline().parameters.Container",
							"type": "Expression"
						},
						"WorkingFilePathName": {
							"value": "@pipeline().parameters.WorkingFilePathName",
							"type": "Expression"
						},
						"WorkingFileName": {
							"value": "@pipeline().parameters.WorkingFileName",
							"type": "Expression"
						},
						"StorageURI": {
							"value": "@pipeline().parameters.StorageURI",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"ExternalFeedKey": {
				"type": "string",
				"defaultValue": "10050"
			},
			"FeedCDCType": {
				"type": "string",
				"defaultValue": "0"
			},
			"WorkingFileName": {
				"type": "string",
				"defaultValue": "ce_knowledgearticle_20201127_084619.parquet"
			},
			"WorkingFilePathName": {
				"type": "string",
				"defaultValue": "raw/ce/knowledgearticle/2020-11-27/08-46-19"
			},
			"ExternalFileName": {
				"type": "string",
				"defaultValue": "ext.ce_knowledgearticle"
			},
			"LastRecordId": {
				"type": "string",
				"defaultValue": "1"
			},
			"RecordIdColumnName": {
				"type": "string",
				"defaultValue": "RECID"
			},
			"CreateTimestampColumnName": {
				"type": "string",
				"defaultValue": "SinkCreatedOn"
			},
			"DeltaReverseTimeOffsetInSecs": {
				"type": "string",
				"defaultValue": "60"
			},
			"LastSeenCreateTimestamp": {
				"type": "string",
				"defaultValue": "1900-01-01 00:01:01.000"
			},
			"EditTimestampColumnName": {
				"type": "string",
				"defaultValue": "LastModifiedTimeStamp"
			},
			"LastSeenEditTimestamp": {
				"type": "string",
				"defaultValue": "1900-01-01 00:01:01.000"
			},
			"CustomCDCQuery": {
				"type": "string"
			},
			"WorkingColumnArray": {
				"type": "string",
				"defaultValue": "'articlepublicnumber','content','createdby','createdby_entitytype','createdbyname','createdbyyominame','createdon','createdonbehalfby','createdonbehalfby_entitytype','createdonbehalfbyname','createdonbehalfbyyominame','description','exchangerate','expirationdate','expirationstateid','expirationstatusid','expiredreviewoptions','Id','importsequencenumber','isinternal','islatestversion','isprimary','isrootarticle','keywords','knowledgearticleid','knowledgearticleviews','knowledgearticleviews_date','knowledgearticleviews_state','languagelocaleid','languagelocaleid_entitytype','languagelocaleidlocaleid','languagelocaleidname','majorversionnumber','minorversionnumber','modifiedby','modifiedby_entitytype','modifiedbyname','modifiedbyyominame','modifiedon','modifiedonbehalfby','modifiedonbehalfby_entitytype','modifiedonbehalfbyname','modifiedonbehalfbyyominame','overriddencreatedon','ownerid','ownerid_entitytype','owneridname','owneridtype','owneridyominame','owningbusinessunit','owningbusinessunit_entitytype','owningteam','owningteam_entitytype','owninguser','owninguser_entitytype','parentarticlecontentid','parentarticlecontentid_entitytype','parentarticlecontentidname','previousarticlecontentid','previousarticlecontentid_entitytype','previousarticlecontentidname','primaryauthorid','primaryauthorid_entitytype','primaryauthoridname','processid','publishon','publishstatusid','rating','rating_count','rating_date','rating_state','rating_sum','readyforreview','review','rootarticleid','rootarticleid_entitytype','rootarticleidname','scheduledstatusid','setcategoryassociations','setproductassociations','SinkCreatedOn','SinkModifiedOn','stageid','statecode','statuscode','subjectid','subjectid_entitytype','subjectiddsc','subjectidname','timezoneruleversionnumber','title','transactioncurrencyid','transactioncurrencyid_entitytype','transactioncurrencyidname','traversedpath','updatecontent','utcconversiontimezonecode','versionnumber'"
			},
			"Container": {
				"type": "string",
				"defaultValue": "d365"
			},
			"BatchSchema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"StorageURI": {
				"type": "string",
				"defaultValue": "https://edpdevrtkdls002.dfs.core.windows.net"
			},
			"SourceTable": {
				"type": "string",
				"defaultValue": "knowledgearticle"
			},
			"FileFormat": {
				"type": "string",
				"defaultValue": "parquet"
			},
			"BatchRunId": {
				"type": "string",
				"defaultValue": "1"
			},
			"DatabaseName": {
				"type": "string",
				"defaultValue": "ce-entitystore-dev-sqldb"
			},
			"ServerName": {
				"type": "string",
				"defaultValue": "ce-devtest-rtksql-001.database.windows.net"
			},
			"BatchGroupId": {
				"type": "string",
				"defaultValue": "1"
			},
			"CreateKeyFile": {
				"type": "string",
				"defaultValue": "0"
			},
			"FeedFullyQualifiedADLSKeyPath": {
				"type": "string"
			},
			"KeyFileName": {
				"type": "string"
			},
			"KeySelectStatement": {
				"type": "string"
			},
			"BatchProcessLogId": {
				"type": "int",
				"defaultValue": 0
			},
			"mdpdb": {
				"type": "string"
			},
			"mdpserver": {
				"type": "string"
			},
			"keyvaultdnsname": {
				"type": "string"
			},
			"sourceuser": {
				"type": "string"
			},
			"sourcesecret": {
				"type": "string"
			},
			"sourceport": {
				"type": "string"
			}
		},
		"variables": {
			"RowsToADLS": {
				"type": "String",
				"defaultValue": "999"
			}
		},
		"folder": {
			"name": "MDPchild"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-31T20:02:27Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}