pipeline/2m_LoadToADLS_AmazonS3.json
{
	"name": "2m_LoadToADLS_AmazonS3",
	"properties": {
		"description": "[Process Stream Code = SRC2ADLS]",
		"activities": [
			{
				"name": "LoadTypeSwitch",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "LookupColumns",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.FeedCDCType",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "1",
							"activities": [
								{
									"name": "Wait",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Load ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AmazonS3ReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings",
										"skipLineCount": 1
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "lsADLS",
											"type": "LinkedServiceReference",
											"parameters": {
												"storageurl": {
													"value": "@pipeline().parameters.StorageURI",
													"type": "Expression"
												}
											}
										},
										"path": {
											"value": "@concat(pipeline().parameters.Container,'/',pipeline().parameters.WorkingFilePathName)",
											"type": "Expression"
										}
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false,
										"dateTimeFormat": "\"yyyy-MM-dd HH:mm:ss.fffffff\""
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dsAmazonS3",
									"type": "DatasetReference",
									"parameters": {
										"S3Bucket": {
											"value": "@pipeline().parameters.ServerName",
											"type": "Expression"
										},
										"S3Directory": {
											"value": "@pipeline().parameters.BatchSchema",
											"type": "Expression"
										},
										"S3FileName": {
											"value": "@pipeline().parameters.SourceTable",
											"type": "Expression"
										},
										"S3AccessKey": {
											"value": "@pipeline().parameters.sourceuser",
											"type": "Expression"
										},
										"S3KeySecretName": {
											"value": "@pipeline().parameters.sourcesecret",
											"type": "Expression"
										},
										"keyvaultdnsname": {
											"value": "@pipeline().parameters.keyvaultdnsname",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsParquet",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"Folder": {
											"value": "@pipeline().parameters.WorkingFilePathName",
											"type": "Expression"
										},
										"FileName": {
											"value": "@pipeline().parameters.WorkingFileName",
											"type": "Expression"
										},
										"storageuri": {
											"value": "@pipeline().parameters.StorageURI",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Record Telemetry",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Log Integration Control",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[RecordTelemetry]",
								"storedProcedureParameters": {
									"FeedPath": {
										"value": {
											"value": "@pipeline().parameters.WorkingFilePathName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableName": {
										"value": {
											"value": "@concat('[',pipeline().parameters.BatchSchema,'].[',pipeline().parameters.WorkingFileName,']')",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataFactoryName": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerId": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineTriggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataRead": {
										"value": {
											"value": "@activity('Load ADLS').output.dataRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"DataWritten": {
										"value": {
											"value": "@activity('Load ADLS').output.dataWritten",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"FilesRead": {
										"value": {
											"value": "0",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourcePeakConnections": {
										"value": {
											"value": "@activity('Load ADLS').output.sourcePeakConnections",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"SinkPeakConnections": {
										"value": {
											"value": "@activity('Load ADLS').output.sinkPeakConnections",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": {
											"value": "@activity('Load ADLS').output.rowsRead",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"RowsCopied": {
										"value": {
											"value": "@activity('Load ADLS').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"CopyDuration": {
										"value": {
											"value": "@activity('Load ADLS').output.copyDuration",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Throughput": {
										"value": {
											"value": "@activity('Load ADLS').output.throughput",
											"type": "Expression"
										},
										"type": "String"
									},
									"UsedDataIntegrationUnits": {
										"value": {
											"value": "@if(empty(string(activity('Load ADLS').output?.usedDataIntegrationUnits)),0,activity('Load ADLS').output?.usedDataIntegrationUnits)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"UsedParallelCopies": {
										"value": {
											"value": "@activity('Load ADLS').output.usedParallelCopies",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"FeedKey": {
										"value": {
											"value": "@pipeline().parameters.ExternalFeedKey",
											"type": "Expression"
										},
										"type": "String"
									},
									"BatchRunId": {
										"value": {
											"value": "@pipeline().parameters.BatchRunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"IntegrationControlKey": {
										"value": {
											"value": "@activity('Log Integration Control').output.firstRow.IntegrationControlKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"logfilepath": {
										"value": {
											"value": "@concat(pipeline().parameters.Container,pipeline().parameters.WorkingFilePathName,pipeline().parameters.WorkingFileName)",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Log Row Count",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Record Telemetry",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetIntegrationControlRowCount]",
								"storedProcedureParameters": {
									"IntegrationControlKey": {
										"value": {
											"value": "@activity('Log Integration Control').output.firstRow.IntegrationControlKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"OptionalDetail": {
										"value": " ",
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessStream": {
										"value": "CSV2PQT",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Log Integration Control",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Load ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[app].[SetIntegrationControlRow]",
									"storedProcedureParameters": {
										"BatchGroupId": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.BatchGroupId",
												"type": "Expression"
											}
										},
										"BatchRunId": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.BatchRunId",
												"type": "Expression"
											}
										},
										"DataFactoryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"ExternalFeedKey": {
											"type": "Int32",
											"value": {
												"value": "@{pipeline().parameters.ExternalFeedKey}",
												"type": "Expression"
											}
										},
										"ExternalFields": {
											"type": "String",
											"value": {
												"value": "@{activity('LookupColumns').output.value}",
												"type": "Expression"
											}
										},
										"ExternalFileFormat": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.FileFormat",
												"type": "Expression"
											}
										},
										"ExternalJSON": {
											"type": "String",
											"value": {
												"value": "Select replace('{\"application\": \"Dynamics\",\n  \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n  \"description\": \"@{pipeline().parameters.WorkingFileName}\",\n\"entities\": [\n    {\"$type\": \"LocalEntity\",\n      \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n      \"description\": \"@{pipeline().parameters.WorkingFileName}\",\n      \"attributes\":@{activity('LookupColumns').output.value},\n \"partitions\": [\n        {\n          \"name\": \"@{pipeline().parameters.WorkingFileName}\",\n          \"location\": \"@{pipeline().parameters.StorageURI}@{pipeline().parameters.Container}/@{pipeline().parameters.WorkingFilePathName}/@{pipeline().parameters.WorkingFileName}/@{pipeline().parameters.WorkingFileName}.@{pipeline().parameters.FileFormat}\"\n        }\n      ]\n}\n]\n}', '\\', ' ')",
												"type": "Expression"
											}
										},
										"ExternalStorageContainer": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.Container",
												"type": "Expression"
											}
										},
										"ExternalStorageFolder": {
											"type": "String",
											"value": {
												"value": "@{pipeline().parameters.WorkingFilePathName}",
												"type": "Expression"
											}
										},
										"ExternalStorageURI": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.StorageURI",
												"type": "Expression"
											}
										},
										"ExternalTableName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.ExternalFileName",
												"type": "Expression"
											}
										},
										"ExternalTableNameADLS": {
											"type": "String",
											"value": {
												"value": "@{pipeline().parameters.WorkingFileName}",
												"type": "Expression"
											}
										},
										"IntegrationControlKey": {
											"type": "Int32",
											"value": "0"
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"PipelineRunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"PipelineTriggerId": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"PipelineTriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "dsMDP",
									"type": "DatasetReference",
									"parameters": {
										"server": {
											"value": "@pipeline().parameters.mdpserver",
											"type": "Expression"
										},
										"db": {
											"value": "@pipeline().parameters.mdpdb",
											"type": "Expression"
										},
										"schema": "dbo",
										"table": "Dummy"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Remove File if Blank",
				"description": "Need to Factor in CDCType and Persist Staging Flag",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LoadTypeSwitch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('RowsToADLS'),'0')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Delete ADLS If Blank",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "dsParquet",
									"type": "DatasetReference",
									"parameters": {
										"Container": "@pipeline().parameters.Container",
										"Folder": "@{pipeline().parameters.WorkingFilePathName}",
										"FileName": "@{pipeline().parameters.WorkingFileName}",
										"storageuri": {
											"value": "@pipeline().parameters.StorageURI",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							}
						}
					]
				}
			},
			{
				"name": "LookupColumns",
				"description": "retrieving from control db sourceschema table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select c.FieldName as name,      c.FieldName as description,     \n\tcase  FieldDataType       WHEN 'bigint' THEN 'int64'      WHEN 'bit' THEN 'int64'   \n\t  WHEN 'datetime' THEN 'dateTime'      WHEN 'decimal' THEN 'double'      WHEN 'int' THEN 'int64'      WHEN 'money' THEN 'double'      WHEN 'numeric' THEN 'double'      \n\t  WHEN 'smallint' THEN 'int64'      WHEN 'tinyint' THEN 'int64'      else 'string'       END as dataType    \n\t   FROM app.SourceSchema c     \n    where c.TableName = '@{pipeline().parameters.SourceTable}'    \n and c.SchemaName = '@{pipeline().parameters.BatchSchema}'\n and c.BatchGroupId = '@{pipeline().parameters.BatchGroupId}'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsMDP",
						"type": "DatasetReference",
						"parameters": {
							"server": {
								"value": "@pipeline().parameters.mdpserver",
								"type": "Expression"
							},
							"db": {
								"value": "@pipeline().parameters.mdpdb",
								"type": "Expression"
							},
							"schema": "dbo",
							"table": "Dummy"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Fail Disable Feed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LookupColumns",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[app].[DisableFeed]",
					"storedProcedureParameters": {
						"FeedKey": {
							"value": {
								"value": "@pipeline().parameters.ExternalFeedKey",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"ExternalFeedKey": {
				"type": "string",
				"defaultValue": "50000"
			},
			"FeedCDCType": {
				"type": "string",
				"defaultValue": "0"
			},
			"WorkingFileName": {
				"type": "string",
				"defaultValue": "transactions_20220311_144619.parquet"
			},
			"WorkingFilePathName": {
				"type": "string",
				"defaultValue": "raw/tcm/transactions/2020-11-27/08-46-19"
			},
			"ExternalFileName": {
				"type": "string",
				"defaultValue": "ext.tcm_transactions"
			},
			"LastRecordId": {
				"type": "string",
				"defaultValue": "1"
			},
			"RecordIdColumnName": {
				"type": "string",
				"defaultValue": "RECID"
			},
			"CreateTimestampColumnName": {
				"type": "string"
			},
			"DeltaReverseTimeOffsetInSecs": {
				"type": "string",
				"defaultValue": "60"
			},
			"LastSeenCreateTimestamp": {
				"type": "string",
				"defaultValue": "1900-01-01 00:01:01.000"
			},
			"EditTimestampColumnName": {
				"type": "string"
			},
			"LastSeenEditTimestamp": {
				"type": "string",
				"defaultValue": "1900-01-01 00:01:01.000"
			},
			"CustomCDCQuery": {
				"type": "string"
			},
			"WorkingColumnArray": {
				"type": "string"
			},
			"Container": {
				"type": "string",
				"defaultValue": "amazons3"
			},
			"BatchSchema": {
				"type": "string",
				"defaultValue": "csv"
			},
			"StorageURI": {
				"type": "string",
				"defaultValue": "https://devmdpst1001.dfs.core.windows.net"
			},
			"SourceTable": {
				"type": "string",
				"defaultValue": "transactions.csv"
			},
			"FileFormat": {
				"type": "string",
				"defaultValue": "parquet"
			},
			"BatchRunId": {
				"type": "string",
				"defaultValue": "0"
			},
			"DatabaseName": {
				"type": "string"
			},
			"ServerName": {
				"type": "string",
				"defaultValue": "file-uploads-dev-sroc-service-gov-uk"
			},
			"BatchGroupId": {
				"type": "string",
				"defaultValue": "50"
			},
			"CreateKeyFile": {
				"type": "string",
				"defaultValue": "0"
			},
			"FeedFullyQualifiedADLSKeyPath": {
				"type": "string"
			},
			"KeyFileName": {
				"type": "string"
			},
			"KeySelectStatement": {
				"type": "string"
			},
			"BatchProcessLogId": {
				"type": "int",
				"defaultValue": 0
			},
			"mdpdb": {
				"type": "string",
				"defaultValue": "devmdpdb1001"
			},
			"mdpserver": {
				"type": "string",
				"defaultValue": "devmdpsq1001.database.windows.net"
			},
			"keyvaultdnsname": {
				"type": "string",
				"defaultValue": "devmdpkv1003"
			},
			"sourceuser": {
				"type": "string",
				"defaultValue": "AKIAV7DGRCYNBMDZXXUG"
			},
			"sourcesecret": {
				"type": "string",
				"defaultValue": "AmazonS3KeySecret"
			}
		},
		"variables": {
			"RowsToADLS": {
				"type": "String",
				"defaultValue": "999"
			}
		},
		"folder": {
			"name": "MDPchild"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-31T20:02:27Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}