pipeline/3a0_ADLSToStage_SQLPool.json
{
	"name": "3a0_ADLSToStage_SQLPool",
	"properties": {
		"description": "[Process Stream Code = ADLS2STG]",
		"activities": [
			{
				"name": "DoesStagingExist",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Create External Table Block",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[app].[sp_DoesSchemaObjectExist]",
						"storedProcedureParameters": {
							"ObjectExists": {
								"type": "String",
								"value": "N"
							},
							"ObjectName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.StagingTableName",
									"type": "Expression"
								}
							},
							"ObjectType": {
								"type": "String",
								"value": "Table"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsSynapse",
						"type": "DatasetReference",
						"parameters": {
							"server": {
								"value": "@pipeline().parameters.workspace",
								"type": "Expression"
							},
							"db": {
								"value": "@pipeline().parameters.sqlpool",
								"type": "Expression"
							},
							"schema": "dbo",
							"table": "dummy"
						}
					}
				}
			},
			{
				"name": "Type 0 Or Not Exists",
				"description": "Need to Factor in CDCType and Persist Staging Flag",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "DoesExternalExist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(activity('DoesStagingExist').output.firstRow.ObjectExists, 'N'),equals(pipeline().parameters.CDCGroupType,0))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "GetStagingScript",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[app].[GetCreateStagingTable]",
									"storedProcedureParameters": {
										"FileName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.ExternalTableNameADLS",
												"type": "Expression"
											}
										},
										"PipelineRunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "dsMDP",
									"type": "DatasetReference",
									"parameters": {
										"server": {
											"value": "@pipeline().parameters.mdpserver",
											"type": "Expression"
										},
										"db": {
											"value": "@pipeline().parameters.mdpdb",
											"type": "Expression"
										},
										"schema": "dbo",
										"table": "Dummy"
									}
								}
							}
						},
						{
							"name": "Log EXT2STG",
							"description": "",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "GetStagingScript",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetIntegrationControlProcess]",
								"storedProcedureParameters": {
									"IntegrationControlKey": {
										"value": {
											"value": "@pipeline().parameters.IntegrationControlKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"OptionalDetail": {
										"value": "CTAS",
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessStream": {
										"value": "EXT2STG",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set BatchProcess Close Error3",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "GetStagingScript",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetBatchProcessLogClose]",
								"storedProcedureParameters": {
									"BatchProcessLogId": {
										"value": {
											"value": "@variables('BatchProcessLogId')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ErrorMessage": {
										"value": {
											"value": "@{activity('GetStagingScript').Error.Message}",
											"type": "Expression"
										},
										"type": "String"
									},
									"SuccessFlag": {
										"value": "0",
										"type": "Int32"
									},
									"ErrorObject": {
										"value": "3a Build Staging Physical",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Exists Delta And Persists",
				"description": "Need to Factor in CDCType and Persist Staging Flag",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Type 0 Or Not Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.CDCGroupType,1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "GetStagingScriptAppendExists",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[app].[GetAppendStagingTable]",
									"storedProcedureParameters": {
										"FileName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.ExternalTableNameADLS",
												"type": "Expression"
											}
										},
										"PipelineRunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "dsMDP",
									"type": "DatasetReference",
									"parameters": {
										"server": {
											"value": "@pipeline().parameters.mdpserver",
											"type": "Expression"
										},
										"db": {
											"value": "@pipeline().parameters.mdpdb",
											"type": "Expression"
										},
										"schema": "dbo",
										"table": "Dummy"
									}
								}
							}
						},
						{
							"name": "Log EXT2STG Append Exists",
							"description": "",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "GetStagingScriptAppendExists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetIntegrationControlProcess]",
								"storedProcedureParameters": {
									"IntegrationControlKey": {
										"value": {
											"value": "@pipeline().parameters.IntegrationControlKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"OptionalDetail": {
										"value": "Append",
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessStream": {
										"value": "EXT2STG",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set BatchProcess Close Error4",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "GetStagingScriptAppendExists",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetBatchProcessLogClose]",
								"storedProcedureParameters": {
									"BatchProcessLogId": {
										"value": {
											"value": "@variables('BatchProcessLogId')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ErrorMessage": {
										"value": {
											"value": "@{activity('GetStagingScriptAppendExists').Error.Message}",
											"type": "Expression"
										},
										"type": "String"
									},
									"SuccessFlag": {
										"value": "0",
										"type": "Int32"
									},
									"ErrorObject": {
										"value": "3a Append to Staging",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set BatchProcess Close Error5",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy CDC Metadata",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[app].[SetBatchProcessLogClose]",
					"storedProcedureParameters": {
						"BatchProcessLogId": {
							"value": {
								"value": "@variables('BatchProcessLogId')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"ErrorMessage": {
							"value": {
								"value": "@{activity('Copy CDC Metadata').Error.Message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"SuccessFlag": {
							"value": "0",
							"type": "Int32"
						},
						"ErrorObject": {
							"value": "3a Copy CDC Metadata",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy CDC Metadata",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Has Deletes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"additionalColumns": [
							{
								"name": "LastRunId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						],
						"sqlReaderStoredProcedureName": "[app].[sp_SetCDCMetadata]",
						"storedProcedureParameters": {
							"CreateTimestampColumnName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.CreateTimestampColumnName",
									"type": "Expression"
								}
							},
							"EditTimestampColumnName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.EditTimestampColumnName",
									"type": "Expression"
								}
							},
							"IntegrationControlKey": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.IntegrationControlKey",
									"type": "Expression"
								}
							},
							"FeedKey": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.FeedKey",
									"type": "Expression"
								}
							},
							"RecordIdColumnName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.RecordIdColumnName",
									"type": "Expression"
								}
							},
							"RowCDCType": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.RowCDCType",
									"type": "Expression"
								}
							},
							"StagingTableName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.StagingTableName",
									"type": "Expression"
								}
							},
							"BatchRunId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.BatchRunId",
									"type": "Expression"
								}
							},
							"BatchGroupId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.BatchGroupId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "IntegrationControlKey"
								},
								"sink": {
									"name": "IntegrationControlKey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FeedKey"
								},
								"sink": {
									"name": "FeedKey",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "CDCSourceObjectName"
								},
								"sink": {
									"name": "CDCSourceObjectName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FeedCDCType"
								},
								"sink": {
									"name": "FeedCDCType",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FeedCDCAttribute"
								},
								"sink": {
									"name": "FeedCDCAttribute",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FeedCDCValue"
								},
								"sink": {
									"name": "FeedCDCValue",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LastRunId"
								},
								"sink": {
									"name": "LastRunId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "BatchGroupId"
								},
								"sink": {
									"name": "BatchGroupId"
								}
							},
							{
								"source": {
									"name": "BatchRunId"
								},
								"sink": {
									"name": "BatchRunId"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dsSynapse",
						"type": "DatasetReference",
						"parameters": {
							"server": {
								"value": "@pipeline().parameters.workspace",
								"type": "Expression"
							},
							"db": {
								"value": "@pipeline().parameters.sqlpool",
								"type": "Expression"
							},
							"schema": "dbo",
							"table": "dummy"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dsCDCMetadata",
						"type": "DatasetReference",
						"parameters": {
							"db": {
								"value": "@pipeline().parameters.mdpdb",
								"type": "Expression"
							},
							"server": {
								"value": "@pipeline().parameters.mdpserver",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set BatchProcess Close",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy CDC Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[app].[SetBatchProcessLogClose]",
					"storedProcedureParameters": {
						"BatchProcessLogId": {
							"value": {
								"value": "@variables('BatchProcessLogId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": " ",
							"type": "String"
						},
						"SuccessFlag": {
							"value": "1",
							"type": "Int32"
						},
						"ErrorObject": {
							"value": " ",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Log Row Count",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy CDC Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[app].[SetIntegrationControlRowCount]",
					"storedProcedureParameters": {
						"IntegrationControlKey": {
							"value": {
								"value": "@pipeline().parameters.IntegrationControlKey",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"OptionalDetail": {
							"value": " ",
							"type": "String"
						},
						"PipelineId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ProcessStream": {
							"value": "EXT2STG",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Has Deletes",
				"description": "",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Exists Delta And Persists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(pipeline().parameters.CreateKeyFile,1),equals(pipeline().parameters.CreateKeyFile,2))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "CreateKeyExternalTable",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[app].[SetExternalKeyTable]",
									"storedProcedureParameters": {
										"FileName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.ExternalTableNameADLS",
												"type": "Expression"
											}
										},
										"PipelineRunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "dsMDP",
									"type": "DatasetReference",
									"parameters": {
										"server": {
											"value": "@pipeline().parameters.mdpserver",
											"type": "Expression"
										},
										"db": {
											"value": "@pipeline().parameters.mdpdb",
											"type": "Expression"
										},
										"schema": "dbo",
										"table": "Dummy"
									}
								}
							}
						},
						{
							"name": "Log EXT2DEL Append Exists",
							"description": "",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "GetDeleteUpdate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetIntegrationControlProcess]",
								"storedProcedureParameters": {
									"IntegrationControlKey": {
										"value": {
											"value": "@pipeline().parameters.IntegrationControlKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"OptionalDetail": {
										"value": "Append",
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessStream": {
										"value": "EXT2DEL",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set BatchProcess Close Error31",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CreateKeyExternalTable",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetBatchProcessLogClose]",
								"storedProcedureParameters": {
									"BatchProcessLogId": {
										"value": {
											"value": "@variables('BatchProcessLogId')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ErrorMessage": {
										"value": {
											"value": "@{activity('CreateKeyExternalTable').Error.Message}\n\n ",
											"type": "Expression"
										},
										"type": "String"
									},
									"SuccessFlag": {
										"value": "0",
										"type": "Int32"
									},
									"ErrorObject": {
										"value": "3a Build Staging Physical",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "GetDeleteUpdate",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "CreateKeyExternalTable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[app].[SetStageKeyDeletes]",
									"storedProcedureParameters": {
										"FileName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.ExternalTableNameADLS",
												"type": "Expression"
											}
										},
										"PipelineRunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "dsMDP",
									"type": "DatasetReference",
									"parameters": {
										"server": {
											"value": "@pipeline().parameters.mdpserver",
											"type": "Expression"
										},
										"db": {
											"value": "@pipeline().parameters.mdpdb",
											"type": "Expression"
										},
										"schema": "dbo",
										"table": "Dummy"
									}
								}
							}
						},
						{
							"name": "Set BatchProcess Close Error32",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "GetDeleteUpdate",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetBatchProcessLogClose]",
								"storedProcedureParameters": {
									"BatchProcessLogId": {
										"value": {
											"value": "@variables('BatchProcessLogId')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ErrorMessage": {
										"value": {
											"value": "@{activity('GetDeleteUpdate').Error.Message}\n\n ",
											"type": "Expression"
										},
										"type": "String"
									},
									"SuccessFlag": {
										"value": "0",
										"type": "Int32"
									},
									"ErrorObject": {
										"value": "3a Build Staging Physical",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Create External Table Block",
				"description": "",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.CreateKeyFile,2)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Log ADLS2EXT",
							"description": "",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "GetExternalTableSQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetIntegrationControlProcess]",
								"storedProcedureParameters": {
									"IntegrationControlKey": {
										"value": {
											"value": "@pipeline().parameters.IntegrationControlKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"OptionalDetail": {
										"value": "nothing",
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessStream": {
										"value": "ADLS2EXT",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set BatchProcess Close Error2",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "GetExternalTableSQL",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetBatchProcessLogClose]",
								"storedProcedureParameters": {
									"BatchProcessLogId": {
										"value": {
											"value": "@variables('BatchProcessLogId')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ErrorMessage": {
										"value": {
											"value": "@{activity('GetExternalTableSQL').Error.Message}",
											"type": "Expression"
										},
										"type": "String"
									},
									"SuccessFlag": {
										"value": "0",
										"type": "Int32"
									},
									"ErrorObject": {
										"value": "3a Log ADLS22EXT",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "GetExternalTableSQL",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[app].[GetCreateExternalTable]",
									"storedProcedureParameters": {
										"FileName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.ExternalTableNameADLS",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "dsMDP",
									"type": "DatasetReference",
									"parameters": {
										"server": {
											"value": "@pipeline().parameters.mdpserver",
											"type": "Expression"
										},
										"db": {
											"value": "@pipeline().parameters.mdpdb",
											"type": "Expression"
										},
										"schema": "dbo",
										"table": "Dummy"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set Integration Failed",
				"description": "this should run if failure and prior task does not run",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy CDC Metadata",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[app].[SetIntegrationControlFailure]",
					"storedProcedureParameters": {
						"IntegrationControlKey": {
							"value": {
								"value": "@pipeline().parameters.IntegrationControlKey",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"OptionalDetail": {
							"value": " ",
							"type": "String"
						},
						"PipelineId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ProcessStream": {
							"value": "EXT2STG",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "DoesExternalExist",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DoesStagingExist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[app].[sp_DoesSchemaObjectExist]",
						"storedProcedureParameters": {
							"ObjectExists": {
								"type": "String",
								"value": "N"
							},
							"ObjectName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.ExternalTableName",
									"type": "Expression"
								}
							},
							"ObjectType": {
								"type": "String",
								"value": "Table"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsSynapse",
						"type": "DatasetReference",
						"parameters": {
							"server": {
								"value": "@pipeline().parameters.workspace",
								"type": "Expression"
							},
							"db": {
								"value": "@pipeline().parameters.sqlpool",
								"type": "Expression"
							},
							"schema": "dbo",
							"table": "dummy"
						}
					}
				}
			}
		],
		"parameters": {
			"BatchGroupId": {
				"type": "int",
				"defaultValue": 1
			},
			"BatchRunId": {
				"type": "int",
				"defaultValue": 0
			},
			"mdpdb": {
				"type": "string"
			},
			"mdpserver": {
				"type": "string"
			},
			"keyvaultdnsname": {
				"type": "string"
			},
			"workspace": {
				"type": "string"
			},
			"sqlpool": {
				"type": "string"
			},
			"IntegrationControlKey": {
				"type": "int"
			},
			"CDCGroupType": {
				"type": "int"
			},
			"RowCDCType": {
				"type": "int"
			},
			"ExternalTableName": {
				"type": "string"
			},
			"StagingTableName": {
				"type": "string"
			},
			"FeedKey": {
				"type": "int"
			},
			"ExternalTableNameADLS": {
				"type": "string"
			},
			"CreateTimestampColumnName": {
				"type": "string"
			},
			"EditTimestampColumnName": {
				"type": "string"
			},
			"RecordIdColumnName": {
				"type": "string"
			},
			"CreateKeyFile": {
				"type": "int"
			},
			"ExternalStagedOutputType": {
				"type": "int"
			},
			"ExternalDatabaseName": {
				"type": "string"
			},
			"ExternalDatabaseServerName": {
				"type": "string"
			},
			"ExternalDatabaseKeyVaultSecret": {
				"type": "string"
			},
			"ExternalDatabaseUserName": {
				"type": "string"
			},
			"ExternalSchemaName": {
				"type": "string"
			},
			"ADLSContainer": {
				"type": "string"
			},
			"ADLSFolder": {
				"type": "string"
			},
			"globalparameterStorageURI": {
				"type": "string"
			},
			"StageTableName": {
				"type": "string"
			}
		},
		"variables": {
			"ProcessStream": {
				"type": "String",
				"defaultValue": "ADLS2STG"
			},
			"BatchProcessLogId": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "MDPchild"
		},
		"annotations": [
			"standard load eg CE"
		],
		"lastPublishTime": "2022-02-06T13:25:25Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}