pipeline/3d_FinOpsToStage.json
{
	"name": "3d_FinOpsToStage",
	"properties": {
		"description": "[Process Stream Code = EXT2STG]\n\n\nlast change tjf 2020DEC01 10:00\n",
		"activities": [
			{
				"name": "LookupMetadata",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set BatchProcessLogId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[app].[SetSTAGEFeedMetadata]",
						"storedProcedureParameters": {
							"BatchGroupId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.BatchGroupId",
									"type": "Expression"
								}
							},
							"BatchRunId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.BatchRunId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsMDP",
						"type": "DatasetReference",
						"parameters": {
							"server": {
								"value": "@pipeline().parameters.mdpserver",
								"type": "Expression"
							},
							"db": {
								"value": "@pipeline().parameters.mdpdb",
								"type": "Expression"
							},
							"schema": "dbo",
							"table": "Dummy"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Create Stage Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupMetadata').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Build Synapse Stage Table",
							"description": "",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "GetExternalStageSQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[sp_ModifySchema]",
								"storedProcedureParameters": {
									"CreateSQL": {
										"value": {
											"value": "@activity('GetExternalStageSQL').output.firstRow.DynamicSQL",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsSynapse",
								"type": "LinkedServiceReference",
								"parameters": {
									"Server": {
										"value": "@concat('tcp:',pipeline().parameters.workspace,'.sql.azuresynapse.net,1433')",
										"type": "Expression"
									},
									"DB": {
										"value": "@pipeline().parameters.sqlpool",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Log EXT2STG",
							"description": "",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy CDC Metadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetIntegrationControlProcess]",
								"storedProcedureParameters": {
									"IntegrationControlKey": {
										"value": {
											"value": "@item().IntegrationControlKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"OptionalDetail": {
										"value": "CTAS",
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessStream": {
										"value": "EXT2STG",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "GetExternalStageSQL",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[app].[GetCreateStagingTable]",
									"storedProcedureParameters": {
										"FileName": {
											"type": "String",
											"value": {
												"value": "@item().ExternalTableNameADLS",
												"type": "Expression"
											}
										},
										"PipelineRunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"SQLOutput": {
											"type": "String",
											"value": " "
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "dsMDP",
									"type": "DatasetReference",
									"parameters": {
										"server": {
											"value": "@pipeline().parameters.mdpserver",
											"type": "Expression"
										},
										"db": {
											"value": "@pipeline().parameters.mdpdb",
											"type": "Expression"
										},
										"schema": "dbo",
										"table": "Dummy"
									}
								}
							}
						},
						{
							"name": "Copy CDC Metadata",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Wait4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"additionalColumns": [
										{
											"name": "LastRunId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "BatchGroupId",
											"value": {
												"value": "@pipeline().parameters.BatchGroupId",
												"type": "Expression"
											}
										},
										{
											"name": "BatchRunId",
											"value": {
												"value": "@pipeline().parameters.BatchRunId",
												"type": "Expression"
											}
										}
									],
									"sqlReaderStoredProcedureName": "[app].[sp_SetCDCMetadata]",
									"storedProcedureParameters": {
										"CreateTimestampColumnName": {
											"type": "String",
											"value": {
												"value": "@item().CreateTimestampColumnName",
												"type": "Expression"
											}
										},
										"EditTimestampColumnName": {
											"type": "String",
											"value": {
												"value": "@item().EditTimestampColumnName",
												"type": "Expression"
											}
										},
										"IntegrationControlKey": {
											"type": "Int32",
											"value": {
												"value": "@item().IntegrationControlKey",
												"type": "Expression"
											}
										},
										"FeedKey": {
											"type": "Int32",
											"value": {
												"value": "@item().FeedKey",
												"type": "Expression"
											}
										},
										"RecordIdColumnName": {
											"type": "String",
											"value": {
												"value": "@item().RecordIdColumnName",
												"type": "Expression"
											}
										},
										"RowCDCType": {
											"type": "Int32",
											"value": {
												"value": "@item().RowCDCType",
												"type": "Expression"
											}
										},
										"StagingTableName": {
											"type": "String",
											"value": {
												"value": "@item().StagingTableName",
												"type": "Expression"
											}
										},
										"BatchGroupId": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.BatchGroupId",
												"type": "Expression"
											}
										},
										"BatchRunId": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.BatchRunId",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "IntegrationControlKey"
											},
											"sink": {
												"name": "IntegrationControlKey",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "FeedKey"
											},
											"sink": {
												"name": "FeedKey",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "CDCSourceObjectName"
											},
											"sink": {
												"name": "CDCSourceObjectName",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "FeedCDCType"
											},
											"sink": {
												"name": "FeedCDCType",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "FeedCDCAttribute"
											},
											"sink": {
												"name": "FeedCDCAttribute",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "FeedCDCValue"
											},
											"sink": {
												"name": "FeedCDCValue",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "LastRunId"
											},
											"sink": {
												"name": "LastRunId",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "BatchRunId"
											},
											"sink": {
												"name": "BatchRunId"
											}
										},
										{
											"source": {
												"name": "BatchGroupId"
											},
											"sink": {
												"name": "BatchGroupId"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dsSynapse",
									"type": "DatasetReference",
									"parameters": {
										"server": {
											"value": "@concat('tcp:',pipeline().parameters.workspace,'.sql.azuresynapse.net,1433')",
											"type": "Expression"
										},
										"db": {
											"value": "@pipeline().parameters.sqlpool",
											"type": "Expression"
										},
										"schema": "dbo",
										"table": "dummy"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsCDCMetadata",
									"type": "DatasetReference",
									"parameters": {
										"db": {
											"value": "@pipeline().parameters.mdpdb",
											"type": "Expression"
										},
										"server": {
											"value": "@pipeline().parameters.mdpserver",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete ADLS Directory Table",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Wait3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "dsADLSfile",
									"type": "DatasetReference",
									"parameters": {
										"blobfolder": {
											"value": "@item().ADLSFolder",
											"type": "Expression"
										},
										"blobcontainer": "finopsparquet",
										"FileName": {
											"value": "@item().ExternalStorageFilePQT",
											"type": "Expression"
										},
										"storageuri": {
											"value": "@pipeline().parameters.StorageURI",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							}
						},
						{
							"name": "Wait3",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Copy CDC Metadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 3
							}
						},
						{
							"name": "Log Row Count",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Log EXT2STG",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetIntegrationControlRowCount]",
								"storedProcedureParameters": {
									"IntegrationControlKey": {
										"value": {
											"value": "@item().IntegrationControlKey",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"OptionalDetail": {
										"value": " ",
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessStream": {
										"value": "EXT2STG",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Wait4",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Build Synapse Stage Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 3
							}
						},
						{
							"name": "Set BatchProcess Close Error11",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Build Synapse Stage Table",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetBatchProcessLogClose]",
								"storedProcedureParameters": {
									"BatchProcessLogId": {
										"value": {
											"value": "@variables('BatchProcessLogId')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ErrorMessage": {
										"value": {
											"value": "@{activity('Build Synapse Stage Table').Error.Message}",
											"type": "Expression"
										},
										"type": "String"
									},
									"SuccessFlag": {
										"value": "0",
										"type": "Int32"
									},
									"ErrorObject": {
										"value": "3b Load to Parquet",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set BatchProcessLogId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LogProcessStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "BatchProcessLogId",
					"value": {
						"value": "@activity('LogProcessStart').output.firstrow.NewProcessId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set BatchProcess Close",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Create Stage Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[app].[SetBatchProcessLogClose]",
					"storedProcedureParameters": {
						"BatchProcessLogId": {
							"value": {
								"value": "@variables('BatchProcessLogId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": " ",
							"type": "String"
						},
						"SuccessFlag": {
							"value": "1",
							"type": "Int32"
						},
						"ErrorObject": {
							"value": " ",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "LogProcessStart",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[app].[SetBatchProcessLog]",
						"storedProcedureParameters": {
							"BatchRunId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.BatchRunId",
									"type": "Expression"
								}
							},
							"NewProcessId": {
								"type": "Int32",
								"value": "0"
							},
							"ProcessBatchGroupId": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.BatchGroupId",
									"type": "Expression"
								}
							},
							"ProcessDataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"ProcessPipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"ProcessPipelineRunId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"ProcessRunMode": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.RunMode",
									"type": "Expression"
								}
							},
							"ProcessStreamCode": {
								"type": "String",
								"value": {
									"value": "EXT2STG",
									"type": "Expression"
								}
							},
							"ProcessTriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsMDP",
						"type": "DatasetReference",
						"parameters": {
							"server": {
								"value": "@pipeline().parameters.mdpserver",
								"type": "Expression"
							},
							"db": {
								"value": "@pipeline().parameters.mdpdb",
								"type": "Expression"
							},
							"schema": "dbo",
							"table": "Dummy"
						}
					}
				}
			},
			{
				"name": "Set BatchProcess Close Error7",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Create Stage Table",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[app].[SetBatchProcessLogClose]",
					"storedProcedureParameters": {
						"BatchProcessLogId": {
							"value": {
								"value": "@variables('BatchProcessLogId')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"ErrorMessage": {
							"value": {
								"value": "@{activity('Create Stage Table').Error.Message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"SuccessFlag": {
							"value": "0",
							"type": "Int32"
						},
						"ErrorObject": {
							"value": "3d Create Stage Table",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"BatchGroupId": {
				"type": "int",
				"defaultValue": 7
			},
			"BatchRunId": {
				"type": "int",
				"defaultValue": 777
			},
			"Container": {
				"type": "string",
				"defaultValue": "financeparquet"
			},
			"StorageURI": {
				"type": "string",
				"defaultValue": "https://edpdevrtkdls002.dfs.core.windows.net"
			},
			"RunMode": {
				"type": "int",
				"defaultValue": 1
			},
			"FileFormat": {
				"type": "string",
				"defaultValue": "parquet"
			},
			"mdpserver": {
				"type": "string"
			},
			"mdpdb": {
				"type": "string"
			},
			"keyvaultdnsname": {
				"type": "string"
			},
			"sqlpool": {
				"type": "string"
			},
			"workspace": {
				"type": "string"
			}
		},
		"variables": {
			"ProcessStream": {
				"type": "String",
				"defaultValue": "ADLS2STG"
			},
			"BatchProcessLogId": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "MDPchild"
		},
		"annotations": [
			"finops bulk loading"
		],
		"lastPublishTime": "2021-07-31T19:56:15Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}