pipeline/5_RefreshPBIDataset.json
{
	"name": "5_RefreshPBIDataset",
	"properties": {
		"activities": [
			{
				"name": "LogProcessStart",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[app].[SetBatchProcessLog]",
						"storedProcedureParameters": {
							"BatchRunId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.BatchRunId",
									"type": "Expression"
								}
							},
							"NewProcessId": {
								"type": "Int32",
								"value": "0"
							},
							"ProcessBatchGroupId": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.BatchGroupId",
									"type": "Expression"
								}
							},
							"ProcessDataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"ProcessPipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"ProcessPipelineRunId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"ProcessRunMode": {
								"type": "String",
								"value": "0"
							},
							"ProcessStreamCode": {
								"type": "String",
								"value": {
									"value": "@variables('ProcessStream')",
									"type": "Expression"
								}
							},
							"ProcessTriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsMDP",
						"type": "DatasetReference",
						"parameters": {
							"server": {
								"value": "@pipeline().parameters.mdpserver",
								"type": "Expression"
							},
							"db": {
								"value": "@pipeline().parameters.mdpdb",
								"type": "Expression"
							},
							"schema": "dbo",
							"table": "Dummy"
						}
					}
				}
			},
			{
				"name": "Lookup PBI Datasets",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LogProcessStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[app].[GetPowerBIDatasetFromBatch]",
						"storedProcedureParameters": {
							"BatchGroupID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.BatchGroupId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsMDP",
						"type": "DatasetReference",
						"parameters": {
							"server": {
								"value": "@pipeline().parameters.mdpserver",
								"type": "Expression"
							},
							"db": {
								"value": "@pipeline().parameters.mdpdb",
								"type": "Expression"
							},
							"schema": "dbo",
							"table": "Dummy"
						}
					}
				}
			},
			{
				"name": "Set BatchProcess Close",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[app].[SetBatchProcessLogClose]",
					"storedProcedureParameters": {
						"BatchProcessLogId": {
							"value": {
								"value": "@activity('LogProcessStart').output.firstrow.NewProcessId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": " ",
							"type": "String"
						},
						"SuccessFlag": {
							"value": "1",
							"type": "Int32"
						},
						"ErrorObject": {
							"value": " ",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set BatchProcess Close Error1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[app].[SetBatchProcessLogClose]",
					"storedProcedureParameters": {
						"BatchProcessLogId": {
							"value": {
								"value": "@activity('LogProcessStart').output.firstrow.NewProcessId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@{activity('If Condition1').Error.Message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"SuccessFlag": {
							"value": "0",
							"type": "Int32"
						},
						"ErrorObject": {
							"value": "5 RefreshPBIDataset",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup PBI Datasets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(activity('Lookup PBI Datasets').output.firstrow.DatasetName)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "5a_LookupPBIDataset",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "5a_LookupPBIDataset",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"BatchGroupId": {
										"value": "@pipeline().parameters.BatchGroupId",
										"type": "Expression"
									},
									"BatchRunId": {
										"value": "@pipeline().parameters.BatchRunId",
										"type": "Expression"
									},
									"RunMode": {
										"value": "@pipeline().parameters.RunMode",
										"type": "Expression"
									},
									"mdpserver": {
										"value": "@pipeline().parameters.mdpserver",
										"type": "Expression"
									},
									"mdpdb": {
										"value": "@pipeline().parameters.mdpdb",
										"type": "Expression"
									},
									"keyvaultdnsname": {
										"value": "@pipeline().parameters.keyvaultdnsname",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"BatchGroupId": {
				"type": "int"
			},
			"BatchRunId": {
				"type": "int"
			},
			"RunMode": {
				"type": "int"
			},
			"mdpdb": {
				"type": "string",
				"defaultValue": "hapmdpappdbdev"
			},
			"mdpserver": {
				"type": "string",
				"defaultValue": "hapsqlserverdev.database.windows.net"
			},
			"keyvaultdnsname": {
				"type": "string"
			}
		},
		"variables": {
			"ProcessStream": {
				"type": "String",
				"defaultValue": "WAR2PBI"
			},
			"BatchProcessLogId": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "MDPCore"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-31T19:52:25Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}