pipeline/6_SendFailureMessages.json
{
	"name": "6_SendFailureMessages",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup Failure Messages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(activity('Lookup Failure Messages').output.firstrow.FailureMessage)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "6a_LookupFailureMessages",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "6a_LookupFailureMessages",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "Lookup Failure Messages",
				"description": "exec [app].[GetFailureMessageFromBatch]",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[app].[GetFailureMessageFromBatch]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsMDP",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"parameters": {
			"mdpdb": {
				"type": "string",
				"defaultValue": "hapmdpappdbdev"
			},
			"mdpserver": {
				"type": "string",
				"defaultValue": "hapsqlserverdev.database.windows.net"
			},
			"keyvaultdnsname": {
				"type": "string"
			}
		},
		"folder": {
			"name": "MDPCore"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-31T19:13:19Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}