pipeline/dataverse.json
{
	"name": "dataverse",
	"properties": {
		"activities": [
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@split(variables('BatchTables'), ',')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CopyDataverseEntity",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "CleanUp",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "GetCDCTimestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.05:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "CommonDataServiceForAppsSource"
								},
								"sink": {
									"type": "SqlDWSink",
									"writeBehavior": "Insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "dsDataverse",
									"type": "DatasetReference",
									"parameters": {
										"ServiceURI": {
											"value": "@activity('LookupMetadata').output.firstRow.ServerName",
											"type": "Expression"
										},
										"Secret": {
											"value": "@activity('LookupMetadata').output.firstRow.KeyVaultSecret",
											"type": "Expression"
										},
										"ServicePrincipal": {
											"value": "@activity('LookupMetadata').output.firstRow.UserName",
											"type": "Expression"
										},
										"Keyvault": {
											"value": "@concat('https://',pipeline().parameters.KeyVault,'.vault.azure.net')",
											"type": "Expression"
										},
										"Entity": {
											"value": "@activity('LookupMetadata').output.firstRow.SourceTable",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsSynapse",
									"type": "DatasetReference",
									"parameters": {
										"server": {
											"value": "@concat('tcp:',activity('Get workspace from Azure Key Vault').output.value)\n",
											"type": "Expression"
										},
										"db": {
											"value": "@activity('Get sqlpool from Azure Key Vault').output.value",
											"type": "Expression"
										},
										"schema": {
											"value": "@activity('LookupMetadata').output.firstRow.BatchSchema",
											"type": "Expression"
										},
										"table": {
											"value": "@concat(activity('LookupMetadata').output.firstRow.Container,'_',activity('LookupMetadata').output.firstRow.SourceTable)\n",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "LookupMetadata",
							"description": "exec [app].[SetADLSFeedMetadata]",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[app].[SetADLSFeedMetadata]",
									"storedProcedureParameters": {
										"BatchGroupId": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.BatchGroupId",
												"type": "Expression"
											}
										},
										"TableName": {
											"type": "String",
											"value": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "dsMDP",
									"type": "DatasetReference",
									"parameters": {
										"server": {
											"value": "@concat(activity('Get mdpserver from Azure Key Vault').output.value,'.database.windows.net')",
											"type": "Expression"
										},
										"db": {
											"value": "@activity('Get mdpdb from Azure Key Vault').output.value",
											"type": "Expression"
										},
										"schema": "dbo",
										"table": "Dummy"
									}
								}
							}
						},
						{
							"name": "CleanUp",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "LookupMetadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[sp_reload]",
								"storedProcedureParameters": {
									"tablename": {
										"value": {
											"value": "@activity('LookupMetadata').output.firstRow.SourceTable",
											"type": "Expression"
										},
										"type": "String"
									},
									"Type": {
										"value": "Full",
										"type": "String"
									},
									"schema": {
										"value": {
											"value": "@activity('LookupMetadata').output.firstRow.BatchSchema",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsSynapse",
								"type": "LinkedServiceReference",
								"parameters": {
									"Server": {
										"value": "@concat('tcp:',activity('Get workspace from Azure Key Vault').output.value)",
										"type": "Expression"
									},
									"DB": {
										"value": "@activity('Get sqlpool from Azure Key Vault').output.value",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "GetCDCTimestamp",
							"description": "exec [app].[GetCDCTimestamp]",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[app].[GetCDCTimestamp]",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "dsMDP",
									"type": "DatasetReference",
									"parameters": {
										"server": {
											"value": "@concat(activity('Get mdpserver from Azure Key Vault').output.value,'.database.windows.net')",
											"type": "Expression"
										},
										"db": {
											"value": "@activity('Get mdpdb from Azure Key Vault').output.value",
											"type": "Expression"
										},
										"schema": "dbo",
										"table": "Dummy"
									}
								}
							}
						},
						{
							"name": "SetCDCTimestamp",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyDataverseEntity",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "CopyDataverseEntity_ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[app].[SetCDCTimestamp]",
								"storedProcedureParameters": {
									"BatchGroupId": {
										"value": {
											"value": "@pipeline().parameters.BatchGroupId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"FeedKey": {
										"value": {
											"value": "@int(activity('LookupMetadata').output.firstRow.FeedKey)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"LastSeenTimestamp": {
										"value": {
											"value": "@activity('GetCDCTimestamp').output.firstRow.RunTimestamp",
											"type": "Expression"
										},
										"type": "Datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "lsMDPapp_Azure",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": {
										"value": "@concat(activity('Get mdpserver from Azure Key Vault').output.value,'.database.windows.net')",
										"type": "Expression"
									},
									"dbname": {
										"value": "@activity('Get mdpdb from Azure Key Vault').output.value",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "CopyDataverseEntity_ADLS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "CleanUp",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "GetCDCTimestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.05:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "CommonDataServiceForAppsSource"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "dsDataverse",
									"type": "DatasetReference",
									"parameters": {
										"ServiceURI": {
											"value": "@activity('LookupMetadata').output.firstRow.ServerName",
											"type": "Expression"
										},
										"Secret": {
											"value": "@activity('LookupMetadata').output.firstRow.KeyVaultSecret",
											"type": "Expression"
										},
										"ServicePrincipal": {
											"value": "@activity('LookupMetadata').output.firstRow.UserName",
											"type": "Expression"
										},
										"Keyvault": {
											"value": "@concat('https://',pipeline().parameters.KeyVault,'.vault.azure.net')",
											"type": "Expression"
										},
										"Entity": {
											"value": "@activity('LookupMetadata').output.firstRow.SourceTable",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dsParquet",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@activity('LookupMetadata').output.firstRow.Container",
											"type": "Expression"
										},
										"Folder": {
											"value": "@activity('LookupMetadata').output.firstRow.FeedFullyQualifiedADLSRawPath",
											"type": "Expression"
										},
										"FileName": {
											"value": "@activity('LookupMetadata').output.firstRow.RawFilename",
											"type": "Expression"
										},
										"storageuri": {
											"value": "@activity('Get storageuri from Azure Key Vault').output.value",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "CopyDataverseEntity",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "CopyDataverseEntity_ADLS",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "Set Tables",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "BatchTables",
					"value": {
						"value": "@activity('Lookup Tables').output.firstrow.SourceTable",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup Tables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get workspace from Azure Key Vault",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get sqlpool from Azure Key Vault",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get mdpserver from Azure Key Vault",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get mdpdb from Azure Key Vault",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get storageuri from Azure Key Vault",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[app].[GetTablesFromBatch]",
						"storedProcedureParameters": {
							"BatchGroupId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.BatchGroupId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsMDP",
						"type": "DatasetReference",
						"parameters": {
							"server": {
								"value": "@concat(activity('Get mdpserver from Azure Key Vault').output.value,'.database.windows.net')",
								"type": "Expression"
							},
							"db": {
								"value": "@activity('Get mdpdb from Azure Key Vault').output.value",
								"type": "Expression"
							},
							"schema": "dbo",
							"table": "Dummy"
						}
					}
				}
			},
			{
				"name": "Get mdpdb from Azure Key Vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().parameters.KeyVault,'.vault.azure.net/secrets/mdpdb?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"body": {
						"simple": "body"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get mdpserver from Azure Key Vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().parameters.KeyVault,'.vault.azure.net/secrets/mdpserver?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"body": {
						"simple": "body"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get sqlpool from Azure Key Vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().parameters.KeyVault,'.vault.azure.net/secrets/sqlpool?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"body": {
						"simple": "body"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get workspace from Azure Key Vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().parameters.KeyVault,'.vault.azure.net/secrets/workspace?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"body": {
						"simple": "body"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get storageuri from Azure Key Vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().parameters.KeyVault,'.vault.azure.net/secrets/storageuri?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"body": {
						"simple": "body"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"KeyVault": {
				"type": "string",
				"defaultValue": "SNDFFCINFKV4401"
			},
			"BatchGroupId": {
				"type": "string",
				"defaultValue": "8"
			}
		},
		"variables": {
			"BatchTables": {
				"type": "String"
			}
		},
		"folder": {
			"name": "dataverse"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-15T10:12:49Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}