pipeline/EmailNotification.json
{
	"name": "EmailNotification",
	"properties": {
		"activities": [
			{
				"name": "SendNotificationEmail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get emailnotification from Azure Key Vault",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get receiver from Azure Key Vault",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('Get emailnotification from Azure Key Vault').output.value",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "mdp-shir0",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "@json(concat('{\n    \"message\" : \"RunID :',pipeline().parameters.RunId, ', BatchGroupID : ',pipeline().parameters.batchgroupid,', FeedKey : ',pipeline().parameters.feedkey,', Error in activity ',pipeline().parameters.activityname,', Error Code : ',pipeline().parameters.errorcode,', Error Message : ',pipeline().parameters.errormessage,'\",\n    \"dataFactoryName\" : \"',pipeline().DataFactory,'\", \n    \"pipelineName\" : \"',pipeline().parameters.pipelineName,'\", \n    \"receiver\" : \"',activity('Get receiver from Azure Key Vault').output.value,'\",\n    \"status\" : \"',pipeline().parameters.Status,'\"\n}'\n))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get emailnotification from Azure Key Vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().parameters.KeyVault,'.vault.azure.net/secrets/emailnotification?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"body": {
						"simple": "body"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get receiver from Azure Key Vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().parameters.KeyVault,'.vault.azure.net/secrets/receiver?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"body": {
						"simple": "body"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"pipelineName": {
				"type": "string",
				"defaultValue": "test"
			},
			"RunId": {
				"type": "string",
				"defaultValue": "-1"
			},
			"batchgroupid": {
				"type": "string",
				"defaultValue": "-1"
			},
			"feedkey": {
				"type": "string",
				"defaultValue": "-1"
			},
			"activityname": {
				"type": "string",
				"defaultValue": "test"
			},
			"KeyVault": {
				"type": "string",
				"defaultValue": "devmdpkv1003"
			},
			"Status": {
				"type": "string",
				"defaultValue": "Failure"
			},
			"errorcode": {
				"type": "string",
				"defaultValue": "000"
			},
			"errormessage": {
				"type": "string",
				"defaultValue": "test error"
			}
		},
		"folder": {
			"name": "MDPUtil"
		},
		"annotations": []
	}
}