pipeline/pipeline_controlflow_if.json
{
	"name": "pipeline_controlflow_if",
	"properties": {
		"activities": [
			{
				"name": "Current Timestamp",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current_timestamp",
					"value": {
						"value": "@adddays(utcNow(),-1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Current Timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(0,dayOfWeek(variables('current_timestamp')))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "not sunday",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "sunday",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"variables": {
			"current_timestamp": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Learning_adf"
		},
		"annotations": []
	}
}