pipeline/pipeline_merge_json_files.json
{
	"name": "pipeline_merge_json_files",
	"properties": {
		"activities": [
			{
				"name": "GetJsonFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ListJsonFiles",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "Loop_json_files_from_blob",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetJsonFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetJsonFiles').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Load_json_files_db",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "raw",
										"wildcardFileName": "*.json",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"name": "ProductID",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['title']"
											},
											"sink": {
												"name": "Title",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['description']"
											},
											"sink": {
												"name": "Description",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['category']"
											},
											"sink": {
												"name": "Category",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['price']"
											},
											"sink": {
												"name": "Price",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['rating']"
											},
											"sink": {
												"name": "Rating",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"path": "['stock']"
											},
											"sink": {
												"name": "Stock",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['products']"
								}
							},
							"inputs": [
								{
									"referenceName": "Json1",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQLProducts",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Learning_adf"
		},
		"annotations": []
	}
}