pipeline/RecordTelemAndLogRowCount.json
{
	"name": "RecordTelemAndLogRowCount",
	"properties": {
		"activities": [
			{
				"name": "Log Integration Control",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[app].[SetIntegrationControlRow]",
						"storedProcedureParameters": {
							"BatchGroupId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.BatchGroupId",
									"type": "Expression"
								}
							},
							"BatchRunId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.BatchRunId",
									"type": "Expression"
								}
							},
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"ExternalFeedKey": {
								"type": "Int32",
								"value": {
									"value": "@{pipeline().parameters.ExternalFeedKey}",
									"type": "Expression"
								}
							},
							"ExternalFields": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.ExternalFields",
									"type": "Expression"
								}
							},
							"ExternalFileFormat": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.ExternalFileFormat",
									"type": "Expression"
								}
							},
							"ExternalJSON": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.ExternalJSON",
									"type": "Expression"
								}
							},
							"ExternalStorageContainer": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.ExternalStorageContainer",
									"type": "Expression"
								}
							},
							"ExternalStorageFolder": {
								"type": "String",
								"value": {
									"value": "@{pipeline().parameters.ExternalStorageFolder}",
									"type": "Expression"
								}
							},
							"ExternalStorageURI": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.ExternalStorageURI",
									"type": "Expression"
								}
							},
							"ExternalTableName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.ExternalTableName",
									"type": "Expression"
								}
							},
							"ExternalTableNameADLS": {
								"type": "String",
								"value": {
									"value": "@{pipeline().parameters.ExternalTableNameADLS}",
									"type": "Expression"
								}
							},
							"IntegrationControlKey": {
								"type": "Int32",
								"value": "0"
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"PipelineRunId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineTriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"PipelineTriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsMDP",
						"type": "DatasetReference",
						"parameters": {
							"server": {
								"value": "@pipeline().parameters.mdpserver",
								"type": "Expression"
							},
							"db": {
								"value": "@pipeline().parameters.mdpdb",
								"type": "Expression"
							},
							"schema": "dbo",
							"table": "Dummy"
						}
					}
				}
			},
			{
				"name": "Record Telemetry",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Log Integration Control",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[app].[RecordTelemetry]",
					"storedProcedureParameters": {
						"FeedPath": {
							"value": {
								"value": "@{pipeline().parameters.FeedPath}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "[@{pipeline().parameters.BatchSchema}].[@{pipeline().parameters.ExternalTableName}]",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerId": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineTriggerType": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataRead": {
							"value": {
								"value": "@pipeline().parameters.DataRead",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"DataWritten": {
							"value": {
								"value": "@pipeline().parameters.DataWritten",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"FilesRead": {
							"value": {
								"value": "0",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourcePeakConnections": {
							"value": {
								"value": "@pipeline().parameters.sourcePeakConnections",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"SinkPeakConnections": {
							"value": {
								"value": "@pipeline().parameters.sinkPeakConnections",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@pipeline().parameters.rowsRead",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"RowsCopied": {
							"value": {
								"value": "@pipeline().parameters.rowsCopied",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"CopyDuration": {
							"value": {
								"value": "@pipeline().parameters.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Throughput": {
							"value": {
								"value": "@pipeline().parameters.throughput",
								"type": "Expression"
							},
							"type": "String"
						},
						"UsedDataIntegrationUnits": {
							"value": {
								"value": "@pipeline().parameters.UsedDataIntegrationUnits",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"UsedParallelCopies": {
							"value": {
								"value": "@pipeline().parameters.usedParallelCopies",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"FeedKey": {
							"value": {
								"value": "@{pipeline().parameters.ExternalFeedKey}",
								"type": "Expression"
							},
							"type": "String"
						},
						"BatchRunId": {
							"value": {
								"value": "@pipeline().parameters.BatchRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"IntegrationControlKey": {
							"value": {
								"value": "@activity('Log Integration Control').output.firstRow.IntegrationControlKey",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"logfilepath": {
							"value": {
								"value": "@concat(pipeline().parameters.ExternalStorageContainer,pipeline().parameters.FeedPath,pipeline().parameters.filename)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp_Azure",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Log Row Count",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Record Telemetry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[app].[SetIntegrationControlRowCount]",
					"storedProcedureParameters": {
						"IntegrationControlKey": {
							"value": {
								"value": "@activity('Log Integration Control').output.firstRow.IntegrationControlKey",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"OptionalDetail": {
							"value": " ",
							"type": "String"
						},
						"PipelineId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ProcessStream": {
							"value": {
								"value": "@pipeline().parameters.ProcessStream",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsMDPapp_Azure",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": {
							"value": "@pipeline().parameters.mdpserver",
							"type": "Expression"
						},
						"dbname": {
							"value": "@pipeline().parameters.mdpdb",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"BatchGroupId": {
				"type": "string"
			},
			"mdpserver": {
				"type": "string"
			},
			"mdpdb": {
				"type": "string"
			},
			"BatchRunId": {
				"type": "string"
			},
			"ExternalFeedKey": {
				"type": "string"
			},
			"ExternalFields": {
				"type": "string"
			},
			"ExternalFileFormat": {
				"type": "string"
			},
			"ExternalJSON": {
				"type": "string"
			},
			"ExternalStorageContainer": {
				"type": "string"
			},
			"ExternalStorageFolder": {
				"type": "string"
			},
			"ExternalStorageURI": {
				"type": "string"
			},
			"ExternalTableName": {
				"type": "string"
			},
			"ExternalTableNameADLS": {
				"type": "string"
			},
			"IntegrationControlKey": {
				"type": "string"
			},
			"PipelineName": {
				"type": "string"
			},
			"PipelineRunId": {
				"type": "string"
			},
			"PipelineTriggerId": {
				"type": "string"
			},
			"PipelineTriggerName": {
				"type": "string"
			},
			"FeedPath": {
				"type": "string"
			},
			"BatchSchema": {
				"type": "string"
			},
			"DataRead": {
				"type": "int"
			},
			"DataWritten": {
				"type": "int"
			},
			"sourcePeakConnections": {
				"type": "int"
			},
			"sinkPeakConnections": {
				"type": "int"
			},
			"rowsRead": {
				"type": "int"
			},
			"rowsCopied": {
				"type": "int"
			},
			"copyDuration": {
				"type": "int"
			},
			"throughput": {
				"type": "string"
			},
			"usedParallelCopies": {
				"type": "int"
			},
			"filename": {
				"type": "string"
			},
			"UsedDataIntegrationUnits": {
				"type": "int"
			},
			"ProcessStream": {
				"type": "string"
			}
		},
		"folder": {
			"name": "MDPUtil"
		},
		"annotations": []
	}
}